<div class="user-data-container mb3 content_text content">
    {% if data.title %}
        <h2>{{ data.title|raw }}</h2>
    {% endif %}
    {% if data.text %}
        {{ data.text|raw }}
    {% endif %}
</div>
