{% block enhavo_image_cropper_widget %}
    {% trans_default_domain translation_domain %}

    <div style="margin-top: 5px;">
        {% for format,label in formats %}
            <div data-image-cropping-tool="{{ format }}">{{ label }}</div>
        {% endfor %}
    </div>
{% endblock %}