<li class="media-item" data-media-item data-media-meta="{{ media_meta(form.vars.data)|json_encode }}">
    {% block thumb %}
        <div class="thumb" data-media-thumb>
            <i class="icon" data-media-thumb-icon></i>
            <div class="hover"></div>
            <div class="icons">
                <i class="icon icon-edit-1"></i>
                <i class="icon sortable-icon icon-swap"></i>
            </div>
        </div>
    {% endblock %}

    {% block delete %}
        <div class="delete-button" data-media-item-delete>
            <i class="icon icon-close"></i>
        </div>
    {% endblock %}

    {% block edit %}
        <div class="edit" data-media-edit>
            {% block form %}
                {% for key, child in form.children %}
                    {% if key == 'parameters' %}
                        <div class="edit-parameters">
                            {{ form_widget(child) }}
                        </div>
                    {% else %}
                        {{ form_row(child) }}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block list_extension %}{% endblock %}
</li>