<div data-simple-file-uploader>
    <input type="file"
           name="files[]"
           data-url="/file/add"
           data-file-upload
           data-multiple="{% if multiple %}true{% else %}false{% endif %}"
           data-prototype="{{ prototype|e }}"
           data-index="{{ index }}"
           {% if multiple %}multiple{% endif %}
    />

    <div>
        Status:
        <div data-file-status-bar class="bar" style="width: 0%;"></div>
    </div>

    <div data-file-list>
        {{ content|raw }}
    </div>
</div>


