services:
    Enhavo\Bundle\BlockBundle\Command\CleanUpCommand:
        arguments:
            - '@Enhavo\Bundle\BlockBundle\Block\BlockManager'
        tags:
            - { name: console.command }

    Enhavo\Bundle\BlockBundle\Maker\MakeBlock:
        arguments:
            - '@kernel'
            - '@enhavo_app.maker.util'
            - '@twig'
            - '@filesystem'
        tags:
            - { name: 'maker.command' }

    Enhavo\Bundle\BlockBundle\Maker\MakeBlockEndpointData:
        arguments:
            - '@Enhavo\Bundle\BlockBundle\Block\BlockManager'
            - '@enhavo_block.block.factory'
            - '@kernel'
            - '@filesystem'
            - '@Enhavo\Bundle\ApiBundle\Normalizer\DataNormalizer'
            - '@enhavo_block.node.factory'
        tags:
            - { name: 'maker.command' }

    Enhavo\Bundle\BlockBundle\Command\DebugBlockUseCommand:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Enhavo\Bundle\BlockBundle\Block\BlockManager'
        tags:
            - { name: console.command }
