services:
    enhavo_grid.form.grid:
        class: Enhavo\Bundle\GridBundle\Form\Type\GridType
        tags:
            - { name: form.type, alias: enhavo_grid }

    enhavo_grid.form.item:
        class: Enhavo\Bundle\GridBundle\Form\Type\ItemType
        tags:
            - { name: form.type, alias: enhavo_grid_item }

    enhavo_grid.form.cite:
        class: Enhavo\Bundle\GridBundle\Form\Type\CiteItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_cite_item }

    enhavo_grid.form.gallery:
        class: Enhavo\Bundle\GridBundle\Form\Type\GalleryItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_gallery_item }

    enhavo_grid.form.picture:
        class: Enhavo\Bundle\GridBundle\Form\Type\PictureItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_picture_item }

    enhavo_grid.form.text:
        class: Enhavo\Bundle\GridBundle\Form\Type\TextItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_text_item }

    enhavo_grid.form.text_picture:
        class: Enhavo\Bundle\GridBundle\Form\Type\TextPictureItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_text_picture_item }

    enhavo_grid.form.video:
        class: Enhavo\Bundle\GridBundle\Form\Type\VideoItemType
        arguments:
            - '%enhavo_app.translate%'
        tags:
            - { name: form.type, alias: enhavo_grid_video_item }

    enhavo_grid.form.column:
        class: Enhavo\Bundle\GridBundle\Form\Type\ColumnType
        arguments:
            - '%enhavo_grid.column.width_form%'
            - '%enhavo_grid.column.style_form%'
        tags:
            - { name: form.type, alias: enhavo_grid_column }

    enhavo_grid.form.style:
        class: Enhavo\Bundle\GridBundle\Form\Type\StyleType
        arguments:
            - '%enhavo_grid.column.styles%'
        tags:
            - { name: form.type, alias: enhavo_grid_style }

    enhavo_grid.form.width:
        class: Enhavo\Bundle\GridBundle\Form\Type\WidthType
        tags:
            - { name: form.type, alias: enhavo_grid_width }