{% block buttons %}
    <button class="btn offset2 span2 close"><i class="icon-remove"></i> {{ 'label.cancel'|trans }}</button>
    <button class="btn span2 save" type="button"><i class="icon-ok"></i> {{ 'label.save'|trans }}</button>

    {% if showDeleteButton is defined %}
      <button class="btn span2 delete" type="button"><i class="icon-trash"></i> {{ 'label.delete'|trans }}</button>
    {% endif %}
{%- endblock -%}

{% block buttonRow %}
    <div class="row">
        {{ block('buttons') }}
    </div>
{% endblock %}