New Comment: <br />
<a href="{{ comment_confirm_url(comment) }}">{{ comment_confirm_url(comment) }}</a><br/>
<br/>
Pending Comments: <br/>
{% for pendingComment in pendingComments %}
    <div><a href="{{ comment_confirm_url(pendingComment) }}">{{ comment_confirm_url(pendingComment) }}</a></div>
{% endfor %}