enhavo_article_admin_api_article_index:
    path: /article/index
    methods: [GET]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_index
            grid: enhavo_article.article

enhavo_article_admin_api_article_list:
    path: /article/list
    methods: [GET,POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_list
            grid: enhavo_article.article

enhavo_article_admin_api_article_create:
    path: /article/create
    methods: [GET, POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_create
            input: enhavo_article.article

enhavo_article_admin_api_article_update:
    path: /article/update/{id}
    methods: [GET, POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_update
            input: enhavo_article.article

enhavo_article_admin_api_article_delete:
    path: /article/delete/{id}
    methods: [DELETE, POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_delete
            input: enhavo_article.article

enhavo_article_admin_api_article_batch:
    path: /article/batch
    methods: [POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_batch
            grid: enhavo_article.article

enhavo_article_admin_api_duplicate:
    path: /article/duplicate/{id}
    methods: [POST]
    defaults:
        _expose: admin_api
        _endpoint:
            type: resource_duplicate
            grid: enhavo_article.article

enhavo_article_admin_api_preview:
    path: /article/preview/{id}
    methods: [GET, POST]
    defaults:
        _expose: admin_api
        _area: theme
        _endpoint:
            type: preview
            input: enhavo_article.article
            endpoint:
                type: Enhavo\Bundle\ArticleBundle\Endpoint\ArticleEndpointType
                resource: expr:resource
                preview: true

enhavo_article_admin_api_article_auto_complete:
    options:
        expose: true
    path: /article/article/article/auto-complete
    defaults:
        _endpoint:
            type: auto_complete
            resource: enhavo_article.article
            repository_method: findByTerm
            choice_label: title
