<div data-alert-dialog class="dialog dialog-error">
    <div class="dialog-content">
        <i class="dialog-icon dialog-icon-error icon-cancel-circled"></i>
        <span>__message__</span>
    </div>
    <div class="dialog-buttons">
        <button class="btn close">
            <i class="icon-cancel"></i>
            {{ 'label.close'|trans({}, 'EnhavoAppBundle') }}
        </button>
    </div>
</div>