<div data-confirm-dialog class="dialog dialog-confirm">
    <div class="dialog-content">
        <i class="dialog-icon dialog-icon-warning icon-warning"></i>
        <span>__message__</span>
        <div class="dialog-buttons">
            <button data-dialog-close class="btn close">
                <i class="icon-cancel"></i>
                {{ 'label.no'|trans({}, 'EnhavoAppBundle') }}
            </button>
            <button data-dialog-confirm class="btn">
                <i class="icon-ok"></i>
                {{ 'label.yes'|trans({}, 'EnhavoAppBundle') }}
            </button>
        </div>
    </div>
</div>