Enhavo\Bundle\BlockBundle\Entity\Container:
    properties:
        blocks:
            - Valid: ~

Enhavo\Bundle\BlockBundle\Entity\Node:
    properties:
        block:
            - Valid: ~
        children:
            - Valid: ~

Enhavo\Bundle\BlockBundle\Entity\Video:
    properties:
        url:
            - Enhavo\Bundle\BlockBundle\Validator\Constraints\VideoUrl: ~
