.block-article-stream { margin-top:5%; border-top:1px solid $black; padding-top:5%;
  .title {@extend %smallTitle;margin-bottom:75px;}
  article { display:flex;flex-flow: row wrap;align-content: center;
    &:nth-child(2n) {
      .article-content {order: -1;padding:0 100px 0 0;}
    }
    +article { margin-top:0;}
  }
  .article-thumb {position:relative; padding-bottom:46%;flex:50%;max-width:none; margin-bottom:0;
    img {width:100%;object-fit:cover; position:absolute; left:0; top:0; height:100%;}
  }
  .article-content {flex:50%;align-self: center; padding:0 0 0 100px;}
  .article-teaser { font-size:$fontSize2;}
  .article-date { font-size:$fontSize1;}
  .article-title { font-weight:$bold; margin-bottom:20px; margin-top:0;}
  .btn { margin-top:40px;}
  .recent-articles { margin-top:10%; background:$spotColor; padding:60px $columnSpacing 10px;
    .title { margin-bottom:0;}
    .articles {display:flex;}
    article {max-width:33.333%; flex-flow: column; margin:25px;
      .article-thumb { flex:none; width:100%;}
      .article-content {flex:none; padding:15px;}
      &:nth-child(2n) {
        .article-content {order:unset;}
      }
    }
  }
  .pagination {justify-content: center;
    li {
      a { border:1px solid #e6e6e6; padding:4px 15px; font-size:$fontSize1; text-transform:uppercase; min-width:38px; height:38px; font-weight:$medium; line-height:29px; color:darken(#e6e6e6, 30%);transition:all .2s}
      +li { margin-left:-1px;}
      &.active { position:relative; z-index:1;
        a { border-color:$black; color:$black; font-weight:$semibold;}
      }
      &.next, &.prev {
        a {color:$black;
          &:hover { color:$spotColor; border-color:$spotColor;}
        }
      }
      &.prev { margin-right:10px;}
      &.next { margin-left:10px;}
      &:hover {
        a{color:$black;}
      }
    }
  }
}

@media all and(max-width:1450px) {
  .block-article-stream {
    article {
      &:nth-child(2n) {
        .article-content {padding:0 60px 0 15px}
      }
    }
    .article-content { padding:0 15px 0 60px}
    .recent-articles {
      article {
        .article-content { padding:0;}
      }
    }
  }
}

@media all and(max-width:1350px) {
  .block-article-stream {
    .recent-articles { padding:60px 10px 15px;
      article {margin: 10px;}
      .article-teaser { line-height:$lineHeight;}
      .article-thumb { padding-bottom:52%;}
      .article-title { font-size:$fontSize3; margin-bottom:0}
      .btn { margin-top:20px;}
      .title { margin-bottom:15px;}
    }
  }
}

@media all and(max-width:1025px) {
  .block-article-stream {
    article {
      &:nth-child(2n) {
        .article-content {padding:10px 40px 35px 0}
      }
    }
    .btn { margin-top:20px;}
    .article-content { padding:10px 0 35px 40px}
    .recent-articles { margin-left:-15px; margin-right:-15px;padding:30px 5px 5px;}
  }
}

@media all and(max-width:767px) {
  .block-article-stream { border-top:0; margin-top:0; padding-top:0;
    .title { margin-bottom:25px;}
    article { display:block;
      &:nth-child(2n) {
        .article-content { padding:0;}
      }
      .article-content {flex:none; padding:0;}
      .article-title { font-size:$fontSize4; margin-bottom:5px;}
      .article-teaser { line-height:$lineHeight;}
      .article-thumb {flex:none; padding-bottom:52%; margin-bottom:5px;}
      .btn { margin-top:10px;}
      +article { margin-top:30px;}
    }
    .pagination { margin-top:2em;}
    .recent-articles { padding-bottom:15px;
      .articles { display:block;
        article { margin:0 auto; padding:10px;max-width:350px;
          +article { margin-top:25px;}
        }
      }
      .btn { margin-top:10px;}
    }
  }
}