.block-contact {
  form {max-width:760px; margin:3% 0;
    fieldset {
      +fieldset { margin-top:3%;
        input {
          +input { margin-top:-1px;}
        }
      }
    }
    input { position:relative;
      &:focus { z-index:1;}
    }
    input[type="text"], input[type="email"] {@extend %textInput;}
    input[type="submit"] {@extend %btn; font-size:$baseFontSize; margin-top:6%;
      &:focus {outline:0;}
    }
    textarea {@extend %textInput;min-height:250px; margin-top:3%;}
    .checkbox {@extend %checkbox; margin-top:5%;}
  }
}

@media all and(max-width:767px) {
  .block-contact {
    form {
      fieldset {
        + fieldset { margin-top:5%;}
      }
      input[type="submit"] { font-size:$fontSize3;padding: 10px 35px; }
      textarea {min-height:150px; margin-top:5%;}
    }
  }
}