.block-gallery {
  img {width:100%}
}

@media all and (max-width:767px) {
  .block-gallery {
    .arrow { display:none !important;}
    .slick-dots { position:absolute; bottom:25px; left:50%;transform:translateX(-50%); margin-top:0;}
  }
}
