.block-newsletter { text-align:center;
  .title { margin-bottom:25px;@extend %smallTitle}
  form {max-width:760px; margin:3% auto;
    input { position:relative;
      &:focus { z-index:1;}
    }
    input[type="text"] { width:50%; float:left;
      &:first-of-type { margin-right:-1px;}
      &:nth-of-type(2) { margin-left:-1px;}
    }
    input[type="email"] {top:-1px; width:calc(100% - 2px)}
    input[type="text"], input[type="email"] {@extend %textInput;}
    input[type="submit"] {@extend %btn; font-size:$baseFontSize; margin-top:6%;
      &:focus {outline:0;}
    }
    .checkbox {@extend %checkbox; margin-top:3%;}
  }
}

@media all and(max-width:767px) {
  .block-newsletter { 
    form {
      input[type="text"] { width:100%; float:none;
        &:first-of-type { margin-right:0;}
        &:nth-of-type(2) { margin-left:0; margin-top:-1px;}
      }
      input[type="email"] { width:100%;}
      .checkbox { float:left; text-align:left;}
    }
  }
}