<div style="padding-top: 10px; padding-bottom: 10px;">
    <table border="0">
        <tr>
            <td style="font-weight: bold; padding: 10px;">"</td>
            <td style="padding: 10px;">{% if block.cite %}{{ block.cite|raw }}{% endif %}</td>
        </tr>
    </table>
</div>