<div style="padding-top: 10px; padding-bottom: 10px;">
    <div>
        {% if block.title %}
            <h2>{{ block.title|raw }}</h2>
        {% endif %}
        {% if block.text %}
        <p>{{ block.text|raw }}</p>
        {% endif %}
    </div>
    <div>
        {% for file in block.files %}
            <img src="{{ media_url(file) }}" />
        {% endfor %}
    </div>
</div>