<div style="padding-top: 10px; padding-bottom: 10px;">
    {% if block.title %}
        <h2>{{ block.title|raw }}</h2>
    {% endif %}
    {% if block.file %}
        <img src="{{ media_url(block.file, 'container_width') }}" style="width:100%">
    {% endif %}
    {% if block.caption %}
        <p style="font-size: 13px;margin-top: 5px;">{{ block.caption }}</p>
    {% endif %}
</div>