<div style="padding-top: 10px; padding-bottom: 10px;">
    <div>
        {% if block.title %}
            <h2>{{ block.title|html_sanitize }}</h2>
        {% endif %}
        {% if block.text %}
            {{ block.text|html_sanitize }}
        {% endif %}
    </div>
</div>
