<div style="padding-top: 10px; padding-bottom: 10px;">
    {% if block.title %}
        <h2>{{ block.title|raw }}</h2>
    {% endif %}
    <iframe src="{{ block.url }}" style="width:100%; height: auto; border:0;"></iframe>
</div>