<div
    data-media_library
    data-block
    data-block-app="media/Block/MediaLibrary"
    data-block-type="media_library"
    class="block-app media-library loading"
>
    <div class="media-library-block-title">Media Library</div>
    <div class="media-library-block-description">Ziehen Sie Dateien aus Ihrem Datei-Explorer / Finder auf diese Fläche.</div>
    <div data-file-list></div>
</div>