{% for product in products %}
    <form method="POST" action="{{ path('enhavo_shop_theme_cart_item_add', {'product': product.id}) }}" data-form-cart-add>
        <div>
            {{ product.id }} -
            {{ product.title }} - <input type="text" name="quantity" value="1" /> <a data-submit-cart-add href="javascript:return false;">Add product to cart</a>
        </div>
    </form>
{% endfor %}