cmf_routing:
    dynamic:
        controllers_by_class:
            Enhavo\Bundle\ArticleBundle\Entity\Article: enhavo_article.controller.article::showResourceAction

enhavo_content:
    sitemap:
        collectors:
            article:
                type: publish
                repository: enhavo_article.repository.article

enhavo_routing:
    classes:
        Enhavo\Bundle\ArticleBundle\Entity\Article:
            router:
                default:
                    type: template
                    template: article
                view:
                    type: id
                    route: enhavo_article_article_update
                admin:
                    type: admin
                    index_route: enhavo_article_article_index
                    update_route: enhavo_article_article_update
            generators:
                slug:
                    type: slug
                    property: title

enhavo_app:
    template_paths:
        enhavo_article:
            path: '@EnhavoArticleBundle/Resources/views'
            alias: EnhavoArticle
            priority: 10
    roles:
        enhavo_article_article_index:
            role: ROLE_ENHAVO_ARTICLE_ARTICLE_INDEX
            label: article.role.label.index
            translation_domain: EnhavoArticleBundle
        enhavo_article_article_create:
            role: ROLE_ENHAVO_ARTICLE_ARTICLE_CREATE
            label: article.role.label.create
            translation_domain: EnhavoArticleBundle
        enhavo_article_article_update:
            role: ROLE_ENHAVO_ARTICLE_ARTICLE_UPDATE
            label: article.role.label.update
            translation_domain: EnhavoArticleBundle
        enhavo_article_article_delete:
            role: ROLE_ENHAVO_ARTICLE_ARTICLE_DELETE
            label: article.role.label.delete
            translation_domain: EnhavoArticleBundle

enhavo_taxonomy:
    taxonomies:
        article_category:
            label: article.label.category
            translation_domain: EnhavoArticleBundle
        article_tag:
            label: article.label.tag
            translation_domain: EnhavoArticleBundle

enhavo_template:
    template:
        article:
            repository: enhavo_article.repository.article
            label: article.label.article
            translation_domain: EnhavoArticleBundle
            resource_template: theme/resource/article/resource.html.twig

doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\ArticleBundle\Model\ArticleInterface: Enhavo\Bundle\ArticleBundle\Entity\Article


enhavo_resource:
    resources:
        enhavo_article.article:
            classes:
                model: Enhavo\Bundle\ArticleBundle\Entity\Article
    grids:
        enhavo_article.article:
            class: Enhavo\Bundle\ResourceBundle\Grid\Grid
            resource: enhavo_article.article
            actions:
                filter:
                    type: filter
            filters:
                title:
                    type: text
                    property: title
                    label: Text
            columns:
                title:
                    type: label
                    property: title
            batches:
                delete:
                    type: delete

    inputs:
        enhavo_article.article:
            class: Enhavo\Bundle\ResourceBundle\Input\Input
            resource: enhavo_article.article
            form: Enhavo\Bundle\ArticleBundle\Form\Type\ArticleType
            tabs:
                main:
                    type: form
                    label: article.label.article
                    translation_domain: EnhavoArticleBundle
                    arrangement: |
                        link
                        title
                        teaser
                        picture
                        categories
                        tags
                        publication_date
                        published_until
                        public
                content:
                    type: form
                    label: article.label.content
                    translation_domain: EnhavoArticleBundle
                meta:
                    type: form
                    label: article.label.meta
                    translation_domain: EnhavoArticleBundle
            actions:
                preview:
                    type: preview
                    route: enhavo_article_admin_article_preview
