{% extends 'EnhavoThemeBundle:Box:footer.html.twig' %}

{% block bottom %}
    <div class="bottom-bar">
        <p>Copyright 2016 xqweb Ug</p>
        <div class="links">
            <a href="">Impressum</a>
            <a href="">AGB</a>
        </div>
    </div>
{% endblock %}