@CHARSET "UTF-8";
/* CSS RESET */
/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* /CSS RESET */

.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	overflow:hidden;
}

:focus {
	outline: none
}

.container {
	width: 960px;
}

#overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.8;
	z-index:99;
	display:none;
}

#overlayContent {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow-y:auto;
	z-index:100;
	display:none;
}

#overlayMessage {
	position:fixed;
	top:0;
	left:50%;
	width:30%;
	margin-left:-15%;
	padding:10px;
	color:#fff;
	opacity:0.9;
	z-index:1001;
	display:none;
	box-shadow:0px 0px 6px #333;
}

#overlayMessage.info {
    background:#0099dd;
}

#overlayMessage.success {
	background:#90dd66;
}

#overlayMessage.error {
	background:#dd6666;
}

.cursorPointer {cursor:pointer;}
.hide {display: none;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.text-center {text-align:center;}
