/* label container */

.label-container label {
    padding-top:5px;
    color:#ddd;
}


/* input container */

.input-container label {
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 15px;
    color:#ddd;
}

.input-container .icheckbox-esperanto {
    margin-top: 0px;
}


.input-container input[type=file] {
    border:0;
    background:transparent;
}

.input-container .select2-container {
    width: 100%;
}

.input-container .select2-container .select2-choice {
    border-radius: 0;
}

.input-container textarea {
    font: 14px/20px "Arial";
}

.inputContainer {
    display: inline-block;
    min-height: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #777;
    background:#fff;
    width: 100%;
}

.inputContainer.disabled {
    background:#f3f3f3;
}

.inputContainer.textarea {
    height:65px;
}

.inputContainer input,
.inputContainer textarea {
    margin: 5px 6px;
    background:transparent;
    border:0px;
    resize:none;
    width: 100%;
}

.inputContainer textarea {
    margin-right: 20px;
}

.category-list .choice-input-with-label {
    display: block;
    margin-bottom: 3px;
}