services:
    Enhavo\Bundle\ApiBundle\Controller\DocumentationController:
        arguments:
            - '@Enhavo\Bundle\ApiBundle\Documentation\DocumentationCollector'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: controller.service_arguments }

    Enhavo\Bundle\ApiBundle\EventListener\EndpointRouteListener:
        arguments:
            - '@Enhavo\Component\Type\FactoryInterface[Endpoint]'
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: -100 }

    Enhavo\Bundle\ApiBundle\Routing\Loader\EndpointDirectoryLoader:
        arguments:
            - '@file_locator'
            - '@Enhavo\Bundle\ApiBundle\Routing\Loader\AnnotatedRouteEndpointLoader'
        tags:
            - { name: routing.loader }

    Enhavo\Bundle\ApiBundle\Routing\Loader\AnnotatedRouteEndpointLoader:
        arguments:
            - '@annotation_reader'

    Enhavo\Bundle\ApiBundle\Documentation\DocumentationCollector:
        arguments:
            - '@router'
            - '%enhavo_api.documentation%'
        calls:
            - [setEndpointFactory, ['@Enhavo\Component\Type\FactoryInterface[Endpoint]']]

    Enhavo\Bundle\ApiBundle\Normalizer\DataNormalizer:
        tags:
            - { name: serializer.normalizer }

    Enhavo\Bundle\ApiBundle\Profiler\EndpointDataCollector:
        tags:
            - { name: data_collector, id: 'endpoint' }

    Enhavo\Component\Type\FactoryInterface[Endpoint]:
        class: Enhavo\Bundle\ApiBundle\Factory\EndpointFactory
        arguments:
            - 'Enhavo\Bundle\ApiBundle\Endpoint\Endpoint'
            - '@Enhavo\Component\Type\RegistryInterface[Endpoint]'
            - '@Enhavo\Bundle\ApiBundle\Profiler\EndpointDataCollector'
