{{ form_row(form.filename) }}
{#{{ form_row(form.url) }}#}
{% if resource.image %}
    <br><br>
    <div class="row">
        <div class="col-md-push-2 col-md-9">
            <img src="{{ media_url(resource, 'enhavoMediaLibrary') }}" />
        </div>
    </div>
{% endif %}
{{ form_row(form._token) }}
