body {padding-top:140px;font-family: Raleway;font-weight:500;font-size: 19px;line-height:1.3em;}
header {width: 100%;height: 140px;position: fixed;top:0;left:0;z-index: 210;background: #fff;}

.img {
    margin-bottom: -4px;
}

.menue-links {
    padding: 0px 8px;
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    font-weight:500;
    text-decoration: none;
}

#logo {float: left;width: 264px;height: 140px;}
#logo img {max-width:100%;}

.menue-icons {width: 23px;}

.menue-div {
    height: 23px;
    margin-bottom:2px;
    text-align:center;
}

#citation {
    font-family: Raleway;
    font-weight:800;
    font-size:30px;
    line-height:1.25em;
    color: white;
    padding-top:100px;
    text-align: center;
    letter-spacing:-0.02em;
}

#author {
    font-family: Raleway;
    font-weight: 200;
    font-size: 31px;
    color: white;
    text-align: center;
    margin-top: 15px;
}

#text-home {
    color: #022338;
    text-align: left;
    overflow-y: hidden;
    max-height: 195px;
}

#text-content {
    position: relative;
}

#concept {
    background-image:url(../img/150x150_konzept.jpg);
    background-repeat: repeat;
    position: relative;
}
.images {
    height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.concept-img {
    margin-bottom: -4px;
    margin-top: -80px;
    float: left;
    position: relative;
}

.arrow-left-thik {
    position: absolute;
    top: 250px;
    left: 30px;
    width: 18px;
    cursor: pointer;
}

.arrow-right-thik {
    position: absolute;
    top: 250px;
    right: 30px;
    width: 18px;
    cursor: pointer;
}

.content-small {
    position: relative;
    width: 760px;
    left: 50%;
    margin: 0 0 0 -380px;
}

a {
    text-decoration: none;
}

.heading {
    font-family: Raleway;
    font-size: 69px;
    line-height:1em;
    font-weight: 800;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 45px;
}

.underline {
    position: absolute;
    left: 50%;
    margin-left: -143px;
    width: 287px;
    height: 30px;
    margin-top: -4px;
}

.arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -6px;
    width: 127px;
}

.arrow-right {
    margin-left: -147px;
}

.arrow-left {
    margin-left: 20px;
}

.underline-img {
    width:24px;
    position: absolute;
    left: 50%;
    top:3px;
    margin-left:-12px;
}

#concept .text {
    color: white;
    font-weight: 500;
}

#about_us {
    background-image:url(../img/300x300_UeberUns.jpg);
    background-repeat: repeat;
    position: relative;
}

.about_us-img {
    margin-bottom: -4px;
    margin-top: -80px;
    float: left;
}

#about_us .text {
    color: white;
    font-weight: 500;
}

#d2 {
    height: 20px;
    overflow: hidden;
    margin-top: 70px;
}

#read_more {
    display: none;
    color: #d6c4a3;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    margin-top: 5px;
}

#appointments {
    background-image:url(../img/287x290_termine.jpg);
    background-repeat: repeat;
    position: relative;
}

.content-big {
    position: relative;
    width: 760px;
    left: 50%;
    margin: 0 0 0 -380px;
    height: 790px;
}

#appointments .item {
    position: relative;
    min-height: 110px;
    box-sizing:border-box;
    margin-top:34px;
    padding-top:15px;
}

#appointments .calender {
    width: 110px;
    position: absolute;
    top:0;
}

#appointments .date {
    position: absolute;
    color: white;
    top: 13px;
    text-align: center;
    width: 110px;
}

#appointments .day {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 53px;
    line-height:1.1em;
}

#appointments .month {
    font-family: Tahoma;
    font-size: 18px;
}

#appointments .title {
    color: #4c5d66;
    font-weight: 800;
    margin-left: 136px;
}

#appointments .text {
    color: #4c5d66;
    font-weight: 500;
    margin-left: 136px;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

#appointment-text {
   padding-top:65px;
}

#appointment_content {
    display: none;
    position: relative;
    height: 200px;
    margin-top: 98px;
}

#appointment_content form {
    font-family: Raleway;
    font-size: 18pt;
    color: #4c5d66;
    font-weight: 500;
    margin-left: 154px;
    margin-top: 35px;
    line-height: 2;
}

#appointment_content input {
    border-color: #4c5d66;
    width: 525px;
    right: 0px;
    position: absolute;
    margin-top: 10px;
}

#appointment_content .time {
    position: absolute;
    right: 0px;
    top: 1px;
    font-family: Raleway;
    font-size: 18pt;
    color: #4c5d66;
    font-weight: 800;
}

#arrow_right_tick {
    height: 30px;
    position: absolute;
    right: 0px;
    margin-top: 70px;
    cursor: pointer;
}

#participate {
    font-family: Raleway;
    font-size: 18pt;
    color: #4c5d66;
    font-weight: 500;
    position: absolute;
    right: 30px;
    margin-top: 15px;
    cursor: pointer;
}

#appointment_back {
    height: 30px;
    margin-top: 100px;
    margin-left: -20px;
    position: absolute;
    cursor: pointer;
    display: none;
}

#appointments #read_more {
    color: #d6c4a3;
    margin-left: 154px;
    float: left;
}

#appointments .pen-img {
    position:absolute;
    bottom:0;
    right:-20px;
    width: 30px;
    cursor: pointer;
}

#download {
    background-image:url(../img/300x300_downloads.jpg);
    background-repeat: repeat;
    position: relative;
}

#download .item {
    cursor: pointer;
    position: relative;
    min-height: 65px;
    box-sizing:border-box;
    margin-top:34px;
}

.file-img {
    width: 60px;
    position: absolute;
    top:0;
    left:0;
}

#download .title {
    color: white;
    font-weight: 800;
    margin-left: 95px;
}

#download .text {
    color: white;
    font-weight: 500;
    margin-left: 95px;
}

#download .content-big {
    height: 760px; !important
}

#download .heading {
    padding-top: 70px;
}

#download-text {
    padding-top: 65px;
}

#concept-img {
    width: 100%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 200;
    height: 72px;
}

#footer {
    position: absolute;
    height: 72px;
    background-color: #fff;
    bottom: 24px;
    width: 100%;
}

#d1 {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -400px;
    width: 800px;
}

#social-media-buttons {
    float: left;
    cursor: pointer;
}

.social-media-img {
    width:30px;
    margin-right: 10px;
}

#about-text {
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    margin-top: 5px;
    margin-left: 150px;
    cursor: pointer;
}

#arrow-footer {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 30px;
    right: 0px;
    cursor: pointer;
}

#arrow_close {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 30px;
    right: 0px;
    cursor: pointer;
}

.overlay {
    background: rgba(255,255,255,0.9);
    position: absolute;
    width: 100%;
    z-index: 5000;
    bottom: -1500px;
    overflow-x: hidden;
    display: none;
}

#about_content {
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    padding-top: 80px;
    padding-bottom: 50px;
}

#contact_content {
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact {
    display: block;
}

#about_close {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    width: 34px;
    cursor: pointer;
    z-index: 7000;
}

#maps_mail {
    width: 490px;
    height: 273px;
    background: #dedede;
    opacity: 1;
    float: left;
}

#maps_mail ul {
    width: 35px;
    height: 273px;
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    padding-left: 0px; !important;
    padding-top: 0px; !important;
}

#maps_mail li {
    height: 35px;
    width: 132px;
    background: #F0F0F0;
    transform: rotate(270deg);
    text-align: center;
    line-height:35px;
    cursor:pointer;
}

#maps_mail #mail {
    position: absolute;
    left: -49px;
    top: 58px;
}
#maps_mail #maps {
    position: absolute;
    left: -49px;
    top: 200px;
}

#mail_formular {
    position: absolute;
    width: 414px;
    height: 254px;
    top: 19px;
    left: 55px;
    color: white;
    line-height: 2;
    font-size: 18px;
}

input {
    background: transparent;
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;

}

.i1 {
    width: 356px;
    margin-top: 15px;
    border-bottom: transparent;
}

.i2 {
    width: 353px;
    border-bottom: transparent;
}

.i3 {
    width: 349px;
    border-bottom: transparent;
}

.i4 {
    resize: none;
    border: transparent;
    margin: 0px;
    height: 26px;
    width: 156px;
    background: transparent;
    position: absolute;
    top: 141px;
    left: 0px;
    width: 414px;
    height: 60px;
    z-index: 100;
    font-family: Raleway;
    font-size: 18px;
    color: #4c5d66;
    line-height: 2;
}

textarea:focus {
    border: transparent;
}

#arrow_send {
    height: 30px;
    bottom: 0px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

#mapContainer {
    position: absolute;
    width: 455px;
    height: 273px;
    top: 10px;
    left: 35px;
    color: white;
    line-height: 2;
    font-size: 18px;
}

.gm-style img {max-width:none;}

#contact_text {
    margin-left: 510px;
    position: relative;
    top: 50%;
    color: #b83617;
    font-family: Raleway;
}

#contact_heading {
    color: #b83617;
    font-weight: 700;
}

.contact_data {
    color: #b83617;
    font-size: 15px;
    line-height: 1.3;
}

#close {
    display: none;
    float: right;
    height: 30px;
    cursor: pointer;
}

#concept_arrows {
    width: 100%;
}

.slider {
    position: relative;
}

.message-line {
    position: absolute;
    top: 134px;
    height: 95px;
    width: 414px;
    background-image:url(../img/message-line.png);
}

.line {
    position: absolute;
    top: -10px;
    height: 117px;
    width: 353px;
    left: 61px;
    background-image:url(../img/message-line.png);
}

.container {margin:0 auto;width:760px;}
.posrel {position:relative;}
.text-center {text-align:center;}
.text-red {color: #cf0000;}
nav {padding-top:30px;}
nav li {padding-top:8px;cursor:pointer;float:left;line-height:32px;}
nav li:hover .menue-links,
nav li.active .menue-links {text-decoration:underline;}
section {overflow:hidden;}

#home-arrow-up {width: 30px;cursor: pointer;position:absolute;top:0;left:50%;margin-left:-13px;opacity:0.5;transition:all 250ms;}
#home-arrow-up:hover {opacity:1;}
#home-arrow-down {width: 30px;cursor: pointer;position:absolute;bottom:0;left:50%;margin-left:-13px;opacity:0.5;transition:all 250ms;}
#home-arrow-down:hover {opacity:1;}
#home-text-container {padding-top:30px;padding-bottom:30px;position:relative;margin-top:50px;}
#li-top {padding-top:0;margin-right:40px;}

.esperanto-fullscreen {position:fixed;top:0;left:0;}
.esperanto-fullscreen-within {position:absolute;top:0;left:0;z-index:-1;}