doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\BlockBundle\Model\NodeInterface: Enhavo\Bundle\BlockBundle\Entity\Node

enhavo_media:
    formats:
        container_width:
            type: image
            width: 960

enhavo_app:
    template_paths:
        enhavo_block:
            path: '@EnhavoBlockBundle/Resources/views'
            alias: EnhavoBlock
            priority: 10
#    form_themes:
#        - '@EnhavoBlock/admin/form/block/fields.html.twig'

enhavo_doctrine_extension:
    metadata:
        Enhavo\Bundle\BlockBundle\Entity\Node:
            reference:
                block:
                    idField: blockId
                    nameField: blockClass
