<ul id="leftNavi">
{% for menu in menus %}
    {% if menu.isDisplayed %}
        <li class="{% if menu.isCurrent() %}selected{% endif %}">
            <a href="{{ menu.uri }}" class="{{ menu.attribute('class') }}">
              <span>{{ menu.label|trans }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>