<div class="row enhavo_grid">
    <div class="container">
        <div class="enhavo_grid_citetext">
        {% if data.cite %}
            {{ data.cite|raw }}
        {% endif %}
        </div>
    </div>
</div>