<div class="row enhavo_grid">
    <div class="enhavo_grid_gallery">
        <div class="slider">
            {% for file in data.files %}
                <div>
                    <img src="{{ media_url(file) }}" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>