<div class="row enhavo_grid">
    <div class="enhavo_grid_picture">
    {% if data.title %}
        <h2>{{ data.title|raw }}</h2>
    {% endif %}
    {% if data.file %}
        <div class="col-sm-6">
        <img class="enhavo_grid_img" src="{{ media_url(data.file,960) }}">
        {% if data.caption %}
            <p class="picture_caption">{{ data.caption }}</p>
        {% endif %}
        </div>
    {% endif %}
    </div>
</div>