<div class="row enhavo_grid">
    <div class="col-sm-12 border-right">
        <div class="enhavo_grid_text multi-column">
            {% if data.text %}
                {{ data.text|raw }}
            {% endif %}
        </div>
    </div>
</div>