{% extends template('admin/view/app.html.twig') %}

{% block content %}
    {#<div id="app"></div>#}
    <table>
        <tr>
            <th>Email</th>
            <th>Sent At</th>
            <th>Show Email</th>
        </tr>
        {% for receiver in resource.receivers %}
            <tr>
                <td>{{ receiver.email }}</td>
                <td>{{ receiver.sentAt }}</td>
                <td><a href="">Show</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}