<aside class="clearfix">
    <div class="widget-area">
    {% block top %}{% endblock %}
    {% block widget %}
        {% for widget in widgets %}
            {{ theme_widget_render(widget.type, widget) }}
        {% endfor %}
    {% endblock %}
    {% block bottom %}{% endblock %}
    </div>
    <div class="fade-out-widgets">

    </div>
</aside>