doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\CommentBundle\Model\ThreadInterface: Enhavo\Bundle\CommentBundle\Entity\Thread
            Enhavo\Bundle\CommentBundle\Model\CommentInterface: Enhavo\Bundle\CommentBundle\Entity\Comment

enhavo_app:
    template_paths:
        enhavo_comment:
            path: '@EnhavoCommentBundle/Resources/views'
            alias: 'EnhavoComment'
            priority: 10

enhavo_doctrine_extension:
    metadata:
        Enhavo\Bundle\CommentBundle\Entity\Thread:
            reference:
                subject:
                    idField: subjectId
                    nameField: subjectClass
