<div class="row tabContainer">
    <div class="container-fluid">
        {% for tab in tabs %}
          <a href="#" tabId="tab{{ loop.index }}">{{ tab.label }}</a>
        {% endfor %}
    </div>
</div>

<div class="row tabContentContainer">
    {% for tab in tabs %}
        <div id="tab{{ loop.index }}" class="col-xs-12">
            {% include tab.template  %}
        </div>
    {% endfor %}
</div>

{% if form._token is defined %}
    {% if not form._token.rendered %}
        {{ form_row(form._token) }}
    {% endif %}
{% endif %}
