imports:
    - { resource: '@EnhavoShopBundle/Resources/config/app/search.yaml' }

sylius_attribute:
    driver: doctrine/orm
    resources:
        product:
            # Make sure to provide the correct Product class in the subject.
            subject: Enhavo\Bundle\ShopBundle\Entity\Product
            attribute:
                classes:
                    model: Enhavo\Bundle\ShopBundle\Entity\ProductAttribute
                    repository: Enhavo\Bundle\ShopBundle\Repository\ProductAttributeRepository
                    controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                    form: Enhavo\Bundle\ShopBundle\Form\Type\ProductAttributeType
