security:
    enable_authenticator_manager: true

    password_hashers:
        Enhavo\Bundle\UserBundle\Model\UserInterface: auto

    providers:
        entity_user_provider:
            entity:
                class: Enhavo\Bundle\UserBundle\Model\User
                property: userIdentifier

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        admin:
            pattern:  ^/admin/?.*
            context: user
            user_checker: Enhavo\Bundle\UserBundle\Security\UserChecker
            entry_point: Enhavo\Bundle\UserBundle\Security\EntryPoint\FormAuthenticationEntryPoint
            custom_authenticators:
                - Enhavo\Bundle\UserBundle\Security\Authentication\FormLoginAuthenticator
            logout:
                path: enhavo_user_admin_logout
                target: enhavo_user_admin_login

        main:
            pattern: .*
            context: user
            user_checker: Enhavo\Bundle\UserBundle\Security\UserChecker
            entry_point: Enhavo\Bundle\UserBundle\Security\EntryPoint\FormAuthenticationEntryPoint
            custom_authenticators:
                - Enhavo\Bundle\UserBundle\Security\Authentication\FormLoginAuthenticator
            logout:
                path: enhavo_user_theme_logout
                target: enhavo_user_theme_login

    access_control:
        - { path: ^/admin/login$, role: PUBLIC_ACCESS }
        - { path: ^/admin/logout$, role: PUBLIC_ACCESS }
        - { path: ^/admin/reset-password/.+, role: PUBLIC_ACCESS }
        - { path: ^/admin/api/login/.+, role: PUBLIC_ACCESS }
        - { path: ^/admin/api/reset-password/.+, role: PUBLIC_ACCESS }
        - { path: ^/admin, role: ROLE_ADMIN }

        - { path: ^/user/login$, role: PUBLIC_ACCESS }
        - { path: ^/user/login/check$, role: PUBLIC_ACCESS }
        - { path: ^/user/registration/.+, role: PUBLIC_ACCESS }
        - { path: ^/user/reset-password/.+, role: PUBLIC_ACCESS }
        - { path: ^/user/delete/finish$, role: PUBLIC_ACCESS }
        - { path: ^/user/, role: ROLE_USER }
