{#{{ dump(node) }}#}
<a class="{% if navigation_node_is_active(node) %}active{% endif %}"
   target="_{{ node.configuration.target }}"
   href="{{ router(node.content) }}">
    {{ node.label|default(node.content.title) }}
</a>