/* upload Form */

.uploadForm .bar {
    height: 18px;
    background: #eeaa33;
    margin-bottom:1px;
}

.uploadForm .dropzone {
    background: #dd9933;
    width: 100%;
    min-height: 110px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.uploadForm .dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

.uploadForm .dropzone.hover {
    background: lawngreen;
}

.uploadForm .dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}


.uploadForm .list li {
    float:left;
    margin:5px;
    position:relative;
}

.uploadForm .list li .imgdelete {
    position: absolute;
    top:0;
    right:0;
    color:#fff;
    background:#666666;
    display:none;
    cursor:pointer;
    width:35px;
    height:35px;
}

.uploadForm .list li .imgdelete i {position:absolute;top:3px;right:6px;}

.uploadForm .list li:hover .imgdelete {
    display:block;
}

.uploadForm-image-container {background: repeating-linear-gradient(45deg,#aaaaaa,#aaaaaa 10px,#ffffff 10px,#ffffff 20px);width:100px;height:100px;}