ENVIRONMENT=dev
DEBUG=true
DEBUG_TOOLBAR=true
APP_ENV=dev
APP_SECRET=bef24bcb3f9e233a5e4623c864350c6c
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
MAILER_URL=null://localhost
MAILER_FROM=
MAILER_TO=
MAILER_NAME=
MAILER_DELIVERY_ADDRESS=