.idea
.settings
.build
/web/bundles/
/web/build/*
/app/check.php
/app/SymfonyRequirements.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/composer.phar
/test
/app/media/*
!app/media/.gitkeep
/web/videos
/web/js
/web/css
/node_modules
/auth.json
/var
/elasticsearch
/docs/build
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
/.web-server-pid
.phpunit
/phpunit.xml
behat.yml
