.idea
.settings
.build
/public/bundles/
!/public/build/.gitkeep
/public/build/*
/public/videos
/public/js
/public/css
/build/
/composer.phar
/node_modules
/auth.json
/elasticsearch
/docs/build
/.env.local
/.env.*.local
/var/
/vendor/
/.web-server-pid
.phpunit
/phpunit.xml
/npm-debug.log
/yarn-error.log
/assets/theme/custom.scss
