.idea
.settings
.build
.sass-cache
/web/bundles/
/www/bundles/
/app/check.php
/app/SymfonyRequirements.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/test
/app/media/*
!app/media/.gitkeep
/web/videos
/web/js
/web/css
/node_modules
/auth.json
/var