<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" failOnRisky="true" failOnWarning="true">
  <coverage>
    <include>
      <directory>./src/Enhavo/</directory>
    </include>
    <exclude>
      <directory>./src/Enhavo/Bundle/*/Tests</directory>
      <directory>./src/Enhavo/Bundle/*/Resources</directory>
      <directory>./src/Enhavo/Bundle/*/Behat</directory>
      <directory>./src/Enhavo/Component/*/Tests</directory>
      <directory>./src/Enhavo/Migration</directory>
      <directory>./src/Enhavo/Kernel.php</directory>
      <directory>./src/Enhavo/CacheKernel.php</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="22527"/><!-- E_ALL & ~E_DEPRECATED & ~E_STRICT -->
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <testsuites>
    <testsuite name="Enhavo Test Suite">
      <directory>./src/Enhavo/Bundle/*/Tests</directory>
      <directory>./src/Enhavo/Component/*/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
