<ul class="download">
    {% if data.file %}
        <li>
            <a href="{{ media_url(data.file) }}" class="clearfix" download>
            <span class="download-btn">
                <i class="icon-arrow-long-down hover"></i>
                <i class="icon-file-pdf"></i>
            </span>
                <p class="download-title">{{ data.title }}</p>
            </a>
        </li>
    {% endif %}
</ul>
