{% block slider %}
<ul class="slider">
    {% for slide in slides %}
        {% if slide.image %}
            <li class="slider-img" style="background-image:url({{ media_url(slide.image) }}); background-size:cover; background-attachment: fixed;">
                {% if slide.url is not null %}
                    <a href="{{ slide.url|url_beautifier }}" class="slide-link">
                {% endif %}
                <span class="container hero-container">
                    <span class="hero-caption" href="">
                        <p class="slide-text">{{ slide.text|html_sanitize }}</p>
                        <h1 class="slide-title">{{ slide.title }}</h1>
                    </span>
                </span>
                {% if slide.url is not null %}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}