<div class="row mb1">
    <label class="col-md-2 text-right label-container">
        <label class="required">Start Knoten</label>
    </label>
    <div class="col-md-9" style="margin-top: 5px;margin-left: 18px;">(creation)</div>
</div>
{{ form_row(form.formNodes) }}
<div class="row mb1">
    <div class="col-md-9 col-md-push-2" style="margin-top: 5px;margin-left: 18px;">
        Achtung:</br> Beim löschen eines bestehenden Knotens werden auch alle damit verbundenen Übergänge gelöscht!
    </div>
</div>