services:
    Enhavo\Bundle\TemplateBundle\Menu\TemplateMenu:
        parent: Enhavo\Bundle\AppBundle\Menu\Menu\BaseMenu
        tags:
            - { name: enhavo.menu, alias: template }

    Enhavo\Bundle\TemplateBundle\Form\Type\TemplateType:
        arguments:
            - '%enhavo_template.model.template.class%'
        tags:
            - { name: form.type, alias: enhavo_template_template }

    Enhavo\Bundle\TemplateBundle\Block\ResourceBlockType:
        tags:
            - { name: enhavo_block.block }

    Enhavo\Bundle\TemplateBundle\Template\TemplateManager:
        public: true
        arguments:
            - '%enhavo_template.template%'
            - '@doctrine.orm.entity_manager'
            - '@translator'
        calls:
            - [setContainer, ['@service_container']]

    Enhavo\Bundle\TemplateBundle\Controller\TemplateController:
        arguments:
            - '@Enhavo\Bundle\TemplateBundle\Template\TemplateManager'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
            - [setTemplateResolver, ['@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface']]
        tags:
            - { name: container.service_subscriber }

    Enhavo\Bundle\TemplateBundle\EventListener\TemplateDoctrineSubscriber:
        calls:
            - [ setContainer, ['@service_container']]
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    Enhavo\Bundle\TemplateBundle\Router\TemplateStrategy:
        public: true
        arguments:
            - '@enhavo_template.repository.template'
        calls:
            - [ setContainer, ['@service_container']]
        tags:
            - { name: enhavo_route.strategy, alias: 'template' }

    Enhavo\Bundle\TemplateBundle\Init\InitTemplate:
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Enhavo\Bundle\TemplateBundle\Template\TemplateManager'
            - '@enhavo_template.factory.template'
            - '@enhavo_template.repository.template'
            - '@Enhavo\Bundle\AppBundle\Resource\ResourceManager'
        calls:
            - [ setContainer, ['@service_container']]
        tags:
            - { name: enhavo.init, alias: 'template' }
