Enhavo\Bundle\NavigationBundle\Entity\Navigation:
    type: entity
    table: navigation_navigation
    repositoryClass: Enhavo\Bundle\NavigationBundle\Repository\NavigationRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO

    fields:
        name:
            type: string
            length: 255
            nullable: true

        code:
            type: string
            length: 255
            nullable: true

    oneToMany:
        nodes:
            cascade: ['persist']
            targetEntity: Enhavo\Bundle\NavigationBundle\Model\NodeInterface
            mappedBy: navigation
            orderBy:
                order: ASC

    lifecycleCallbacks: { }
