{% if data.width == 'container' %}
    <div class="container">
{% endif %}
    <div class="row">
        <div class="col-md-8">
            {{ container_render(data.column) }}
        </div>
        <div class="col-md-4">
            {% if data.sidebar %}
                {{ container_render(data.sidebar.container) }}
            {% endif %}
        </div>
    </div>
{% if data.width == 'container' %}
    </div>
{% endif %}