%btn { padding:15px 60px; border:1px solid $black; text-align:center; font-family:$serifFontFamily; display:inline-block;color:$black; text-decoration:none; cursor:pointer; background:none;
  &.white { border-color:#FFF; color:#FFF;}
  &:focus {outline:0}
}
%checkbox {position:relative; padding-left:36px; display:inline-block;
  label { font-size:$fontSize2; line-height:1.25em;
    a { text-decoration:none; color:$black;border-bottom:1px solid $black}
  }
  span { width:25px; height:25px;border:1px solid lighten($black, 80%); position:absolute; left:0; top:0;transition: all .2s}
  input[type="checkbox"], input[type="radio"] { width:25px; height:25px;position:absolute; left:0; top:0; z-index:1; opacity:0; cursor:pointer;
    &:checked {
      +span { background:$black;border-color:$black}
    }
  }
}
%loadingScreen {position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(255,255,255,.75); z-index:10;}
%loadingSpinner {position:absolute;top:0;left:0; display:none; margin-top:20px; margin-left:20px;
  div {position:absolute;width:26px;height:26px;border-radius:50%;background:rgba(0,0,0,.5);opacity:0;animation: 1.5s loading infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:nth-of-type(1){animation-delay:0s;}
    &:nth-of-type(2){animation-delay:.5s;}
    &:nth-of-type(3){animation-delay:1s;}
  }
}
%select {max-width:350px; position:relative; cursor:pointer;
  select {@extend %textInput;border-radius:0; background:none;}
  &:after {content:''; position:absolute; right:28px; top:50%; margin-top:-2px;pointer-events:none;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid $black;}
}
%smallTitle {font-size: $fontSize1;letter-spacing: 0.3em;text-align: center;display: block;text-transform: uppercase;font-weight: $medium;}
%textInput {-webkit-appearance:none;-moz-appearance:none; padding:15px 18px; border:1px solid lighten($black, 80%); font-size:$baseFontSize;width:100%; color:$black;transition:border-color .2s; font-family:$serifFontFamily; display:block;
  &:focus {outline:0;border-color:$spotColor}
}
%title {font-size:$fontSize4; font-weight:$bold; margin-bottom:15px;}

@media all and(max-width:1025px) {
  %btn { padding:8px 35px;}
  %checkbox {
    label { position:relative; top:2px;}
  }
  %textInput {padding:8px 12px;}
}

@media all and(max-width:767px) {
  %btn {font-size:$fontSize3; font-weight:$medium;}
  %checkbox {
    label { line-height:$lineHeight;}
  }
  .select {
    &:after { right:18px;}
  }
  %loadingScreen { width:calc(100% + 30px); left:-15px;}
  %loadingSpinner { top:50% !important; margin-top:-13px; left:50% !important; margin-left:-13px; display:block !important;}
  %textInput {font-size:$fontSize3; font-weight:$medium;}
}