Enhavo\Bundle\SliderBundle\Entity\Slider:
    type: entity
    table: slider_slider
    repositoryClass: Enhavo\Bundle\SliderBundle\Repository\SliderRepository

    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO

    fields:
        title:
            type: string
            length: 255
        code:
            type: string
            length: 255
            nullable: true

    oneToMany:
        slides:
            cascade: ['persist', 'refresh', 'remove']
            targetEntity: Slide
            mappedBy: slider
            orderBy: {'order': 'ASC'}
