cmf_routing:
    dynamic:
        controllers_by_class:
            Enhavo\Bundle\ShopBundle\Entity\Product: sylius.controller.product::showResourceAction

payum:
    storages:
        Enhavo\Bundle\ShopBundle\Entity\Payment: { doctrine: orm }

sylius_order:
    resources:
        order:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\Order
                controller: Enhavo\Bundle\ShopBundle\Controller\OrderController
                repository: Enhavo\Bundle\ShopBundle\Repository\OrderRepository
                form: Enhavo\Bundle\ShopBundle\Form\Type\OrderType
                factory: Enhavo\Bundle\ShopBundle\Factory\OrderFactory
        order_item:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\OrderItem
                controller: Enhavo\Bundle\ShopBundle\Controller\OrderItemController
                factory: Enhavo\Bundle\ShopBundle\Factory\OrderItemFactory
        order_item_unit:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\OrderItemUnit

sylius_shipping:
    resources:
        shipment:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\Shipment
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
        shipping_method:
            classes:
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                model: Enhavo\Bundle\ShopBundle\Entity\ShippingMethod
                form: Enhavo\Bundle\ShopBundle\Form\Type\Shipping\ShippingMethodType
        shipment_unit:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\OrderItemUnit

sylius_money: ~

sylius_addressing:
    resources:
        country:
            classes:
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
        address:
            classes:
                factory: Enhavo\Bundle\ShopBundle\Factory\AddressFactory

sylius_promotion:
    driver: doctrine/orm
    resources:
        promotion_subject:
            classes:
                model: "%sylius.model.order.class%"
        promotion:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\Promotion
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                form: Enhavo\Bundle\ShopBundle\Form\Type\PromotionType
        promotion_coupon:
            classes:
                controller: Enhavo\Bundle\ShopBundle\Controller\PromotionCouponController
                form: Enhavo\Bundle\ShopBundle\Form\Type\PromotionCouponType
                repository: Enhavo\Bundle\ShopBundle\Repository\PromotionCouponRepository

sylius_payment:
    resources:
        payment:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\Payment
doctrine:
    orm:
        resolve_target_entities:
            Sylius\Component\Order\Model\OrderInterface: Enhavo\Bundle\ShopBundle\Entity\Order
            Sylius\Component\Addressing\Model\AddressInterface: Sylius\Component\Addressing\Model\Address
            Sylius\Component\Promotion\Model\PromotionCouponInterface: Sylius\Component\Promotion\Model\PromotionCoupon
            Sylius\Component\Payment\Model\PaymentInterface: Enhavo\Bundle\ShopBundle\Entity\Payment
            Sylius\Component\Payment\Model\PaymentMethodInterface: Enhavo\Bundle\ShopBundle\Entity\PaymentMethod
            Sylius\Component\Shipping\Model\ShipmentInterface: Enhavo\Bundle\ShopBundle\Entity\Shipment
            Sylius\Component\Shipping\Model\ShipmentUnitInterface: Enhavo\Bundle\ShopBundle\Entity\OrderItemUnit
            Sylius\Component\Taxation\Model\TaxRateInterface: Sylius\Component\Taxation\Model\TaxRate
            Sylius\Component\Taxation\Model\TaxCategoryInterface: Sylius\Component\Taxation\Model\TaxCategory
            Sylius\Component\Promotion\Model\PromotionInterface: Enhavo\Bundle\ShopBundle\Entity\Promotion
            Sylius\Component\Product\Model\ProductOptionInterface: Sylius\Component\Product\Model\ProductOption
            Sylius\Component\Product\Model\ProductAssociationInterface: Enhavo\Bundle\ShopBundle\Entity\ProductAssociation
            Sylius\Component\Product\Model\ProductOptionValueInterface: Enhavo\Bundle\ShopBundle\Entity\ProductOptionValue
            Sylius\Component\Product\Model\ProductInterface: Enhavo\Bundle\ShopBundle\Entity\Product
            Sylius\Component\Product\Model\ProductVariantInterface: Enhavo\Bundle\ShopBundle\Entity\ProductVariant
            Enhavo\Bundle\ShopBundle\Model\VoucherInterface: Enhavo\Bundle\ShopBundle\Entity\Voucher

enhavo_doctrine_extension:
    metadata:
        Enhavo\Bundle\ShopBundle\Entity\Shipment:
            extends: Sylius\Component\Shipment\Model\Shipment
            discrName: 'enhavo'
        Enhavo\Bundle\ShopBundle\Entity\ShipmentMethod:
            extends: Sylius\Component\Shipment\Model\ShipmentMethod
            discrName: 'enhavo'
        Enhavo\Bundle\ShopBundle\Entity\Payment:
            extends: Enhavo\Bundle\PaymentBundle\Entity\Payment
            discrName: 'enhavo'

enhavo_app:
    form_themes:
        - '@EnhavoShop/admin/form/shop/fields.html.twig'
    template_paths:
        enhavo_shop:
            path: '@EnhavoShopBundle/Resources/views'
            alias: EnhavoShop
            priority: 10
    roles:
        enhavo_shop_product_index:
            role: ROLE_ENHAVO_SHOP_PRODUCT_INDEX
            label: product.role.label.index
            translation_domain: EnhavoShopBundle
        enhavo_shop_product_create:
            role: ROLE_ENHAVO_SHOP_PRODUCT_CREATE
            label: product.role.label.create
            translation_domain: EnhavoShopBundle
        enhavo_shop_product_update:
            role: ROLE_ENHAVO_SHOP_PRODUCT_UPDATE
            label: product.role.label.update
            translation_domain: EnhavoShopBundle
        enhavo_shop_product_delete:
            role: ROLE_ENHAVO_SHOP_PRODUCT_DELETE
            label: product.role.label.delete
            translation_domain: EnhavoShopBundle

        enhavo_shop_order_index:
            role: ROLE_ENHAVO_SHOP_ORDER_INDEX
            label: order.role.label.index
            translation_domain: EnhavoShopBundle
        enhavo_shop_order_create:
            role: ROLE_ENHAVO_SHOP_ORDER_CREATE
            label: order.role.label.create
            translation_domain: EnhavoShopBundle
        enhavo_shop_order_update:
            role: ROLE_ENHAVO_SHOP_ORDER_UPDATE
            label: order.role.label.update
            translation_domain: EnhavoShopBundle
        enhavo_shop_order_delete:
            role: ROLE_ENHAVO_SHOP_ORDER_DELETE
            label: order.role.label.delete
            translation_domain: EnhavoShopBundle
            
        enhavo_shop_voucher_index:
            role: ROLE_ENHAVO_SHOP_VOUCHER_INDEX
            label: voucher.role.label.index
            translation_domain: EnhavoShopBundle
        enhavo_shop_voucher_create:
            role: ROLE_ENHAVO_SHOP_VOUCHER_CREATE
            label: voucher.role.label.create
            translation_domain: EnhavoShopBundle
        enhavo_shop_voucher_update:
            role: ROLE_ENHAVO_SHOP_VOUCHER_UPDATE
            label: voucher.role.label.update
            translation_domain: EnhavoShopBundle
        enhavo_shop_voucher_delete:
            role: ROLE_ENHAVO_SHOP_VOUCHER_DELETE
            label: voucher.role.label.delete
            translation_domain: EnhavoShopBundle

    mailer:
        mails:
            shop_confirm:
                from: '%env(string:MAILER_FROM)%'
                name: '%env(string:MAILER_NAME)%'
                to: '{{ resource.customerEmail }}'
                subject: 'mail.confirm.subject'
                translation_domain: EnhavoShopBundle
                template: 'mail/shop/confirm.html.twig'
                content_type: 'multipart/mixed'

            shop_notification:
                from: '%env(string:MAILER_FROM)%'
                name: '%env(string:MAILER_NAME)%'
                to: '%env(string:MAILER_TO)%'
                subject: 'mail.notification.subject'
                translation_domain: EnhavoShopBundle
                template: 'mail/shop/notification.html.twig'
                content_type: 'multipart/mixed'

            shop_tracking:
                from: '%env(string:MAILER_FROM)%'
                name: '%env(string:MAILER_NAME)%'
                to: '{{ resource.customerEmail }}'
                subject: 'mail.tracking.subject'
                translation_domain: EnhavoShopBundle
                template: 'mail/shop/tracking.html.twig'
                content_type: 'multipart/mixed'

enhavo_routing:
    classes:
        Enhavo\Bundle\ShopBundle\Entity\Product:
            router:
                default:
                    type: routable
                view:
                    type: id
                    route: sylius_product_update
                admin:
                    type: admin
                    index_route: sylius_product_index
                    update_route: sylius_product_update
            generators:
                prefix:
                    type: prefix
                    properties: title

        Enhavo\Bundle\ShopBundle\Entity\ProductVariant:
            router:
                default:
                    type: product_variant
                admin:
                    type: id
                    route: sylius_product_variant_update

        Enhavo\Bundle\ShopBundle\Model\ProductVariantProxy:
            router:
                default:
                    type: product_variant

sylius_inventory:
    resources:

sylius_product:
    resources:
        product:
            classes:
                controller: Enhavo\Bundle\ShopBundle\Controller\ProductController
                model: Enhavo\Bundle\ShopBundle\Entity\Product
                repository: Enhavo\Bundle\ShopBundle\Repository\ProductRepository
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductType
        product_option:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\ProductOption
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductOptionType
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
        product_option_value:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\ProductOptionValue
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductOptionValueType
                repository: Enhavo\Bundle\ShopBundle\Repository\ProductOptionValueRepository
        product_variant:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\ProductVariant
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductVariantType
                controller: Enhavo\Bundle\ShopBundle\Controller\ProductVariantController
                repository: Enhavo\Bundle\ShopBundle\Repository\ProductVariantRepository
                factory: Enhavo\Bundle\ShopBundle\Factory\ProductVariantFactory
        product_association:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\ProductAssociation
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductAssociationType
        product_association_type:
            classes:
                model: Enhavo\Bundle\ShopBundle\Entity\ProductAssociationType
                repository: Enhavo\Bundle\ShopBundle\Repository\ProductAssociationTypeRepository
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                form: Enhavo\Bundle\ShopBundle\Form\Type\ProductAssociationTypeType

sylius_taxation:
    resources:
        tax_category:
            classes:
                model: Sylius\Component\Taxation\Model\TaxCategory
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                form: Enhavo\Bundle\ShopBundle\Form\Type\TaxCategoryType
        tax_rate:
            classes:
                model: Sylius\Component\Taxation\Model\TaxRate
                controller: Enhavo\Bundle\AppBundle\Controller\ResourceController
                form: Enhavo\Bundle\ShopBundle\Form\Type\TaxRateType

enhavo_taxonomy:
    taxonomies:
        shop_category:
            label: label.category
            translation_domain: EnhavoShopBundle
        shop_tag:
            label: label.tag
            translation_domain: EnhavoShopBundle
