{{ form_row(form.name) }}
{% if form.value.children|length > 1 %}
    <div class="form-row " data-form-row="">
        <div class="formwidget-container" data-formwidget-container="">
            {{ form_widget(form.value) }}
        </div>
    </div>
{% else %}
    {{ form_row(form.value) }}
{% endif %}
