.enhavo_grid_threepictures {
  [class*=col-sm-] {
    &:first-child {padding-right:$smallerColumnSpacing;}
    &:nth-child(2) {padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
    &:last-child {padding-left:$smallerColumnSpacing;}
  }
}