.grid-type-video {
  .video-container {
    position:relative;padding-bottom:56.2%;width:100%;height:0;overflow:hidden;background:$light;
    iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  }
}