.enhavo_grid_threepictures {
  [class*=col-sm-] {
    &:first-child {padding-right:$smallerColumnSpacing;}
    &:nth-child(2) {padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
    &:last-child {padding-left:$smallerColumnSpacing;}
  }
}

@media all and (max-width:1150px) {
  .enhavo_grid_threepictures {
    h3 { height:auto !important; margin-bottom:15px;}
    [class*=col-sm-] {
      padding-bottom:45px;
      &:last-of-type { padding-bottom:0;}
    }
  }
}
