services:
    Enhavo\Bundle\TranslationBundle\Form\Type\TranslationType:
        arguments:
            - '@Enhavo\Bundle\TranslationBundle\Translation\TranslationManager'
        tags:
            - { name: form.type }

    Enhavo\Bundle\TranslationBundle\Form\Extension\TranslationExtension:
        arguments:
            - '@Enhavo\Bundle\TranslationBundle\Translation\TranslationManager'
            - '@enhavo_translation.form.access_control'
        tags:
            - { name: form.type_extension }

    Enhavo\Bundle\TranslationBundle\Validator\Constraints\TranslationValidator:
        arguments:
            - '@Enhavo\Bundle\TranslationBundle\Translation\TranslationManager'
            - '@validator'
        tags:
            - { name: validator.constraint_validator }
