<form id="contact_form" method="post" action="{{ path('enhavo_contact_submit', { type: type }) }}" data-form-container>
    <div class="row npam">
        <div class="col-sm-6 npam">
            {{ form_widget(form.email, {'attr': {'type': 'text','placeholder': 'email', 'name': 'email', 'id': 'email'}}) }}
        </div>
        <div class="col-sm-6 npam">
            {{ form_widget(form.message, {'attr': {'name': 'message','id': 'message'}}) }}
            {{ form_row(form._token) }}
            <button type="submit" class="button blue" data-send-message><i class="icon-forward"></i></button>
        </div>
    </div>
    <div id="contact_message" data-response-container></div>
</form>