
<form action="{{ path('enhavo_search_submit', { type: type }) }}" id="search_form">
    <input id="search" name="search" placeholder="Search for a word or an ID">
    <button type="submit" value="search" id="submit_search"></button>
</form>