<div style="padding-top: 10px; padding-bottom: 10px;">
    <div>
        {% if data.title %}
            <h2>{{ data.title|raw }}</h2>
        {% endif %}
        {% if data.text %}
        <p>{{ data.text|raw }}</p>
        {% endif %}
    </div>
    <div>
        {% for file in data.files %}
            <img src="{{ media_url(file) }}" />
        {% endfor %}
    </div>
</div>