<div style="padding-top: 10px; padding-bottom: 10px;">
    {% if data.title %}
        <h2>{{ data.title|raw }}</h2>
    {% endif %}
    <iframe src="{{ data.url }}" style="width:100%; height: auto; border:0;"></iframe>
</div>