<div class="container article-view">
    <section id="article">
        <article>
            <div class="article-head">
                <h3>{{ article.title }}</h3>
                {% for category in article.categories %}
                    <p class="category capitals spacing">{{ category }}</p>
                {% endfor %}
            </div>
            {{ container_render(article.container) }}
            <a href="/" class="back-to-blog"><i class="icon-forward"></i></a>
        </article>
    </section>
</div>
<div class="article-footer">
    <div class="container">
        <p class="pub-date capitals">published on {{ article.publicationDate|date('d.m.Y') }}</p>
    </div>
</div>