{% extends 'EnhavoDemoBundle:Theme:base.html.twig' %}

{% block bodyclass %}light{% endblock %}

{% block main %}
    <section id="article">
        <article>
            <div class="article-head">
                <div class="container npb">
                    <h1 class="article-title">{{ article.title }}</h1>
                    {% for category in article.categories %}
                        <p class="category capitals spacing">{{ category }}</p>
                    {% endfor %}
                    <a href="/" class="back-to-blog"><i class="icon-forward"></i></a>
                </div>
            </div>
            {{ block_render(article.content) }}
        </article>
    </section>
    <div class="article-footer">
        <div class="container">
            <p class="pub-date capitals">published on {{ article.publicationDate|date('d.m.Y') }}</p>
        </div>
    </div>
{% endblock %}