{% if navigation %}
    <div class="container">
        <nav class="main-menu">
            <div class="menu-btn" data-show-menu>
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <a href="/" class="logo">ACME</a>
            <ul class="menu-items" data-menu-items>
                {% for node in navigation.nodes %}
                    <li>{% include 'EnhavoDemoBundle:theme/navigation:type-chooser.html.twig' with {'node': node} %}</li>
                {% endfor %}
            </ul>
            <ul class="shop-menu">
                <li class="login">
                    <a href="">Login</a>
                </li>
                <li><a href="" data-show-cart>Cart</a></li>
            </ul>
        </nav>
    </div>
{% endif %}