{% if display %}
    <div class="col-md-offset-2 button-row">
        <div class="col-md-2 col-sm-3">
            <button
                    data-button
                    data-type="{{ type }}"
                    {{ block('button_attributes') }}
                    class="btn">
                <i class="button-icon icon-{{ icon }}"></i>
                {{ label|trans({},  translationDomain)|nl2br }}
            </button>
        </div>
    </div>
{% endif %}