.shop-product {
  .product-title {
    color:$night; font-size:$biggerFontSize;
    &.single-view { font-size:$secondHeadingFontSize; font-weight:$lightFontFamily;}
  }
  .product-description { margin-top:45px;}
  .price {
    color:$light; font-size:$biggerFontSize;
    &.single-view { margin-top:45px;}
  }
  .product-picture {
    border:4px solid $softwhite; margin-bottom:10px; padding:40px; overflow:hidden;
    &:hover {
      img {transform:scale(1.05);transition:all .4s cubic-bezier(0.19, 1, 0.22, 1);}
    }
    img {transition:all .4s;}
  }
  .product-id { font-size:$smallFontSize; font-weight:$capitalFontBold; text-transform:uppercase; letter-spacing:$defaultLetterSpacing; color:$light;}
  .product-thumb {
    border:4px solid $softwhite; width:80px; height:80px; display:inline-block; padding:12px;
    + .product-title { display:inline-block; margin-left:25px;position:absolute; top:50%;transform:translateY(-50%); margin-top:-15px;}
  }
  .proceed { margin-top:45px;}
}
.shop-grid { margin-left:-$smallerColumnSpacing; margin-right:-$smallerColumnSpacing;}
.shop-product { padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
.product-configurator {
  .add-to-cart {
    position:relative;margin-top:45px;
    input {
      padding: 27px 95px 27px 35px;border:1px solid $light;width:100%;
      &:focus {outline:0; border-color:$blueberry;}
    }
    .add-to-cart-btn {
      position: absolute;top: 0;right: 0;background: $blueberry;width: 80px;height: 80px;border: 0;color: #FFF;padding: 0; overflow:hidden;
      i { position:absolute; left:50%; top:50%;transform:translateY(-50%) translateX(-50%);}
      &:hover { background:$aubergine;}
      &.added {
        background:$citrus;
        i { color:$aubergine;animation:slideOut 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards 400ms;}
      }
    }
  }
}
.product-single-view {position:relative; padding-bottom:100px;}
.cart-summary {
  width:100%; margin-bottom:20px;table-layout:fixed;
  thead {
    tr {
      th {
        padding:0 12px 25px 12px;position:relative;
        .align {position: relative;top: -15px;}
      }
      &:first-child {
        th {
          &:first-child { padding-left:0;}
        }
      }
      &:last-child {
        th {
          &:last-child { padding-right:0;}
        }
      }
    }
  }
  tbody {
    tr, td { border:1px solid $lighter; border-collapse:collapse;}
    tr {
      td {padding:6px 12px;}
    }
    &.price-details { display:none;}
  }
  .price-total {
    .show-details {
      border-radius:50%; background:$light; width:20px; height:20px; display:inline-block; margin-left:8px; position: relative;top: -19px;transition:all .3s; cursor:pointer;
      i { color:#FFF; font-size:12px; color:#FFF; position:relative; top:4px; left:1px;}
      &:hover { background:$medium;transition:all .3s;}
    }
    .remove-product {
      display:inline-block; color:$light;float: right;position: relative;top: -9px;
      &:hover { color:$medium;}
    }
  }
  .product-quantity {
    position:relative; display:inline-block;transition:all .3s;
    .quantity-input {
      display:none;position:absolute;left:-3px; top:44px;
      input {
        width:100px;background:#FFF; color:$blueberry; border:1px solid $light; padding: 7px 32px 7px 12px; z-index:1;
        &:focus { outline:0;}
      }
      .save-quantity {
        position:absolute; font-size:$smallFontSize; background:none; border:0; color:$light; right:5px;top: 17px; display:none; z-index:2;transition:all .2s;
        &:hover { color:$medium;transition:all .2s;}
        &.save-it { color:$blueberry;}
      }
      &:before {width: 0; content:'';height: 0; position:absolute; top:-8px; left:10px;border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid $light;}
      &:after {width: 0; content:'';height: 0; position:absolute; top:-7px; left:10px;border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid #FFF;}
    }
    .edit-quantity { position:absolute; font-size:$smallFontSize; background:none; border:0; color:$light;left: -20px;top: 14px; opacity:0;}
    &:hover {
      color:$mediumlight; cursor:pointer;transition:all .3s;
      .edit-quantity { opacity:1;}
    }
  }
}
.checkout { margin-top:45px; float:right;}

#addressing-form {
  fieldset {
    &.row {margin-left:-15px;margin-right:-15px;}
    .form-column { padding-left:15px;padding-right:15px;}
    &.different-billing-address { margin:25px 0;}
  }
}

.payment-choice {
  border-bottom:1px solid $light; padding-bottom:15px;
  .styled-checkbox {
    width:100%; display:inline-block;
    span { position:absolute; right:0; top:29px;left:auto}
    input[type="radio"] {
      right:0; left:auto;
      &:checked {
        + span {
          + label {
            color:$aubergine;
            .payment-logo {color:$aubergine;}
          }
        }
      }
    }
  }
  .payment-logo { margin-right:15px; display:inline-block; color:$mediumlight;}
}

.login-form {
  max-width:550px; margin:0 auto; padding:60px 0;
  .no-account {
    padding-top:45px;
    .btn {
      margin-top:8px;
      + a { display:block; margin-top:8px;}
    }
  }
}

.redeem {
  margin:45px 0;
  .coupon {
    max-width:500px; min-width:500px;position:relative; display:inline-block; margin-bottom:45px;
    form{
      max-width:500px;min-width:500px; position:relative;
      div {width:100%;}
    }
    .input-container {
      display:inline-block; width:100%;
      input {padding: 27px 95px 27px 35px;border: 1px solid $light;width: 100%; position:relative; max-width:500px;min-width:500px; display:inline-block;}
    }
    .redeem-btn {
      position:absolute; right:0; top:0;background: $aubergine;width: 80px;height: 80px;border: 0;color: #FFF;padding: 0;transition:all .2s;
      &:hover { background:$citrus;transition:all .2s; color:$aubergine;}
    }
  }
}

@media all and (max-width:991px) {
  .cart-summary {
    thead {
      tr {
        th {
          display:block; padding:2px 0;
          .align { top:0;}
        }
      }
    }
    tbody {
      tr {
        border:0;
        td { display:block; border-width:0 1px 1px 1px;}
      }
      &.price-details {border-top:6px solid $aubergine;}
    }
    .price-total {
      .show-details { top:-5px;}
      .remove-product { top:-59px;}
    }
    &:last-of-type {border-top:6px solid $citrus;}
  }
  .shop-product{
    .product-thumb {
      display:block;
      + .product-title {display:block;position:initial;transform:none; margin-left:0; margin-top:15px; font-size:$bigFontSize; font-weight:$blackFontFamily;}
    }
  }
}

@media all and (max-width:767px) {
  .shop-product {
    .proceed { margin-bottom:45px;}
  }
  .payment-choice {
    .styled-checkbox {
      span {top: 15px; right:auto; left:0;}
      input[type="radio"] { top:15px; right:auto; left:0;}
      label { margin-left:35px;}
    }
  }
  .redeem {
    margin:25px 0;
    .coupon {
      width:100%; min-width:100%;;
      form{width:100%;min-width:100%;}
      .input-container {
        input {min-width:100%;}
      }
    }
  }
}