{% extends template('theme/base-user.html.twig') %}

{% block main %}
    <section class="container">
        <div class="user-content indented">
            <h1>Account Settings</h1>
            <form action="" class="checkout-form">
                <div class="user-title">Reset Password</div>
                <input type="password" placeholder="Old password">
                <input type="password" placeholder="New Password">
                <input type="submit" class="btn" value="Reset">
            </form>
            <div class="delete-account">
                <div class="user-title">Delete Account</div>
                <p>Note that your account is not reversible. <br>Your data will not be stored and deleted completely.</p>
                <a href="" class="btn">Delete Account</a>
            </div>
        </div>
    </section>
{% endblock %}