{% extends template('theme/base-user.html.twig') %}

{% block main %}
    <section class="container">
        <div class="user-content">
            <div class="user-title">Your Orders</div>
            <div class="order-table">
                <div class="order-table-head">
                    <div class="date">Date</div>
                    <div class="items">Order summary</div>
                    <div class="state">State</div>
                </div>
                <div class="order-table-content">
                    {% for i in 0..10 %}
                    <a class="order-table-row">
                        <div class="date">05.07.2019</div>
                        <div class="items">T-Shirt einfarbig, Flußkrebs-set, Geschenkverpackung</div>
                        <div class="state">Cancelled</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}