<form action="{{ path('enhavo_contact_submit', { type: type }) }}" id="contact_form">
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_row(form._token) }}
    <button type="submit" id="sendMessage">Send</button>
</form>