<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavotheme/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavogrid/css/items.css') }}">

<div>
    {{ grid_render(data.grid) }}
</div>