<div
    data-block
    data-block-type="table"
    data-block-table-route="{{ table_route }}"
    data-block-page="1"
    {% if update_route is defined %}class="updateable" data-block-update-route="{{ update_route }}"{% endif %}>
</div>