@use "@enhavo/app/assets/styles/import/variables";

.date-type { position: relative;
  .clear-button { position: absolute; right: 0; top: 0; display: inline-block; background: variables.$grey5; border-radius: 0 10px 10px 0; width: 32px; height: 100%; padding-top: 8px; text-align: center; cursor: pointer; }
}