<div class="search-widget">
    <form action="{{ path('enhavo_search_theme_submit') }}" data-search-form>
        <input type="text" name="q" placeholder="Search for article"/>
        <button type="submit"><i class="icon-search"></i></button>
    </form>
</div>