{% extends 'EnhavoDemoBundle:Theme:base.html.twig' %}

{% block bodyclass %}light{% endblock %}

{% block main %}
    <div class="clearfix page-wrap">
        <section id="downloads">
            <div class="container">
                <h2>Downloads</h2>
                <ul class="download">
                    {% for download in downloads %}
                        {%  if download.file %}
                        <li>
                            <a href="{{ media_url(download.file)}}" class="clearfix" download>
                            <span class="download-btn">
                                <i class="icon-arrow-long-down hover"></i>
                                <i class="icon-file-pdf"></i>
                            </span>
                            <p class="download-title capitals">{{ download.title }}</p>
                            <span class="download-desc">{{ download.text|raw }}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}