<div class="col-md-4 col-sm-6 approach">
    <h4>Contact &amp; Approach</h4>
    <ul>
        <li>{{ translate_string('company.name') }}</li>
        <li>{{ translate_string('company.street') }}</li>
        <li>{{ translate_string('company.city') }}</li>
        <li><span>P</span>0123 456789</li>
        <li><span>E</span><a href="mailto:">info@acme.de</a></li>
    </ul>
</div>