<div class="newsletter-widget">
    <h3>Newsletter</h3>
    <p>
        Get the latest news <br/>
        and sign up to our newsletter
    </p>
    <div class="input">
        {{ subscribe_form() }}
    </div>
</div>