{% extends theme_template('base') %}

{% block bodyclass %}light{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/enhavoshop/js/Shop.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            window.setTimeout(function() {
                window.location.href = "{{ path('enhavo_shop_theme_payment_purchase', {token: order.token}) }}";
            }, 3000);
        })
    </script>
{% endblock %}

{% block main %}
    <section class="container">
        <h2>Vielen Dank</h2>
        <p>
            You will be redirected automatically. If redirect takes to long please click <a href="{{ path('enhavo_shop_theme_payment_purchase', {token: order.token}) }}">here</a>.
        </p>
    </section>
{% endblock %}