{% extends viewer.theme %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initPagination('{{ table_route }}');
            admin.initTable();
            admin.initBlocks();
            admin.initTopButton('.action .btn.create', {}, '{{ create_route }}');
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
        <div class="row mb3 action">
            <div class="col-md-3">
                <button class="btn create col-md-12"><i class="icon-plus-sign"></i> {{ add_button_text|trans }}</button>
            </div>
        </div>
    {% endblock %}

    {% for block in blocks %}
        {{ block_render(block.type, block.parameters) }}
    {% endfor %}
{% endblock %}
