<div class="row p1 head-row">
    <div class="col-md-5">{{ 'label.id'|trans }}</div>
</div>

<div class="row row-container">
    <div class="col-md-12">
        {% for item in data %}
            <div class="col-md-12 mb1 entry-row p1" data-id="{{ item.id }}">
                <div class="col-md-5">{{ item.id }}</div>
            </div>
        {% else %}
            {{ 'table.empty'|trans }}
        {% endfor %}
    </div>
</div>