{{ form_row(form.filename) }}
{{ form_row(form.url) }}
{% if data.image %}
    <br><br>
    <div class="row">
        <div class="col-md-push-2 col-md-9">
            <img src="{{ media_url(data, 'enhavoMediaLibrary') }}" />
        </div>
    </div>
{% endif %}