@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeDown {
  from{
    opacity: 0;
    transform:translateY(-80px)
  }
  to{
    opacity: 1;
    transform:translateY(0)
  }
}

@keyframes blob {
  from{
    opacity: 0;
    transform:translateY(130px) translateX(50px) scale(.4);
  }
  to{
    opacity: 1;
    transform:translateY(0) translateX(0) scale(1);
  }
}

@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(80px)
  }
  to{
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeLeft {
  from{
    opacity: 0;
    transform:translateX(30px);
  }
  to{
    opacity: 1;
    transform:translateX(0);
  }
}

@keyframes slideOut {
  from{
    margin-left:0;
  }
  to{
    margin-left:150px;
  }
}

@keyframes fadeRight {
  from{
    opacity: 0;
    transform:translateX(-150px)
  }
  to{
    opacity: 1;
    transform:translateX(0)
  }
}

@keyframes wobble {
  from {
    transform:none;
  }
  15% {
    transform:translateX(-25px);
  }
  30% {
    transform:translateX(25px);
  }
  45% {
    transform:translateX(-25px);
  }
  60% {
    transform:translateX(25px);
  }
  to {
    transform:none;
  }
}

@keyframes send {
  0% {
    opacity:1;
    transform:translateX(0);
  }
  100% {
    opacity:0;
    transform:translateX(200px);
  }
}

