@forward "@enhavo/app/assets/styles/import/variables";

//$color1:#de7c0d;
$color1:#00b1db;
$color2:#606067;
$color3:#3b3735;
$color4:#cfcfd1;
$color5:#eeeeee;
$color6:#aba9b0;
$color7:#949399;
$colorWhite:#fff;

$colorCalendar1:#f6f6f6;
$colorCalendar2:#f1f1f1;
$colorCalendar3:#dfdfdf;
$colorCalendar4:#b8c400;
$colorCalendar5:#cf666d;

$colorCustom1:#eee;
$colorPositive:#68c433;

$containerWidth:1240px;
$containerLargeWidth:1920px;
$columnSpacing:20px;
$columnSpacingMobile:10px;

$errorColor:#cf666d;

$lineHeight:1.625em;
$lineHeightSmall:1.277em;
$lineHeightTitles:$lineHeightSmall;
$fontSize:16px;
$fontFamily:'HelveticaNeueW01', sans-serif;
$letterSpacing:0.025em;

$fontLight:300;
$fontNormal:400;
$fontBold:800;

/* responsive */
$containerTabletWidth:94%;
$containerPhoneWidth:100%;

$adminColor:#333434;