<html {% if block("html_class") %}class="{% block html_class %}{% endblock %}"{% endif %} {% if block("html_lang") %}lang="{% block html_lang %}{% endblock %}"{% endif %}>
    <head>
        {% block head %}
            {% block stylesheets %}
                {{ vite_css_tags('entrypoints/main.js', 'theme') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}{% endblock %}
            </header>

            <main>
                {% block main %}{% endblock %}
            </main>

            <footer>
                {% block footer %}{% endblock %}
            </footer>

        {% block javascripts %}
            <script id="routes" type="application/json">{{ routes()|raw }}</script>
            {{ vite_js_tags('entrypoints/main.js', 'theme') }}
        {% endblock %}

    {% endblock %}
    </body>
</html>
