<html {% if block("html_class") %}class="{% block html_class %}{% endblock %}"{% endif %} {% if block("html_lang") %}lang="{% block html_lang %}{% endblock %}"{% endif %}>
    <head>
        {% block head %}
            {% block stylesheets %}
                {{ vite_css_tags('entrypoints/main.js', 'theme') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}{% endblock %}
            </header>

            <main>
                {% block main %}{% endblock %}
            </main>

            <footer>
                {% block footer %}{% endblock %}
            </footer>

            {% if routes is defined %}
                <script id="routes" type="application/json">{{ routes|json_encode|e }}</script>
            {% endif %}

            {% if translations is defined %}
                <script id="translations" type="application/json">{{ translations|json_encode|e }}</script>
            {% endif %}

            {% block javascripts %}
                {{ vite_js_tags('entrypoints/main.js', 'theme') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
