.image-crop-modal-overlay-wrapper {
  position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: transparent; z-index: 200; display: none;
  .image-crop-modal-overlay-background { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.2; z-index: 201; }
  .image-crop-modal-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow-y:auto; z-index: 202; }
  .image-crop-modal {
    width: 900px; margin: 80px auto 0 auto; padding: 20px; background-color: #fff; border-radius: 2px;
    .image-crop-modal-canvas-row {
      .image-crop-modal-canvas-col {
        .image-crop-modal-canvas-background {
          position: relative; background-color: #eee;
          .image-crop-modal-loading-icon { position: absolute; left: 50%; top: 50%; color: #999; font-size: 64px; margin-left: -45px; margin-top: -32px; }
          .image-crop-modal-canvas-wrapper { height: 600px; position: relative; opacity: 1; }
          .image-crop-modal-canvas-wrapper.loading { opacity: 0; }
          .image-crop-modal-canvas-wrapper img { max-width: 100%; }
          .image-crop-modal-canvas-wrapper .cropper-container.loading { opacity: 0.5; }
        }
      }
    }
    .image-crop-modal-actions-row { margin-top: 20px; }
    .image-crop-modal-side-actions .image-cropper-action-button { border: 1px solid #0090ba; border-radius: 3px; background-color: transparent; color: #0090ba; margin: 1px 1px 3px 1px; width: 100%; }
    .image-crop-modal-side-actions .image-cropper-action-button:hover { background-color: #eeeeee; }
    .image-crop-modal-side-actions .image-cropper-action-button.selected { background-color: #e0e0e0; }
    .image-crop-modal-side-actions .image-cropper-action-button.bottom-space { margin-bottom: 12px; }
  }
}
