services:
    Enhavo\Bundle\SettingBundle\Setting\SettingManager:
        arguments:
            - '@Enhavo\Component\Type\FactoryInterface[Setting]'
            - '%enhavo_setting.settings%'

    Enhavo\Bundle\SettingBundle\Menu\SettingMenu:
        tags:
            - { name: enhavo_app.menu }

    Enhavo\Bundle\SettingBundle\Init\InitSetting:
        public: true
        arguments:
            - '@doctrine.orm.default_entity_manager'
            - '@Enhavo\Bundle\SettingBundle\Setting\SettingManager'
        tags:
            - { name: enhavo.init, alias: 'setting' }

    enhavo_setting.form.setting:
        class: Enhavo\Bundle\SettingBundle\Form\Type\SettingType
        arguments:
            - '@translator'
            - '@Enhavo\Bundle\SettingBundle\Setting\SettingManager'
        tags:
            - { name: form.type }

    Enhavo\Bundle\SettingBundle\Form\Type\ValueAccessType:
        tags:
            - { name: form.type }

    Enhavo\Bundle\SettingBundle\Column\SettingColumnType:
        public: true
        arguments:
            - '@Enhavo\Bundle\SettingBundle\Setting\SettingManager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.column, alias: setting }

    Enhavo\Bundle\SettingBundle\Twig\TwigExtension:
        arguments:
            - '@Enhavo\Bundle\SettingBundle\Setting\SettingManager'
        tags:
            - { name: twig.extension }

    Enhavo\Bundle\SettingBundle\Endpoint\Extension\SettingEndpointExtensionType:
        arguments:
            - '@Enhavo\Bundle\SettingBundle\Setting\SettingManager'
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]
        tags:
            - { name: enhavo_api.endpoint_extension }
            - { name: container.service_subscriber }
