services:
    Enhavo\Bundle\SettingBundle\Setting\Type\BooleanSettingType:
        arguments:
            - '@translator'
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\CurrencySettingType:
        arguments:
            - '@Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter'
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\DateTimeSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\BaseSettingType:
        arguments:
            - '@enhavo_setting.setting.repository'
            - '@enhavo_setting.setting.factory'
            - '@doctrine.orm.entity_manager'
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\MediaSettingType:
        arguments:
            - '@enhavo_media.file.factory'
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\ParameterSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\TextSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\IntegerSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\FloatSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\StringSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\ValueAccessSettingType:
        tags:
            - enhavo_setting.setting

    Enhavo\Bundle\SettingBundle\Setting\Type\EntitySettingType:
        tags:
            - enhavo_setting.setting