services:
    Enhavo\Bundle\PageBundle\Form\Type\PageType:
        arguments:
            - '%enhavo_page.model.page.class%'
            - '%enhavo_page.special_pages%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\PageBundle\Form\Type\PageChoiceType:
        arguments:
            - '%enhavo_page.model.page.class%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\PageBundle\Twig\PagePathExtension:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Twig\TwigRouter'
        tags:
            - { name: twig.extension }

    Enhavo\Bundle\PageBundle\Navigation\Voter\PageHierarchyVoter:
        parent: Enhavo\Bundle\PageBundle\Navigation\Voter\PageVoter
        tags:
            - { name: enhavo_navigation.voter }

    Enhavo\Bundle\PageBundle\Navigation\Voter\PageVoter:
        arguments:
            - '@request_stack'
        tags:
            - { name: enhavo_navigation.voter }

    Enhavo\Bundle\PageBundle\Menu\PageMenu:
        tags:
            - { name: enhavo_app.menu }

    enhavo_page.factory.page:
        public: true
        class: '%enhavo_page.factory.page.class%'
        arguments:
            - '%enhavo_page.model.page.class%'
            - '@enhavo_block.factory.node'
            - '@enhavo_routing.factory.route'

    Enhavo\Bundle\PageBundle\Page\PageManager:
        arguments:
            - '@enhavo_page.repository.page'
            - '@router'

    Enhavo\Bundle\PageBundle\Form\Type\SpecialPageType:
        arguments:
            - '%enhavo_page.special_pages%'
            - '@translator'
        tags:
            - { name: form.type }

    Enhavo\Bundle\PageBundle\Endpoint\PageEndpointType:
        arguments:
            - '@enhavo_page.repository.page'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: enhavo_api.endpoint }
            - { name: container.service_subscriber }

    Enhavo\Bundle\PageBundle\Routing\PageCodeRouteCollector:
        arguments:
            - '@enhavo_page.repository.page'
            - '@enhavo_routing.router'
        tags:
            - { name: enhavo_app.route_collector }

    Enhavo\Bundle\PageBundle\Vue\PageVueRouteProviderType:
        tags:
            - { name: enhavo_app.vue_route_provider }

    enhavo.error_renderer.html:
        class: Enhavo\Bundle\PageBundle\ErrorRenderer\SpecialPageErrorRenderer
        decorates: enhavo.error_handler.html
        arguments:
            - '@enhavo_page.repository.page'
            - '@enhavo.error_renderer.html.inner'
            - '@request_stack'
            - '%kernel.debug%'
        calls:
            - [setEndpointFactory, ['@Enhavo\Component\Type\FactoryInterface[Endpoint]']]
