{% trans_default_domain 'EnhavoShopBundle' %}
<span class="form-headline">{{ 'order.label.shippingAddress'|trans }}</span>
{{ form_widget(form.shippingAddress) }}
<span class="form-headline">{{ 'order.label.billingAddress'|trans }}</span>
{{ form_widget(form.billingAddress) }}
