{% extends 'theme/demo/base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('form', null, webpack_build()) }}
{% endblock %}

{% block stylesheets %}{% endblock %}


{% block body %}
    {{ form_widget(form) }}
    <hr>
    <div id="app" data-vue="{{ vue|json_encode|e }}"></div>

{% endblock %}
