@media all and (max-width:2500px) {
  #article-feed {
    .articles {
      article {
        .article-photo {width:20%; padding-bottom:20%;}
        .article-content { left:20%;}
      }
    }
  }
}


@media all and (max-width:2000px) {
  #article-feed {
    .articles {
      article {
        .article-photo {width:23%; padding-bottom:23%;}
        .article-content { left:23%;}
      }
    }
  }
}

@media all and (max-width:1850px) {
  #article-feed {
    .articles {
      article {
        .article-photo {width:26%; padding-bottom:26%;}
        .article-content { left:26%; width:65%;}
      }
    }
  }
}

@media all and (max-width:1650px) {
  #article-feed {
    .articles {
      article {
        .article-photo {width:27%; padding-bottom:27%;}
        .article-content {
          left:27%;
          .category { padding-bottom:15px;}
          .desc {height: $defaultFontSize*$defaultLineHeight*$less-lines-to-show;}
        }
      }
    }
  }
}

@media all and (max-width:1350px) {
  h1 {font-size: 67px;}
  #hero {
    #secondary {
      width: 320px;
      .logo { width:100%; height:100%; -webkit-background-size:100%;background-size:100%;}
    }
    .slider-img {
      .hero-caption { left:320px; width:700px; bottom:80px;}
    }
    .slick-slider {
      .slick-dots { left:390px;}
    }
  }
  .page-wrap {
    #categories {
      .category {
        .cat-image {height:180px;}
      }
    }
  }
  .mobile-app { right:0;}
  aside {width: 320px;}
  .page-wrap {
    section{width:calc(100% - 320px);}
  }
  #article-feed {
    .articles {
      article {
        .article-photo {width: 35%;padding-bottom: 35%;}
        .article-content {
          left:35%;width: 55%;
          .date { left:50px; top:35px;}
        }
      }
      .load-articles {padding: 50px 0;}
    }
  }
  #image-text{
    .image {
      .stoerer {
        width:220px; height:220px;
        p{padding-top: 40px; font-size:39px;}
      }
    }
  }
  nav {
    ul {padding-left: 360px;}
  }
  #categories {
    .category {
      .text-bottom {padding: 50px 35px 45px 35px;}
      .cat-image {
        height:255px;
        .over {
          .cat-name {padding: 50px 35px 0 35px;}
        }
      }
    }
  }
}

@media all and (max-width:1150px) {
  aside {width:290px;}
  .page-wrap {
    section {width: calc(100% - 290px);}
  }
  #article-feed {
    .articles {
      article {
        .article-photo {width: 41%;padding-bottom: 41%;}
        .article-content {left:41%;}
      }
    }
  }
  #hero {
    .slider-img {
      .hero-caption { left:320px; width:550px; bottom:80px;}
    }
    #secondary {
      padding-right:$smallerColumnSpacing;padding-left:$smallerColumnSpacing;
      .socialmedia { left:$smallerColumnSpacing;}
    }
  }
  #image-text {
    padding:0;
    .image {
      padding-left:$smallerColumnSpacing;
      img { top:-30px;}
      .stoerer {
        width: 190px;height: 190px;
        p {padding-top: 35px;font-size: 33px;}
      }
    }
  }
  .mobile-app {
    right: -100px;
    img{ width:80%;}
  }
  #contact {
    form {
      height: 282px;
      input {padding: 25px 50px;}
    }
    #map {height:282px;}
  }
  .container {
    padding: 60px $smallerColumnSpacing;
    &.npam { padding:0;}
  }
  [class*=col-sm-] {
    padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;
    &.npam { padding:0;}
  }
  [class*=col-xs-] {
    padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;
    &.npam { padding:0;}
  }
  .row {
    margin-right:-$smallerColumnSpacing; margin-left:-$smallerColumnSpacing;
    &.npam { margin:0;}
  }
  footer {
    .bottom-bar { padding:18px $smallerColumnSpacing;}
    .socialmedia {padding-top: 55px;}
    .approach {padding-top: 55px;}
    .about {padding-top: 55px;}
  }
  #categories {
    .category {
      .text-bottom {
        .article-excerpt { padding-top:20px;}
      }
      .cat-image {height:220px;}
    }
  }
  .single {
    padding: 120px $smallerColumnSpacing;
    .article-content {@include column-count(1);@include column-gap(0);}
  }
  .download {
    li {
      a {
        .download-desc { padding:22px $smallerColumnSpacing;}
      }
    }
  }
  .slick-dots {padding: 35px 0 32px 0; background:$softwhite;}
  .slick-arrow { bottom:0;top:initial;}
  .slick-slider {padding-bottom: 80px;background: $softwhite;margin-bottom: 80px;}
}

@media all and (max-width:1024px) {
  aside {
    width:100%;position: initial; height:auto;min-height:initial;@include box-shadow(inset 0 0 0 #e5e6e6);
    .category-widget {width:50%;float:left;border-right:1px solid $lighter;}
    .newsletter-widget {width:50%;float:left;}
    .input { border-left:0;}
    p{border-left:0; padding-left:$smallerColumnSpacing;}
    .columns {
      border-left:0;
      li{
        padding-left:$smallerColumnSpacing;
        &:last-child{ border-bottom:0;}
      }
    }
    h3 { padding-left:$smallerColumnSpacing; border-left:0; width:50%;}
  }
  .page-wrap {
    section{width: 100%; float:none;}
  }
  .mobile-app{ display:none;}
  #article-feed {
    .articles {
      article {
        .article-photo { width:35%; padding-bottom:35%;}
        .article-content {
          left:35%;
          .date { right:initial; left:52px; top:20px;}
        }
      }
    }
  }
  #hero {
    height:auto; padding-bottom:70px;
    .blurred-bg{ display:none;}
    #secondary {
      background:none; position:relative; height:auto; float:none; padding-top:70px;
      .socialmedia { display:none;}
      .logo{width: 200px; height:200px;}
    }
    .slider-img {
      .hero-caption {bottom:60px; top:initial;left:0;padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing; width:100%;}
    }
  }

  nav {
    ul {
      padding-left:$smallerColumnSpacing;
      li {
        &:first-child {
          a { padding-left:0;}
        }
      }
    }
  }
}

@media all and (max-width:767px) {
  h1 {font-size: 47px;}
  h3 {font-size: 28px;line-height: 1.2em;}
  .multi-column {@include column-count(1);@include column-gap(0);}
  .container {
    &.npam-responsive {
      padding:0; margin:0;
      > h1, h2, h3 {
        padding-left:$smallerColumnSpacing;
      } 
    }
  }
  #hero{
      .slider-img {
        .hero-caption {
          bottom:0;
          .slider-title { font-size:24px; }
        }
      }

    #secondary {
      padding: $smallerColumnSpacing;
      .logo {
        width: 180px;height: 180px;
      }
    }
  }
  h2 { font-size:40px;padding-bottom: 20px;}
  #article-feed {
    .articles {
      article {
        .readmore-btn { display:none;}
        .article-photo {width: 38%;padding-bottom: 38%;}
        .article-content {
          padding: 60px 25px 40px 25px; left:38%; width:63%;
          .date { left:25px; top:30px;}
          .category {padding-bottom: 20px;}
          .title {padding-bottom: 5px;}
        }
      }
    }
  }
  #image-text {
    .image img {top: -100px;pointer-events:none;}
  }
  #image-text {
    .text { padding-left:$smallerColumnSpacing;}
  }
  footer {
    .socialmedia {padding-bottom:40px;border-top-width:6px;}
    .approach {padding-bottom:40px;border-top-width:6px;}
    .about {padding-bottom:40px;border-top-width:6px;}
    h4 { padding-bottom:20px;}
    .socialmedia .social-icons li {width: 16.66666%;padding-bottom: 16.66666%;}
  }
  nav {
    .menu-btn {display:block;}
    ul {
      padding-left:0;
      &.open {
        li{ display:block;@include animation(fadeIn 1s);}
      }
      li {
        display:none; float:none; width:100%;
        &:nth-child(2n){ background:$softwhite;}
        a{padding:18px 0 18px $smallerColumnSpacing;}
        &:first-child {
          a { padding-left:$smallerColumnSpacing;}
        }
      }
    }
  }
  #contact {
    form {
      input {
        padding-top: 12px;padding-bottom: 12px;
        &::-webkit-input-placeholder { color:$mediumlight; font-size:22px; }
        &:-moz-placeholder { color:$mediumlight; font-size:22px; }
        &::-moz-placeholder { color:$mediumlight; font-size:22px; }
        &:-ms-input-placeholder { color:$mediumlight; font-size:22px;}
      }
      button{width: 100%;}
    }
  }
  .page-wrap {padding-top:40px;}
  .download {
    padding-bottom:0;
    li {
      a {
        .download-title { float:none;padding: 22px 0 0 30px; width:calc(100% - 88px);}
        .download-desc { float:none;padding: 6px 30px 12px 30px; width:calc(100% - 88px); text-align:left;}
        .download-btn { width:88px; height:88px;padding: 24px 32px;}
      }
    }
  }
  [class*=col-sm-] {
    &.npam-responsive { padding:0;}
  }
  #about-us {
    article { padding-bottom:0;}
    .site-image {border-left:0}
  }
  .enhavo_grid_citetext { font-size:$bigFontSize;}
  .enhavo_grid_picturepicture { padding-bottom:120px;}
  .enhavo_grid .border-left { border-left:0;}
  .picture_caption { padding-bottom:45px;}
  #article .enhavo_grid .enhavo_grid_text { padding-bottom:0;}
  .enhavo_grid_texttext { padding-bottom:120px;}
  .enhavo_grid_picture { padding-bottom:120px;}
  .enhavo_grid {
    .enhavo_grid_textpicture {
      .enhavo_grid_img { margin:75px 0 0 0;}
    }
  }
}

@media all and (max-width:600px) {
  h1 {font-size: 39px;}
  h2 {font-size: 36px;}
  #hero {
    .hero-caption {
      padding-bottom:$smallerColumnSpacing;
      .article-category {padding-bottom: 20px;}
      .article-title {padding-bottom:15px;}
      .article-desc {font-size:21px;}
    }
  }
  #image-text {
    .image { height:300px;
      img {top: -40px;width: 100%;}
      .stoerer {
        width:150px; height:150px;left: 50%;top: 120px;margin-left: -75px;
        p{padding-top: 29px;font-size: 26px;}
      }
    }
  }
  aside {
    .newsletter-widget { width:100%;}
    .category-widget { width:100%;}
  }
  #article-feed {
    .articles {
      article {
        width:50%; float:left; background:$softwhite;border-bottom:1px solid #FFF;height: 425px;
        &:nth-child(2n) { border-left:1px solid #FFF;}
        .article-content {
          width:100%; left:0; position:initial;height: auto; padding-top:30px;
          .date{color:#FFF;}
        }
        .article-photo {
          width:100%; padding-bottom:0; height:160px;
          img{height: auto;width: 100%; top:50%;@include transform(translateY(-50%));}
        }
      }
      .load-articles {clear: both; padding:30px 0; border-top:0;}
    }
  }
}

@media all and (max-width:479px) {
  h2 {font-size: 30px;}
  #image-text {
    .image img {top: 0;width: 150%;position: relative;left: 50%;@include transform(translateX(-50%));}
  }
  .container {padding-top:30px; padding-bottom:30px;}
  footer {
    .socialmedia {
      .social-icons {
        li {width:33.33333%; padding-bottom:33.33333%;}
      }
    }
    .bottom-bar{
      p{ float:none; display:block; font-size:14px;}
      .links {
        float:none; display:block; padding-top:10px;
        a {font-size:14px;}
      }
    }
  }
  #hero {
    #secondary {
      .logo{ width:140px; height:140px;}
    }
  }
  #article-feed {
    .articles {
      article { width:100%; background:#FFF;}
    }
  }
  .download {
    li {
      a {
        .download-btn { display:none;}
        .download-title { width:100%; font-size:$smallFontSize;}
        .download-desc { width:100%;font-size:$smallFontSize;}
      }
    }
  }
  .slick-dots { background:transparent; bottom:70px;}
}