@import "compass";
@import 'partials/vars';

/* ====== Article Single View ====== */
// general
#article {
  position:relative; padding-bottom:100px;
  .article-head {
    display:block;
    .article-title { padding-bottom:10px; font-size:$secondHeadingFontSize;}
    .category {
      padding-bottom:20px; font-size:$smallFontSize; display:inline-block;;
      &:nth-of-type(n+2) {
        &:before {margin:0 10px;content:"\2022";height: auto;width: 0;background: none;display: inline;}
      }
    }
  }
  .enhavo_grid {
    padding-top:80px;clear:both; min-height: 250px;
    .title {
      padding-bottom:30px;font-size:$thirdHeadingFontSize; text-transform:none; letter-spacing:normal; font-family:$lightFontFamily;
      &:before {content:normal; }
    }
  }
  .back-to-blog {
    width:80px; height:80px; position:absolute; left:0; bottom:0; background:$blueberry;
    &:hover {
      background:$citrus;
      i{color:$night;@include transition(all .3s);}
    }
    i {color:#FFF;@include transform(scaleX(-1));display: inline-block;position: absolute;left: 50%;margin-left: -12px;top: 50%;margin-top: -9px;;@include transition(all .3s);}
  }
}

.enhavo_grid_frame {border:6px solid $light;}
.picture_caption{color:$medium; padding-top:10px; padding-bottom:120px;}

.article-footer {
  background:$softwhite;
  .container { padding-top:0; padding-bottom:0;}
  .pub-date {font-size:$smallFontSize;color:$medium; padding:12px;}
}

.back-btn {
  width:80px; height:80px; background:$citrus;
  position:absolute; left:0; top:0; display:block;
  i{color:#FFF; font-size:24px; position:absolute; left:50%; top:50%;@include transform(translateX(-50%) translateY(-50%))}
  &:hover { background:$blueberry;}
}