{% include 'theme/navigation/type-chooser.html.twig' with {'node': node.children.first} %}
{% if node.children.count > 1 %}
    <ul class="submenu">
        <span class="container">
        {% for node in node.children[1:] %}
            <li>{% include '@EnhavoDemo/theme/navigation/type-chooser.html.twig' with {'node': node} %}</li>
        {% endfor %}
        </span>
    </ul>
{% endif %}