{% extends theme_template('base') %}

{% block bodyclass %}light{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/enhavoshop/js/Shop.js') }}" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div class="product-single-view">
        <div class="container">
            <div class="row shop-product">
                <div class="col-sm-6">
                    {{ theme_widget_render('shop_product_configurator', {
                        product: product,
                        template: 'EnhavoProjectBundle:Theme/Widget:product-configurator.html.twig'
                    }) }}
                </div>
                <div class="col-sm-6">
                    {% if product.picture %}
                        <div class="product-picture">
                            <img src="{{ media_url(product.picture) }}" />
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <a href="/" class="back-to-blog"><i class="icon-forward"></i></a>
    </div>
{% endblock %}