{% extends template('theme_base') %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/enhavoshop/js/Shop.js') }}"></script>
{% endblock %}

{% block main %}

    <h1>Empty</h1>

{% endblock %}