enhavo_app:
    template_paths:
        enhavo_template:
            path: '@EnhavoTemplateBundle/Resources/views'
            alias: EnhavoTemplate
            priority: 10
    roles:
        enhavo_template_template_index:
            role: ROLE_ENHAVO_TEMPLATE_TEMPLATE_INDEX
            label: template.role.label.index
            translation_domain: EnhavoTemplateBundle
        enhavo_template_template_create:
            role: ROLE_ENHAVO_TEMPLATE_TEMPLATE_CREATE
            label: template.role.label.create
            translation_domain: EnhavoTemplateBundle
        enhavo_template_template_update:
            role: ROLE_ENHAVO_TEMPLATE_TEMPLATE_UPDATE
            label: template.role.label.update
            translation_domain: EnhavoTemplateBundle
        enhavo_template_template_delete:
            role: ROLE_ENHAVO_TEMPLATE_TEMPLATE_DELETE
            label: template.role.label.delete
            translation_domain: EnhavoTemplateBundle

enhavo_routing:
    classes:
        Enhavo\Bundle\TemplateBundle\Entity\Template:
            router:
                default:
                    type: routable
                view:
                    type: id
                    route: enhavo_template_template_update
                admin:
                    type: admin
                    index_route: enhavo_template_template_index
                    update_route: enhavo_template_template_update


cmf_routing:
    dynamic:
        controllers_by_class:
            Enhavo\Bundle\TemplateBundle\Entity\Template: Enhavo\Bundle\TemplateBundle\Controller\TemplateController::showResourceAction
