services:
    Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ElasticSearchEngine:
        arguments:
            - '@Enhavo\Bundle\SearchBundle\Index\IndexDataProvider'
            - '@Enhavo\Component\Metadata\MetadataRepository[Index]'
            - '@doctrine.orm.entity_manager'
            - '@enhavo_search.engine.elastic_search_index_remover'
            - '@enhavo_search.engine.elastic_search_document_id_generator'
            - '@Enhavo\Bundle\SearchBundle\Filter\FilterDataProvider'
            - '@Enhavo\Bundle\DoctrineExtensionBundle\EntityResolver\EntityResolverInterface'
            - '%enhavo_search.index.class%'
            - '@Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ClientFactory'
            - '%enhavo_search.search.dsn%'
            - '%enhavo_search.elastic.index_settings%'
        tags:
            - { name: enhavo_search.engine }

    Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ClientFactory:
        arguments:

    enhavo_search.engine.elastic_search_index_remover:
        class: Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ElasticSearchIndexRemover
        arguments:
            - '@Enhavo\Component\Metadata\MetadataRepository[Index]'
            - '@enhavo_search.engine.elastic_search_document_id_generator'
            - '@Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ClientFactory'
            - '%enhavo_search.search.dsn%'

    enhavo_search.engine.elastic_search_document_id_generator:
        class: Enhavo\Bundle\SearchBundle\Engine\ElasticSearch\ElasticSearchDocumentIdGenerator
