.contentForm {position: relative;}

.contentForm .add-content-button {font-size:14px;line-height:19px;}

.contentForm .menu {display: none;position: absolute;background-color: #eee;color: #000;z-index: 1000;padding: 1px;}
.contentForm .menu.bottomTriangle .triangle-up {display: none;}
.contentForm .menu.topTriangle .triangle-down {display: none;}
.contentForm .menu .triangle-up {width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #eee;position: absolute;top: -10px;left:0;}
.contentForm .menu .triangle-down {width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #eee;position: absolute;bottom: -10px;left: 0;}
.contentForm .menu li:first-child {margin-top: 0;}
.contentForm .menu li {margin-top: 1px;background-color: #fff;padding: 2px 5px;min-width: 100px;}
.contentForm .menu li:hover {background-color: #4395d1;color:#fff;}

.contentForm .addItem {cursor: pointer;}

.contentForm .item {margin-bottom:15px;border:1px solid #ddd;}
.contentForm .item .button-container {background-color: #ddd;padding-left:85px;position: relative;line-height:25px;}
.contentForm .item .button-container .button {position: absolute;cursor: pointer;height:100%;z-index: 1;top:0;text-align:center;width:33px;background:#fff;}
.contentForm .item .button-container .button:hover {color:#fff;background:#4395d1;}

.contentForm .item .button-container .button-up {left:0;}
.contentForm .item .button-container .button-down {left:34px;}
.contentForm .item .button-container .button-delete {right:0;}

.contentForm .item .button-container .label {font-weight: 700;}

.textleft label {
    color: black !important;
}

.darkbg {background-color:#777;}