::selection {background-color:$aubergine;color:$citrus;}
::-moz-selection {background-color:$aubergine;color:$citrus;}
::-webkit-selection {background-color:$aubergine;color:$citrus}

html{ overflow-x:hidden;}

body {
  font-family:$regularFontFamily;
  font-size:$defaultFontSize;
  line-height:$defaultLineHeight;
  background:url(../img/pattern.png) repeat;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x:hidden;
  @include animation(fadeIn 1s);
  height:auto;
  &.light{ background:#FFF;}
  &.fixed{ position:fixed; overflow:hidden;}
}
.container {
  width: $containerWidth;padding: 60px $columnSpacing;
  &.npb { padding-bottom:0;}
  &.npt { padding-top:0;}
  &.article-container {position:relative;}
}

a {@include transition(all .3s ease-in-out);
  &:hover {@include transition(all .3s ease-in-out); text-decoration:none;}
  &:focus { text-decoration:none;}
}

h1, h2, h3, h4, p, a {
  line-height:$defaultLineHeight;
  &.capitals {text-transform:uppercase;font-family:$capitalFontBold;letter-spacing:$defaultLetterSpacing;}
  &.spacing {
    &:before {content:""; display:block; height:3px; width:40px; background:$aubergine; margin-bottom:20px;}
  }
  &.cat { font-size:$smallFontSize;}
}

h1 {font-size:$firstHeadingFontSize; font-family:$lightFontFamily;}
h2 {font-size:$secondHeadingFontSize; font-family:$lightFontFamily; padding-bottom:40px;line-height:$smallLineHeight;}
h3 {font-size:$thirdHeadingFontSize; font-family:$lightFontFamily;}
h4 { letter-spacing:$defaultLetterSpacing; text-transform:uppercase; font-family:$capitalFontBold;}

img{ width:100%; min-width:100%;}

strong { font-family:$mediumFontFamily;}

section {
  height: auto;
  &.fullheight{height: 100vh;}
}

form {
  input {
    padding:9px 16px; border:1px solid $light; width:100%; display:block;@include transition(all .2s); color:$night;
    &:focus { outline:0; border-color:$aubergine;@include transition(all .2s);}
  }
  label { display:block; margin-bottom:5px; color:$mediumlight;}
  fieldset {
    &.row {
      + .row {margin-top:30px;}
    }
  }
  .styled-select {
    position:relative;
    select {
      -webkit-appearance:none;-moz-appearance:none; background:#FFF; border:1px solid $light; display:block; width:100%;
      -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; text-align:center; height:44px; color:$night;padding:9px 16px;
      &:focus {border-color:$aubergine; outline:0;}
    }
    &:after { content: '\e82e'; position:absolute; right:12px; top:11px; color:$light; font-family: 'enhavo_iconfont';}
  }
  .styled-checkbox {
    position:relative;
    input[type="checkbox"] {
      opacity:0; left:0;top: 5px;position: absolute;z-index: 1;padding: 10px;-webkit-appearance: none;-moz-appearance: none;cursor:pointer;
      &:checked {
        + span {border-color:$aubergine;
          &:after { opacity:1;}
        }
      }
    }
    label { display:inline-block; margin-left:8px;}
    span {
      position:relative;width:20px; height:20px; background:#FFF;top: 4px;left: 0; cursor:pointer;
      border:1px solid $light;border-radius:2px; position:relative; display:inline-block;
      &:after {
        content: "\e82a";color:$aubergine; position:absolute; left:50%; top:50%; opacity:0;
        font-family: 'enhavo_iconfont';margin-left: -8px;margin-top: -12px;
      }
    }
  }
}

.npam {padding:0; margin:0;}

nav {
  width:100%;background:#FFF;height:auto;border-bottom:1px solid $lighter; position:relative;
  .menu-btn { width:100px; padding:18px 40px; background:#FFF; display:none;}
  ul {
    .nav-container { display:block; margin:0 auto; padding:0 $columnSpacing; position:relative;}
    li{
      float:left;
      a {
        padding:30px; display:inline-block;color:$aubergine; text-transform:uppercase; letter-spacing:$smallLetterSpacing; font-family:$mediumFontFamily;
        &:hover {color:$blueberry; text-decoration:none;}
      }
    }
  }
  .shopping-cart{
    position:absolute; top:35px; right:75px; color:$light;@include transition(all .2s);
    i { font-size:$bigFontSize;}
    .indicator {border-radius:35px; display:inline-block; font-size:$smallFontSize; font-family:$capitalFontBold; background:$blueberry;color:#FFF; text-align:center; position:absolute; top:-15px; right:-10px; width:20px; height:20px;@include transition(all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275));line-height: 1.1em;}
    &:hover {
      color:$mediumlight;@include transition(all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275));
      .indicator { margin-top:-5px;@include transition(all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275));}
    }
    &.add-item {
      .indicator { opacity:0;@include transition(all .3s);}
      &.update-value {
        .indicator {@include animation(fadeUp 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards 400ms);}
      }
    }
  }
  .search-widget {
    position:absolute; right:125px; top:17px;
    input {
      background:$lighter;border-radius:35px; border:0; padding:15px; display:inline-block; width:50px; height:50px;@include transition(all .3s cubic-bezier(0.77, 0, 0.175, 1)); padding: 8px 25px 8px 25px;
      &::-webkit-input-placeholder { opacity:0;}
      &:-moz-placeholder { opacity:0;}
      &::-moz-placeholder { opacity:0;}
      &:-ms-input-placeholder { opacity:0;}
      &:focus {
        width:250px;border-radius:35px;@include transition(all .3s cubic-bezier(0.77, 0, 0.175, 1));outline:0; padding-right:45px;
        + button {
          i { color:$aubergine;@include transition(all .3s);}
        }
      }
    }
    button {
      position:absolute; background:none; border:0;right: 5px;top: 13px;pointer-events:none;
      i { color:#FFF;@include transition(all .3s);}
    }
    + li {
      a { padding-left:0;}
    }
  }
}

.btn {
  @include transition(all .3s);
  &:hover {@include transition(all .3s);}
  &.rounded {border-radius:35px; background:$medium; color:#FFF; padding:7px 35px; text-align:center; font-size:$defaultFontSize;}
  &.aubergine {
    background:$aubergine; color:#FFF;
    &:hover { background:$blueberry;}
  }
  &.citrus {
    background:$citrus;color:$aubergine;
    &:hover { background:$aubergine; color:$citrus;}
  }
  &.blueberry {
    background:$blueberry; color:#FFF;
    &:hover { background:$citrus; color:$aubergine;}
  }
}

.page-wrap {
  position:relative;width:100%;height:auto;min-height:930px;padding-top:90px;
  section{width:100%; float:left; height:auto;}
  #categories {
    .category {
      .cat-image {height:250px;}
    }
  }
}

button {
  &:focus {outline:0}
}

main {min-height:calc(100vh - 610px);}

main, header, footer {
  &.blur {@include filter(blur(6px));}
}

::-webkit-input-placeholder {color:$light; text-transform:uppercase; letter-spacing:$smallLetterSpacing; font-family:$capitalFontLightItalic;}
:-moz-placeholder {color:$light; text-transform:uppercase; letter-spacing:$smallLetterSpacing; font-family:$capitalFontLightItalic;}
::-moz-placeholder {color:$light; text-transform:uppercase; letter-spacing:$smallLetterSpacing; font-family:$capitalFontLightItalic;}
:-ms-input-placeholder {color:$light; text-transform:uppercase; letter-spacing:$smallLetterSpacing; font-family:$capitalFontLightItalic;}

footer {
  background:$night; width:100%;color:$mediumlight; position:relative; z-index:1;
  h4{ padding-bottom:35px;}
  .approach {
    border-top:10px solid $citrus; padding-top:90px;
    ul {
      li{
        border-bottom:1px solid $dark; padding:14px 0;
        &:first-child { padding-top:0;}
        &:last-child { border-bottom:0;}
        span { padding-right:25px;}
        a{color:$mediumlight;&:hover{color:$blueberry}}
      }
    }
  }
  .about {border-top:10px solid $blueberry; padding-top:90px;}
  .socialmedia {
    border-top:10px solid $aubergine; padding-top:90px;
    .social-icons {
      li {
        width:16.666%; float:left; position:relative; height:0; padding-bottom:16.666%;
        a {
          position:absolute; top:0;left:0;border-left:1px solid $night;border-bottom:1px solid $night; overflow:hidden;
          width:100%; height:100%; display:block;background:$dark;
          i {color: $night;font-size:25px; position:absolute; top:50%; left:50%;
            @include transform(translateX(-50%) translateY(-50%));}
          .hover-square { background:$citrus; width:101%; height:101%; display:block;@include transform(translateY(100%));@include transition(all .4s  cubic-bezier(0.19, 1, 0.22, 1));}
          &:hover {
            .hover-square { background:$blueberry;@include transform(translateY(0));@include transition(all .8s cubic-bezier(0.19, 1, 0.22, 1));}
          }
        }
      }
    }
  }
  .bottom-bar {
    display:inline-block; width:100%;background:$dark; padding:24px $columnSpacing;color:$mediumlight;margin-top:50px; font-family:$capitalFontBold;
    .links {
      float:right; display:inline-block;
      a {
        color:$mediumlight; font-size:$smallFontSize; text-transform:uppercase; letter-spacing:$defaultLetterSpacing; display:inline-block;
        &:first-child{ padding-right:7px;}
        &:last-child{ padding-left:14px;border-left:1px solid #000}
        &:hover {color:$citrus;}
      }
    }
    p {display:inline-block;font-size:$smallFontSize; float:left; text-transform:uppercase; letter-spacing:$defaultLetterSpacing;}
  }
}

.switch-language {
  position:absolute; right: $columnSpacing; top:110px;
  li {
    float:left;padding:6px 0; text-align:center;  font-size:$smallFontSize; letter-spacing:$defaultLetterSpacing; width:34px; height:34px;border:2px solid #FFF;@include transition(all .2s);
    &.de {margin-right:7px;}
    &.active, &:hover {
      background:#FFF;@include transition(all .2s);
      a {color:$dark;}
    }
    a {
      color:#FFF;font-family:$capitalFontBold;
      &:hover { color:$blueberry;}
    }
  }
}