.category-list .choice-input-with-label {display: block;margin-bottom: 3px;}

.choice-input-container {padding-top:4px;}
.choice-input-container label {padding-right:10px;}

/* input container */

.formwidget-container input[type=file] {border:0;background:transparent;}
.formwidget-container label {margin-top: 8px;padding-left: 5px;color:#000;}
.formwidget-container .icheckbox-enhavo {margin-top: 0px;}
.formwidget-container .select2-container {width: 100%;}
.formwidget-container .select2-container .select2-choice {border-radius: 0;}

.input-container {display:inline-block;padding:5px 6px;color: #000;background:#f3f3f3;width:100%;}
.input-container.disabled {background:#ddd;}
.input-container input,
.input-container textarea {font: 13px/1.6em "Open Sans";margin:0;background:transparent;border:0px;resize:none;width: 100%;}
.input-container textarea {margin-right: 20px;}


.wysiwyg-container .mce-panel {background:#eee;border:1px solid #eee;}
.wysiwyg-container .mce-tinymce {border-radius:0;}
.wysiwyg-container .mce-btn-group .mce-btn {box-shadow:none;}
.wysiwyg-container .mce-btn-group .mce-btn button {border-right:1px solid #c5c5c5;}
.wysiwyg-container .mce-btn-group .mce-first {border-radius:0;}
.wysiwyg-container .mce-btn-group .mce-first.mce-last {border-radius:0;}
.wysiwyg-container .mce-btn-group .mce-last {border-radius:0;}
.wysiwyg-container .mce-btn-group .mce-last button {border-right:0;}
.wysiwyg-container .mce-splitbtn .mce-open {border-left:0;}

#list-fields .button-delete {    position: absolute;  cursor: pointer;  z-index: 1;  top: 0;  text-align: center;  width: 33px;  background: #fff;  right: 28px; height: 100%; padding-top: 5px;}
#list-fields li {position: relative;}
#list-fields .button-container {
     background-color: #ddd;
     padding-left: 85px;
     position: relative;
     line-height: 25px;
}
#list-fields .button {
     position: absolute;
     cursor: pointer;
     height: 100%;
     z-index: 1;
     top: 0;
     text-align: center;
     width: 33px;
     background: #fff;
}

#list-fields .button:hover {background-color: #4395d1;}
#list-fields .listElement {margin-left: 0px;margin-right: 0px; }
#list-fields .listElement .input-container {margin-bottom: 10px;}
.add-another {width: 26px;}
#list-fields .button-up {left: 0}
#list-fields .button-down {left: 34px}

#list-fields.sortable-border-delete{}
#list-fields.sortable-border-delete li{border: 1px solid #ddd;margin-bottom: 10px;}
#list-fields.sortable-border-delete .button-delete{right:0;height: 25px; padding-top: 2px;}
#list-fields.sortable-border-delete .listElement .input-container {width: 97%;margin-bottom: 10px;margin-left: 10px;}

#list-fields.sortable-delete{}
#list-fields.sortable-delete .button-delete{right:94px; height: 32px; padding-top: 5px;}
#list-fields.sortable-delete .button-up{right: 0; left:inherit;height: 32px;padding-top: 5px;}
#list-fields.sortable-delete .button-down{right: 34px; left:inherit;height: 32px;padding-top: 5px;}

#list-fields.border-delete{}
#list-fields.border-delete li{border: 1px solid #ddd; padding-top: 10px;margin-top: 10px;margin-bottom: 16px;}
#list-fields.border-delete .button-delete {height: 32px;margin-top: 10px;}

#list-fields.delete{}
#list-fields.delete .button-delete{height: 32px;}

#list-fields.border{}
#list-fields.border li{border: 1px solid #ddd;margin-bottom: 10px; padding-top: 10px;}

#list-fields.sortable{}
#list-fields.sortable .button-up{right: 0; left:inherit;height: 32px;padding-top: 5px;}
#list-fields.sortable .button-down{right: 34px; left:inherit;height: 32px;padding-top: 5px;}

#list-fields.sortable-border{}
#list-fields.sortable-border li{border: 1px solid #ddd;margin-bottom: 10px; padding-top: 10px;}
#list-fields.sortable-border .button-up{right: 10px; left:inherit;height: 32px;padding-top: 5px;    margin-top: 10px;}
#list-fields.sortable-border .button-down{right: 44px; left:inherit;height: 32px;padding-top: 5px;    margin-top: 10px;}

#overlayContent form > .row:last-of-type{
    padding: 25px 0;
    background: #fefefe;
    border-top: 1px solid #f3f3f3;
    border-radius: 0 0 2px 2px;
}

.form-message-box {
    padding: 10px;
    color: #fff;
}

.form-message-box.type-info {
    background-color: #4ab1ea;
}

.form-message-box.type-warning {
    background-color: #da5753;
}