{% extends template('admin/view/base.html.twig') %}

{% block content %}
    <div id="app"
         data-controller="application"
         data-application-application-value="@enhavo/media/image-cropper/ImageCropperApp"
         data-application-component-value="@enhavo/media/image-cropper/components/ImageCropperComponent.vue"
    ></div>
{% endblock %}
