Enhavo\Bundle\GridBundle\Entity\Item:
    type: entity
    table: grid_item
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO

    fields:
        name:
            type: string
            length: 255
            nullable: true

        position:
            type: integer
            nullable: true

        itemTypeId:
            type: integer
            nullable: true

        itemTypeClass:
            type: string
            length: 255
            nullable: true

    manyToOne:
        grid:
            targetEntity: Enhavo\Bundle\GridBundle\Model\GridInterface
            mappedBy: items
            joinColumn:
                onDelete: CASCADE

    lifecycleCallbacks: {  }
