services:
    Enhavo\Bundle\SidebarBundle\Menu\SidebarMenu:
        parent: Enhavo\Bundle\AppBundle\Menu\Menu\BaseMenu
        tags:
            - { name: enhavo.menu, alias: sidebar }

    Enhavo\Bundle\SidebarBundle\Form\Type\SidebarType:
        arguments:
            - '%enhavo_sidebar.model.sidebar.class%'
        tags:
            - { name: form.type, alias: enhavo_sidebar_sidebar }

    Enhavo\Bundle\SidebarBundle\Block\SidebarColumnBlockType:
        tags:
            - { name: enhavo_block.block }

    Enhavo\Bundle\SidebarBundle\Widget\SidebarWidgetType:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.widget, alias: 'sidebar' }
