<div data-filter data-filter-auto-complete-entity>
    <div data-auto-complete-entity="{{ auto_complete_data|json_encode|e }}">
        <input type="hidden" name="{{ name }}" data-auto-complete-input data-filter-input />
    </div>
</div>