.user-date { font-weight:$semibold; font-size:$fontSize1}
.user-content {
  .summary { padding-top:0;}
  .cart-list {
    .cart-action {
      .btn {max-width:100%}
    }
  }
}

@media (max-width: 1025px) {
  .cart-list {
    .cart-summary { margin-top:0;}
  }
}