.order-table { font-size:$fontSize2;
  a {transition:all .2s;
    &:hover { opacity:.5;}
  }
  .order-table-head { background:$black; color:#FFF;display:flex;flex-flow:row wrap;padding:3px 14px;
    >div {padding:0 4px;}
  }
  .order-table-row { display:flex;flex-flow:row wrap; border-bottom:1px solid $black; padding:14px 12px;
    >div { padding:0 4px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
  }
  .date {flex:2;min-width: 95px;}
  .items {flex:10}
  .state {flex:1; display:flex;justify-content:flex-end;min-width:85px}
}