.user-date { font-weight:$semibold; font-size:$fontSize1}
.user-content {
  .summary { padding-top:0;}
  .cart-list {
    .cart-action {
      .btn {max-width:100%}
    }
  }
}

@media (max-width: 1250px) {
  .user-content {
    .cart-list {
      .cart-action {
        .btn { padding-left:0; padding-right:0;
          +.btn { margin-left:-1px;}
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .user-content {
    .cart-list {
      .cart-action {
        .btn {margin-top:-1px;
          + .btn { margin-top:-1px;}
        }
      }
      .cart-summary { margin-top:0;}
    }
  }
}