{% extends "EnhavoAppBundle::base.html.twig" %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block body %}
    <div id="background">
        <div id="loginBox">
            <div class="ribbon">
                <p>0.1</p>
            </div>
            <div class="logo">
                <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
            </div>
            <div class="row">
                <div class="col-md-7">
                        Email gesendet
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="col-md-6 reset">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'reset.label.login'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
