parameters:
    locale: en

services:
    _defaults:
        autowire: false
        autoconfigure: false

    App\Controller\:
        resource: '../src/App/Controller'
        calls:
            - [setContainer, ['@service_container']]
        tags: ['controller.service_arguments']

    app.multi-tenancy.provider:
        class: Enhavo\Bundle\MultiTenancyBundle\Provider\ConfigurationProvider
        arguments:
            -  { de: { name: Deutsch, role: ROLE_LANGUAGE_DE, baseUrl: enhavo.de, domains: [ dev.enhavo.de ] }, en: { name: English, role: ROLE_LANGUAGE_EN, baseUrl: enhavo.com, domains: [ dev.enhavo.com ] } }
