parameters:
    enhavo_media.twig.extension_render.class: Enhavo\Bundle\MediaBundle\Extension\ExtensionRenderer
    enhavo_media.twig.extension_collector.class: Enhavo\Bundle\AppBundle\Type\TypeCollector

services:
    enhavo_media.extension_manager:
        class: Enhavo\Bundle\MediaBundle\Media\ExtensionManager
        arguments:
          - '@enhavo_media.extension_collector'

    enhavo_media.extension_collector:
        class: '%enhavo_media.twig.extension_collector.class%'
        arguments:
          - '@service_container'
          - 'MediaExtension'

    enhavo_media.twig.extension_renderer:
        class: '%enhavo_media.twig.extension_render.class%'
        arguments:
            - '@enhavo_media.extension_collector'
        tags:
            - { name: twig.extension }

    enhavo_media.extension.image_cropper:
        class: Enhavo\Bundle\MediaBundle\Extension\Extension\ImageCropperExtension
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.media_extension, alias: 'image_cropper' }