parameters:
    enhavo_media.file_storage_path: '%kernel.project_dir%/var/media'

services:
    enhavo_media.form.file:
        class: Enhavo\Bundle\MediaBundle\Form\Type\FileType
        arguments:
            - '@form.factory'
            - '@enhavo_media.repository.file'
            - '@enhavo_media.extension_manager'
            - '@serializer'
        tags:
            - { name: form.type, alias: enhavo_file }

    enhavo_media.form.media:
        class: Enhavo\Bundle\MediaBundle\Form\Type\MediaType
        arguments:
            - '@enhavo_media.extension_manager'
            - '%enhavo_media.form%'
        tags:
            - { name: form.type, alias: enhavo_media }

    Enhavo\Bundle\MediaBundle\Form\Extension\MediaVueTypeExtension:
        arguments:
            - '@Enhavo\Bundle\MediaBundle\Media\MediaManager'
        tags:
            - { name: form.type_extension, priority: 99 }

    Enhavo\Bundle\MediaBundle\Form\Extension\FileVueTypeExtension:
        tags:
            - { name: form.type_extension, priority: 99 }

    enhavo_media.form.extension.image_cropper:
        class: Enhavo\Bundle\MediaBundle\Form\Extension\ImageCropperMediaExtension
        tags:
            - { name: form.type_extension, extended_type: Enhavo\Bundle\MediaBundle\Form\Type\MediaType }

    enhavo_media.form.extension.media:
        class: Enhavo\Bundle\MediaBundle\Form\Extension\MediaExtension
        arguments:
            - '%enhavo_media.form%'
        tags:
            - { name: form.type_extension, extended_type: Enhavo\Bundle\MediaBundle\Form\Type\MediaType }

    enhavo_media.media.media_manager:
        public: true
        alias: Enhavo\Bundle\MediaBundle\Media\MediaManager

    Enhavo\Bundle\MediaBundle\Media\MediaManager:
        public: true
        arguments:
            - '@enhavo_media.storage'
            - '@enhavo_media.media.format_manager'
            - '@enhavo_media.repository.file'
            - '@enhavo_media.provider'
            - '@Enhavo\Bundle\DoctrineExtensionBundle\Util\AssociationFinder'
            - '@Enhavo\Bundle\AppBundle\Resource\ResourceManager'

    enhavo_media.media.format_manager:
        class: Enhavo\Bundle\MediaBundle\Media\FormatManager
        public: true
        arguments:
            - '%enhavo_media.formats%'
            - '@enhavo_media.storage'
            - '@enhavo_media.repository.format'
            - '@enhavo_media.factory.format'
            - '@enhavo_media.filter_collector'
            - '@doctrine.orm.entity_manager'
            - '@enhavo_media.provider'
            - '@enhavo_media.cache'

    enhavo_media.media.image_cropper_manager:
        class: Enhavo\Bundle\MediaBundle\Media\ImageCropperManager
        arguments:
            - '%enhavo_media.formats%'

    enhavo_media.storage.local_file_storage:
        class: Enhavo\Bundle\MediaBundle\Storage\LocalFileStorage
        arguments:
            - '%enhavo_media.file_storage_path%'
            - '@filesystem'

    enhavo_media.provider.default_provider:
        class: Enhavo\Bundle\MediaBundle\Provider\DefaultProvider
        arguments:
            - '@enhavo_app.util.secure_url_token_generator'
            - '@enhavo_media.repository.file'

    enhavo_media.twig.media_extension:
        class: Enhavo\Bundle\MediaBundle\Twig\MediaExtension
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@enhavo_media.media.public_url_generator'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: twig.extension }

    enhavo_media.listener.doctrine_subscriber:
        class: Enhavo\Bundle\MediaBundle\EventListener\DoctrineSubscriber
        arguments:
            - '@enhavo_media.storage'
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    Enhavo\Bundle\MediaBundle\Column\MediaColumn:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.column, alias: media }

    enhavo_media.factory.file:
        public: true
        alias: Enhavo\Bundle\MediaBundle\Factory\FileFactory

    Enhavo\Bundle\MediaBundle\Factory\FileFactory:
        public: true
        arguments:
            - '%enhavo_media.model.file.class%'
            - '@enhavo_media.provider'
            - '@http_client'

    enhavo_media.factory.format:
        class: Enhavo\Bundle\MediaBundle\Factory\FormatFactory
        arguments:
            - '%enhavo_media.model.format.class%'

    enhavo_media.controller.upload:
        public: true
        class: Enhavo\Bundle\MediaBundle\Controller\UploadController
        arguments:
            - '@enhavo_media.factory.file'
            - '@enhavo_media.factory.format'
            - '@enhavo_media.media.media_manager'
            - '@validator'
            - '@event_dispatcher'
            - '%enhavo_media.upload_validation.groups%'
        calls:
            - [setContainer, ['@service_container']]

    enhavo_media.controller.image_cropper:
        public: true
        class: Enhavo\Bundle\MediaBundle\Controller\ImageCropperController
        arguments:
            - '@Enhavo\Bundle\AppBundle\Resource\ResourceManager'
            - '@sylius.resource_controller.request_configuration_factory'
            - '@enhavo_media.media.image_cropper_manager'
            - '@enhavo_media.media.media_manager'
            - '@Enhavo\Component\Type\FactoryInterface[View]'
        calls:
            - [setContainer, ['@service_container']]

    Enhavo\Bundle\MediaBundle\View\Type\ImageCropperViewType:
        public: true
        arguments:
            - '@Enhavo\Bundle\AppBundle\View\ViewUtil'
            - '@enhavo_app.action_manager'
            - '@session.flash_bag'
            - '@enhavo_media.media.image_cropper_manager'
            - '@enhavo_media.media.media_manager'
            - '@enhavo_media.media.private_url_generator'
        tags:
            - { name: enhavo_app.view, alias: image_cropper }

    enhavo_media.security.default_authorization_checker:
        public: true
        class: Enhavo\Bundle\MediaBundle\Security\DefaultAuthorizationChecker

    enhavo_media.media.public_url_generator:
        class: Enhavo\Bundle\MediaBundle\Media\PublicUrlGenerator
        public: true
        arguments:
            - '@enhavo_media.media.media_manager'
            - '@router'

    enhavo_media.media.private_url_generator:
        class: Enhavo\Bundle\MediaBundle\Media\PrivateUrlGenerator
        public: true
        arguments:
            - '@enhavo_media.media.media_manager'
            - '@router'

    Enhavo\Bundle\MediaBundle\Cache\HttpCache:
        arguments:
            - '@request_stack'
            - '@http_client'
        calls:
            - [setUrlGenerator, ['@enhavo_media.media.public_url_generator']]

    Enhavo\Bundle\MediaBundle\Cache\NoCache:

    Enhavo\Bundle\MediaBundle\Validator\Constraints\ClamAvValidator:
        arguments:
            - '%enhavo_media.upload_validation.clamav%'
        tags:
            - { name: validator.constraint_validator }
