<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavotheme/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavogrid/css/items.css') }}">

<div>
    <h1>{{ data.title }}</h1>
</div>

{{ grid_render(data.grid) }}