services:
    Enhavo\Bundle\NewsletterBundle\Batch\SendBatchType:
        arguments:
            - '@Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager'
        tags:
            - { name: enhavo_resource.batch }

    Enhavo\Bundle\NewsletterBundle\Batch\SendTestBatchType:
        arguments:
            - '@Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager'
            - '@translator'
            - '@form.factory'
        tags:
            - { name: enhavo_resource.batch }

    Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager:
        public: true
        arguments:
          - '@doctrine.orm.entity_manager'
          - '@Enhavo\Bundle\AppBundle\Mailer\MailerManager'
          - '@enhavo_app.util.secure_url_token_generator'
          - '@logger'
          - '@twig'
          - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
          - '@Enhavo\Bundle\NewsletterBundle\Newsletter\ParameterParser'
          - '@enhavo_newsletter.newsletter.provider'
          - '%enhavo_newsletter.newsletter.mail.from%'
          - '%enhavo_newsletter.newsletter.templates%'

    Enhavo\Bundle\NewsletterBundle\Newsletter\ParameterParser:

    Enhavo\Bundle\NewsletterBundle\Form\Type\NewsletterType:
        arguments:
            - '%enhavo_newsletter.model.newsletter.class%'
            - '%enhavo_newsletter.newsletter.templates%'
            - '@translator'
        tags:
            - { name: form.type, alias: enhavo_newsletter_newsletter }

    Enhavo\Bundle\NewsletterBundle\Menu\NewsletterMenu:
        tags:
            - { name: enhavo_app.menu }

    Enhavo\Bundle\NewsletterBundle\Command\SendNewsletterCommand:
        arguments:
            - '@Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager'
            - '@doctrine.orm.entity_manager'
            - '@logger'
        tags:
            - { name: console.command }

    Enhavo\Bundle\NewsletterBundle\Column\NewsletterStateColumnType:
        public: true
        tags:
            - { name: enhavo.column, alias: 'newsletter_state' }
        calls:
            - [setContainer, ['@service_container']]

    enhavo_newsletter.factory.newsletter:
        public: true
        class: '%enhavo_newsletter.factory.newsletter.class%'
        arguments:
            - '%enhavo_newsletter.model.newsletter.class%'
            - '@enhavo_block.factory.node'
