services:
    Enhavo\Bundle\NewsletterBundle\Batch\SendBatchType:
        arguments:
            - '@enhavo_newsletter.manager'
        tags:
            - { name: enhavo_app.batch }

    Enhavo\Bundle\NewsletterBundle\Batch\SendTestBatchType:
        arguments:
            - '@enhavo_newsletter.manager'
            - '@request_stack'
            - '@translator'
            - '@form.factory'
        tags:
            - { name: enhavo_app.batch }

    enhavo_newsletter.manager:
        public: true
        alias: Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager

    Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager:
        public: true
        class: Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterManager
        arguments:
          - '@doctrine.orm.entity_manager'
          - '@mailer'
          - '%enhavo_newsletter.newsletter.mail.from%'
          - '@enhavo_app.util.secure_url_token_generator'
          - '@logger'
          - '@Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterRenderer'
          - '@Enhavo\Component\Metadata\MetadataRepository[Newsletter]'
          - '__empty__'

    Enhavo\Bundle\NewsletterBundle\Newsletter\NewsletterRenderer:
        arguments:
            - '@twig'
            - '@enhavo_app.template.manager'
            - '@Enhavo\Bundle\NewsletterBundle\Newsletter\ParameterParser'
            - '%enhavo_newsletter.newsletter.templates%'

    Enhavo\Bundle\NewsletterBundle\Newsletter\ParameterParser:

    Enhavo\Bundle\NewsletterBundle\Form\Type\NewsletterType:
        arguments:
            - '%enhavo_newsletter.model.newsletter.class%'
            - '%enhavo_newsletter.newsletter.templates%'
            - '@translator'
        tags:
            - { name: form.type, alias: enhavo_newsletter_newsletter }

    Enhavo\Bundle\NewsletterBundle\Menu\NewsletterMenu:
        parent: Enhavo\Bundle\AppBundle\Menu\Menu\BaseMenu
        tags:
            - { name: enhavo.menu, alias: newsletter_newsletter }

    Enhavo\Bundle\NewsletterBundle\Command\SendNewsletterCommand:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@logger'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: console.command, command: 'enhavo:newsletter:send' }

    Enhavo\Bundle\NewsletterBundle\Column\NewsletterStateColumnType:
        public: true
        tags:
            - { name: enhavo.column, alias: 'newsletter_state' }
        calls:
            - [setContainer, ['@service_container']]

    enhavo_newsletter.factory.newsletter:
        public: true
        class: '%enhavo_newsletter.factory.newsletter.class%'
        arguments:
            - '%enhavo_newsletter.model.newsletter.class%'
            - '@enhavo_block.factory.node'
