services:
    enhavo_generator.generator.route_generator:
        class: Enhavo\Bundle\GeneratorBundle\Generator\RoutingGenerator
        arguments:
            - @templating

    enhavo_generator.generator.extend_form_type_generator:
        class: Enhavo\Bundle\GeneratorBundle\Generator\ExtendFormTypeGenerator
        arguments:
            - @templating
            - @kernel

    enhavo_generator.generator.grid_item_generator:
        class: Enhavo\Bundle\GeneratorBundle\Generator\GridItemGenerator
        arguments:
            - '@kernel'
            - '@templating'
