{% extends 'EnhavoThemeBundle::base.html.twig' %}
{% block bodyclass %}light{% endblock %}
{% block main %}
<div class="clearfix page-wrap">
    <section id="downloads">
        <div class="container npam-responsive">
            <h2>Downloads</h2>
            <ul class="download">
                {% for DownloadItem in downloads %}
                    <li>
                        {%  if DownloadItem.file %}
                        <a href="{{ media_url(DownloadItem.file)}}" class="clearfix" download>
                        {% endif %}
                        <span class="download-btn">
                            <i class="icon-arrow-long-down hover"></i>
                            <i class="icon-file-pdf"></i>
                        </span>
                        <p class="download-title capitals">{{ DownloadItem.title }}</p>
                        <span class="download-desc">{{ DownloadItem.text|raw }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% include 'EnhavoThemeBundle:Default:sidebar.html.twig' %}
</div>
{% endblock %}