.slick-dots {
  background:#FFF;
  li{
    background:$blueberry;
    &.slick-active { background:$aubergine;}
  }
}
.slick-arrow {
  background:$citrus;
  i{font-size:24px;color:#FFF}
  &:hover{background:$aubergine;}
}

@media all and (max-width:1150px) {
  .slick-slider {
    margin-bottom: 100px;padding-bottom: 0;
    .slick-dots {
      background:$softwhite;width: calc(100% - 160px); text-align:center; bottom:-80px;
      li { float:none; display:inline-block;}
    }
    .slick-slider {background: $softwhite;}
    .slick-arrow { margin-top:0; bottom:-80px;}
  }
}

@media all and (max-width:767px) {
  .enhavo_grid_gallery { margin-top:20px;}
}