<div style="padding-top: 10px; padding-bottom: 10px;">
    <div>
        {% if data.title %}
            <h2>{{ data.title|raw }}</h2>
        {% endif %}
        {% if data.text %}
            {{ data.text|raw }}
        {% endif %}
    </div>
</div>
