{% if block.width == 'container' %}
    <div class="container">
{% endif %}
    <div class="row">
        <div class="col-md-8">
            {{ block_render(block.column) }}
        </div>
        <div class="col-md-4">
            {% if block.sidebar %}
                {{ block_render(block.sidebar.content) }}
            {% endif %}
        </div>
    </div>
{% if block.width == 'container' %}
    </div>
{% endif %}