{% extends template('admin/view/app.html.twig') %}

{% form_theme form with form_themes %}

{% block content %}
    <div id="app"></div>
    <div data-tab-container style="display: none">
        {% for key,tab in tabs %}
            <div data-tab="{{ key }}">
                {% include template(tab.template) %}
                {% if loop.last and form._token is defined and not form._token.rendered %}
                    {{ form_row(form._token) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
