{% block enhavo_download_widget %}
    {% trans_default_domain translation_domain %}

    <div>
        <button class="btn has-symbol download-button" data-file-download-button>{{ label|trans }}</button>
    </div>
{% endblock %}