{% block enhavo_image_cropper_widget %}
    {% trans_default_domain translation_domain %}

    <div class="image-cropper-format-list">
        {% for format,label in formats %}
            <div class="image-cropper-format-item">
                <div data-image-cropping-tool="{{ format }}" class="image-cropper-format-item-btn btn has-symbol">{{ label }} <i class="icon icon-crop"></i></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}