.product-item { margin-bottom:$columnSpacing*2;
  .product-image { margin-bottom:15px;border:1px solid #dedede;}
  .product-title { font-family:$serifFontFamily; font-size:$fontSize4; font-weight:$medium;}
  .product-vendor { font-size:$fontSize2; font-weight:$semibold;}
  .product-teaser { font-size:$fontSize2; margin-top:15px; line-height:$lineHeight;}
  .product-content { padding:0 10px}
  .product-meta {margin-top:20px;padding:0 10px;
    &:after { content:'';clear:both; display:table;}
    .product-price {line-height:$lineHeight*.8; float:left;
      .default-price { display:inline-block;font-size:$fontSize3; font-weight:$semibold;}
      .reduced-price { display:inline-block; text-decoration:line-through;font-size:$fontSize1;}
      .unit { display:inline-block; font-size:$fontSize1;}
    }
    .product-in-stock { font-size:$fontSize2; float:right; margin-top:-2px;
      &:before { width:12px; height:12px;border-radius:50%; display:inline-block;content:''; margin-right:8px;}
      &.in-stock {
        &:before { background:lightgreen;}
      }
      &.not-in-stock {
        &:before { background:red;}
      }
      &.soon-in-stock {
        &:before { background:orange;}
      }
    }
  }
  .product-config { margin-top:15px;padding:0 10px;
    .btn { float:right; padding:9px 28px;}
    .select { display:inline-block;width:75px; float:left; line-height:1em;
      label { text-transform:uppercase; font-size:$fontSize1*0.8;}
      select{padding: 14px 15px; font-family:$fontFamily; font-size:$fontSize1; font-weight:$medium;}
      &:after { margin-top:-1px; right:15px;}
      input[type="text"] { position:absolute; width:100%; height:100%; left:0; top:0; padding:9px 11px; background:#FFF; z-index:1;font-family:$fontFamily; font-size:$fontSize1; font-weight:$medium; display:none;}
    }
  }
}