{% extends 'theme/base.html.twig' %}

{% block main %}
    <hr>
    <div data-controller="form" data-form-form-value="{{ form|json_encode|e }}" data-form-component-value="form-form">
        {% block form %}{% endblock %}
    </div>
    <hr>
    <pre id="data">{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}