Enhavo\Bundle\NewsletterBundle\Entity\Newsletter:
    attributes:
        id:
            groups: ['endpoint', 'form']
        receivers:
            groups: ['stats']
        content:
            groups: ['endpoint']

Enhavo\Bundle\NewsletterBundle\Entity\Receiver:
    attributes:
        id:
            groups: ['stats']
        sentAt:
            groups: ['stats']
        tracking:
            groups: ['stats']
        email:
            groups: ['stats']
        token:
            groups: ['endpoint', 'stats']

Enhavo\Bundle\NewsletterBundle\Entity\Tracking:
    attributes:
        id:
            groups: ['stats']
        type:
            groups: ['stats']
        date:
            groups: ['stats']

Enhavo\Bundle\NewsletterBundle\Model\Subscriber:
    attributes:
        email:
            groups: ['subscription']
        confirmationToken:
            groups: [ 'subscription' ]
