@import 'compass';
@import 'vars';

.enhavo_blockForm {
  position: relative;
  .addBlock {cursor: pointer;}
  .add-enhavo_block-button {font-size:14px;line-height:19px;}

  .container-actions {

  }

  .container-container {
    .container-block-add-button {

    }

    .container-block {
      border:1px solid #eee;padding-bottom:15px;
      + .block {margin-top:15px;}
      .button-container {
        background-color: #eee;border-bottom: 1px solid #eee;padding-left:85px;position: relative;line-height:25px;margin-bottom:15px;
        .button {position: absolute;cursor: pointer;height:100%;z-index: 1;top:0;text-align:center;width:33px;background:#fff;
          &:hover {color:#fff;background:$primaryColor;}
        }
        .button-delete {right:0;}
        .button-down {left:34px;}
        .button-up {left:0;}
        .button-expand {left: 68px}
        .button-collapse {left: 68px}
        .label {padding-left: 102px; font-weight: 700;}
      }
    }
  }

  .container-menu {
    display: none;position: absolute;color: #000;z-index: 1000;padding: 1px;margin-top: 10px;@include transform(translateX(-50%));background-color:transparent;font-size:12px;line-height:16px;margin-left:19px;@include box-shadow(0px 0px 3px rgba(#4395d1,0.12));
    &.bottomTriangle {
      .triangle-up {display: none;}
    }
    &.topTriangle {
      .triangle-down {display: none;}
    }
    li {padding: 8px 80px 8px 15px;background-color:#eee;
      &:first-child {border-radius:2px 2px 0 0;}
      &:last-child {border-radius:0 0 2px 2px;}
      &:nth-child(2n) {background:#FFF;}
      &:hover {background-color: $primaryColor;color:#fff;}
    }
    .triangle-down {width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #eee;position: absolute;bottom: -9px;left: 50%;@include transform(translateX(-50%));}
    .triangle-up {width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #eee;position: absolute;top: -9px;left:50%;@include transform(translateX(-50%));}
  }
}


