services:
    enhavo_form.error.error.resolver:
        class: Enhavo\Bundle\FormBundle\Error\FormErrorResolver
        arguments:
            - '@translator'

    Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter:
        public: true

    Enhavo\Bundle\FormBundle\Prototype\PrototypeManager:
        arguments:
            - '@enhavo_app.util.secure_url_token_generator'
            - '@form.factory'
