services:
    Enhavo\Bundle\FormBundle\Error\FormErrorResolver:
        public: true
        arguments:
            - '@translator'

    enhavo_form.error.error.resolver:
        public: true
        alias: Enhavo\Bundle\FormBundle\Error\FormErrorResolver

    Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter:
        public: true

    Enhavo\Bundle\FormBundle\Formatter\HtmlSanitizer:
        arguments:
            - '%kernel.cache_dir%/purifier/serialization'
            - '@filesystem'

    Enhavo\Bundle\FormBundle\Prototype\PrototypeManager:
        arguments:
            - '@enhavo_app.util.secure_url_token_generator'

    Enhavo\Bundle\FormBundle\Column\Type\CurrencyType:
        public: true
        arguments:
            - '@Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.column, alias: currency }

    Enhavo\Bundle\FormBundle\Form\Extension\ListVueTypeExtension:
        arguments:
            - '@Enhavo\Bundle\VueFormBundle\Form\VueForm'
        tags:
            - 'form.type_extension'

    Enhavo\Bundle\FormBundle\Form\Extension\PolyCollectionVueTypeExtension:
        arguments:
            - '@Enhavo\Bundle\VueFormBundle\Form\VueForm'
            - '@Enhavo\Bundle\FormBundle\Prototype\PrototypeManager'
        tags:
            - 'form.type_extension'

    Enhavo\Bundle\FormBundle\Form\Extension\PositionVueTypeExtension:
        tags:
            - 'form.type_extension'

    Enhavo\Bundle\FormBundle\Form\Extension\WysiwygVueTypeExtension:
        tags:
            - 'form.type_extension'

    Enhavo\Bundle\FormBundle\Endpoint\AutoCompleteEndpointType:
        arguments:
            - '@Enhavo\Bundle\ResourceBundle\ExpressionLanguage\ResourceExpressionLanguage'
            - '@Enhavo\Bundle\ResourceBundle\Resource\ResourceManager'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: enhavo_api.endpoint }
            - { name: container.service_subscriber }
