{% extends template('theme/base.html.twig') %}
{% trans_default_domain 'EnhavoUserBundle' %}

{% block main %}
    Your account is verified. Click here to <a href="{{ path('enhavo_user_theme_login') }}">login</a>
{% endblock %}
