.search-list-container {
  display:none; background:#FFF; position:relative; overflow:hidden;width: 66.66666%;margin: 15px 0;
  .column {
    width:50%; float:left;
    &:first-child {
      .container-1 {
        .search-option-list { border-left:4px solid #e4e4e4; }
      }
    }
    &:last-child {
      .container-1 {
        .search-option-list { border-right:4px solid #e4e4e4;border-left:1px solid #e4e4e4;}
      }
    }
    .container-1 {
      float:left; width:100%; position:relative; left:0;
      .search-type { padding-left:20px;background:#f3f3f3;font-weight: 700;letter-spacing: 0.02em;text-transform: uppercase;font-size: 11px;}
      .search-option-list {
        label {
          display:block; float:none;background:#FFF; padding:10px 12px;
          &:nth-child(2n){ background:#FBFBFD;}
        }
      }
    }
  }
}

.search-options {
  margin:15px 0;
  &.show {
    background: none;color: #a7b1b3;text-align: left;font-size: 14px;padding-right: 15px;
    &:before {content: '\e8f2';font-family: "enhavo_iconfont";font-size: 28px;display: inline-block;margin: 0 12px 0 0;position: relative;top: 4px;}
  }
}