parameters:
    enhavo_shop_shipment.class: Enhavo\Bundle\ShopBundle\Form\Type\ShipmentType
    enhavo_shop_payment.class: Enhavo\Bundle\ShopBundle\Form\Type\PaymentType

services:
    Enhavo\Bundle\ShopBundle\Form\Type\ProductType:
        arguments:
            - '%sylius.model.product.class%'
            - '%sylius.model.tax_rate.class%'
            - '%sylius.model.product_option.class%'
            - '@sylius.form.event_subscriber.product_variant_generator'
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Type\ProductOptionType:
        arguments:
            - '%sylius.model.product_option.class%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Type\ProductVariantType:
        arguments:
            - '%sylius.model.product_variant.class%'
            - '%sylius.model.tax_rate.class%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Type\ProductOptionValueType:
        arguments:
            - '%sylius.model.product_option_value.class%'
        tags:
            - { name: form.type }

    enhavo_shop.form.type.product_generate_variants:
        class: Enhavo\Bundle\ShopBundle\Form\Type\ProductGenerateVariantsType
        arguments:
            - "%sylius.model.product.class%"
            - "%sylius.form.type.product_generate_variants.validation_groups%"
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Type\ProductVariantGenerationType:
        arguments:
            - '%sylius.model.product_variant.class%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Type\AddToCartType:
        arguments:
            - Sylius\Bundle\OrderBundle\Controller\AddToCartCommand
            - []
        tags:
            - { name: form.type }

    Enhavo\Bundle\ShopBundle\Form\Extension\ResourceTranslationsExtension:
        arguments:
            - '@sylius.translation_locale_provider'
        tags:
            - { name: form.type_extension, extended_type: Sylius\Bundle\ResourceBundle\Form\Type\ResourceTranslationsType }

#    Enhavo\Bundle\ShopBundle\Form\Type\OrderAddressType:
#        arguments:
#            - '%sylius.model.order.class%'
#            - '@enhavo_shop.order.order_address_provider'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderType:
#        arguments:
#            - '%sylius.model.order.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderItemType:
#        arguments:
#            - '%sylius.model.order_item.class%'
#            - '@sylius.form.data_mapper.order_item_quantity'
#            - '%sylius.model.product.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderPaymentType:
#        arguments:
#            - '%sylius.model.order.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderShipmentType:
#        arguments:
#            - '%sylius.model.order.class%'
#        tags:
#            - { name: form.type }
#
#    enhavo_shop_payment:
#        class: '%enhavo_shop_payment.class%'
#        arguments:
#            - '%sylius.model.payment.class%'
#            - '%sylius.model.payment_method.class%'
#        tags:
#            - { name: form.type }
#
#    enhavo_shop_shipment:
#        class: '%enhavo_shop_shipment.class%'
#        arguments:
#            - '%sylius.model.shipment.class%'
#            - '%sylius.model.shipping_method.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderConfirmType:
#        arguments:
#            - '%sylius.model.order.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\OrderPromotionCouponType:
#        arguments:
#            - '%sylius.model.order.class%'
#        tags:
#            - { name: form.type }
#

#
#    Enhavo\Bundle\ShopBundle\Form\Type\ProductVariantCreateType:
#        arguments:
#            - '%sylius.model.product.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\ProductVariantType:
#        arguments:
#            - '%sylius.model.product.class%'
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\CurrencyType:
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\UnitType:
#        tags:
#            - { name: form.type }
#
#    Enhavo\Bundle\ShopBundle\Form\Type\UserAddressType:
#        arguments:
#            - 'Enhavo\Bundle\ShopBundle\Entity\UserAddress'
#        tags:
#            - { name: form.type }