services:
    Enhavo\Bundle\ShopBundle\Action\VariantActionType:
        parent: Enhavo\Bundle\AppBundle\Action\Type\OpenActionType
        public: true
        tags:
            - { name: enhavo.action, alias: shop_variant }

    Enhavo\Bundle\ShopBundle\Action\GenerateVariantActionType:
        parent: Enhavo\Bundle\AppBundle\Action\Type\OpenActionType
        public: true
        tags:
            - { name: enhavo.action, alias: shop_generate_variant }

    Enhavo\Bundle\ShopBundle\Action\CreateAttributeActionType:
        parent: Enhavo\Bundle\AppBundle\Action\AbstractActionType
        public: true
        tags:
            - { name: enhavo.action, alias: shop_create_attribute }

    Enhavo\Bundle\ShopBundle\Action\GenerateCouponActionType:
        parent: Enhavo\Bundle\AppBundle\Action\Type\FormActionType
        public: true
        tags:
            - { name: enhavo.action, alias: shop_generate_coupon }

    enhavo_shop.product_manager:
        public: true
        alias: Enhavo\Bundle\ShopBundle\Manager\ProductManager

    Enhavo\Bundle\ShopBundle\Manager\ProductManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@enhavo_shop.product.variant_proxy.factory'
            - '@enhavo_search.search.engine'
            - '@sylius.translation_locale_provider'

    enhavo_shop.promotion_manager:
        public: true
        alias: Enhavo\Bundle\ShopBundle\Manager\PromotionManager

    Enhavo\Bundle\ShopBundle\Manager\PromotionManager:

    enhavo_shop.shipping_manager:
        public: true
        alias: Enhavo\Bundle\ShopBundle\Manager\ShippingManager

    Enhavo\Bundle\ShopBundle\Manager\ShippingManager:
        arguments:


    Enhavo\Bundle\ShopBundle\EventListener\CheckoutSubscriber:
        arguments:
            - '@router'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\OrderRecalculationSubscriber:
        arguments:
            - '@Sylius\Component\Order\Processor\OrderProcessorInterface'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductSubscriber:
        arguments:
            - '@enhavo_shop.product_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductVariantSubscriber:
        arguments:
            - '@enhavo_shop.product_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\PromotionSubscriber:
        arguments:
            - '@enhavo_shop.promotion_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ShippingMethodSubscriber:
        arguments:
            - '@enhavo_shop.shipping_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\UserSubscriber:
        arguments:
            - '@enhavo_shop.order.cart_merger'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductOptionSubscriber:
        arguments:
            - '@enhavo_shop.product_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductAttributeSubscriber:
        arguments:
            - '@enhavo_shop.product_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductAssociationTypeSubscriber:
        arguments:
            - '@enhavo_shop.product_manager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\ShopBundle\EventListener\ProductVariantProxyReplaceSubscriber:
        arguments:
            - '@Enhavo\Bundle\ShopBundle\Factory\ProductVariantProxyFactoryInterface'
        tags:
            - { name: doctrine.event_subscriber }

    Enhavo\Bundle\ShopBundle\Factory\ProductVariantProxyFactory:
        arguments:
            - '%enhavo_shop.product.variant_proxy.model%'

    sylius.factory.order_item:
        class: '%sylius.factory.order_item.class%'
        arguments:
            - '%sylius.model.order_item.class%'
            - '@Enhavo\Bundle\ShopBundle\Factory\ProductVariantProxyFactoryInterface'

    Enhavo\Bundle\ShopBundle\Column\AddressType:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.column, alias: 'shop_address' }

    Enhavo\Bundle\ShopBundle\Address\AddressProviderInterface:
        alias: Enhavo\Bundle\ShopBundle\Address\UserAddressProvider

    Enhavo\Bundle\ShopBundle\Address\UserAddressProvider:
        arguments:
            - '@security.token_storage'
            - '@doctrine.orm.entity_manager'
            - '@enhavo_shop.factory.user_factory'

    Enhavo\Bundle\ShopBundle\Payment\Provider\OrderPaymentProvider:
        arguments:
            - '@Enhavo\Bundle\PaymentBundle\Resolver\DefaultPaymentMethodResolver'
            - '@sylius.factory.payment'
            - '@sm.factory'

    enhavo_shop.controller.payment:
        class: Enhavo\Bundle\ShopBundle\Controller\PaymentController
        public: true
        arguments:
            - '@sylius.repository.order'
            - '@Enhavo\Bundle\AppBundle\Resource\ResourceManager'
            - '@enhavo_app.template.manager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: container.service_subscriber }

    Enhavo\Bundle\ShopBundle\Payment\Resolver\PaymentSubjectOrderResolver:

    Enhavo\Bundle\ShopBundle\Controller\SearchController:
        arguments:
            - '@enhavo_search.result.result_converter'
            - '@enhavo_search.search.engine'
            - '@enhavo_app.template.manager'
            - '@enhavo_shop.product_manager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: container.service_subscriber }

    Enhavo\Bundle\ShopBundle\Controller\VoucherController:
        arguments:
            - '@Enhavo\Bundle\ShopBundle\Manager\VoucherManager'
            - '@sylius.context.cart'
            - '@serializer'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: container.service_subscriber }

    Enhavo\Bundle\ShopBundle\Controller\UserController:
        arguments:
            - '@Enhavo\Bundle\ShopBundle\Address\AddressProviderInterface'
            - '@doctrine.orm.entity_manager'
            - '@sylius.repository.order'
            - '@Enhavo\Bundle\ShopBundle\Order\OrderItemTransfer'
            - '@sylius.context.cart'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: container.service_subscriber }

    Enhavo\Bundle\ShopBundle\Search\Filter\ProductVariantAttributesDataProvider:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo_search.filter_provider, alias: 'product_variant_attributes' }

    Enhavo\Bundle\ShopBundle\Search\Filter\ProductVariantCategoriesDataProvider:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo_search.filter_provider, alias: 'product_variant_categories' }

    Enhavo\Bundle\ShopBundle\Search\Filter\ProductVariantEnabledDataProvider:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo_search.filter_provider, alias: 'product_variant_enabled' }

    Enhavo\Bundle\ShopBundle\Search\Filter\ProductVariantPropertyDataProvider:
        public: true
        arguments:
            - '@enhavo_shop.product_manager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo_search.filter_provider, alias: 'product_variant_property' }

    Enhavo\Bundle\ShopBundle\Form\Type\VoucherType:
        arguments:
            - '%enhavo_shop.model.voucher.class%'
        tags:
            - { name: form.type }

    enhavo_shop.factory.voucher:
        public: true
        alias: Enhavo\Bundle\ShopBundle\Factory\VoucherFactory

    Enhavo\Bundle\ShopBundle\Factory\VoucherFactory:
        arguments:
            - '%enhavo_shop.model.voucher.class%'
            - '@Enhavo\Bundle\ShopBundle\Manager\VoucherManager'

    enhavo_shop.voucher_manager:
        public: true
        alias: Enhavo\Bundle\ShopBundle\Manager\VoucherManager

    Enhavo\Bundle\ShopBundle\Manager\VoucherManager:
        arguments:
            - '@enhavo_shop.repository.voucher'
            - '@validator'
            - '@sylius.context.cart'
            - '@sylius.order_processing.order_processor'
            - '@doctrine.orm.entity_manager'
            - '@translator'
            - '@enhavo_shop.factory.voucher_redemption'

    enhavo_shop.order.cart_merger:
        alias: Enhavo\Bundle\ShopBundle\Order\DefaultCartMerger

    Enhavo\Bundle\ShopBundle\Order\DefaultCartMerger:
        arguments:
            - '@Enhavo\Bundle\ShopBundle\Context\SessionCartContext'
            - '@Enhavo\Bundle\ShopBundle\Context\UserCartContext'
            - '@doctrine.orm.entity_manager'

    Enhavo\Bundle\ShopBundle\Context\UserCartContext:
        arguments:
            - '@security.token_storage'
            - '@sylius.repository.order'
        tags:
            - { name: sylius.context.cart, priority: -600 }

    Enhavo\Bundle\ShopBundle\Product\PriceEnhancer:
        arguments:
            - '@Enhavo\Bundle\ShopBundle\Manager\PricingManager'
        tags:
            - { name: 'enhavo_shop.product_variant_proxy_enhancer' }

    Enhavo\Bundle\ShopBundle\Shipping\DelegatingCalculator:
        arguments:
            - '@sylius.registry.shipping_calculator'
            - '@sylius.tax_rate_resolver'
            - '@sylius.tax_calculator'

    enhavo_shop.document_manager:
        alias: Enhavo\Bundle\ShopBundle\Manager\DocumentManager
        public: true

    Enhavo\Bundle\ShopBundle\Manager\DocumentManager:

    Enhavo\Bundle\ShopBundle\Document\Generator\BillGenerator:
        arguments:
            - '@enhavo_media.factory.file'
            - '@Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter'
            - '%enhavo_shop.document.bill.background_image%'
            - '@kernel'
            - '@translator'
        tags:
            - { name: enhavo_shop.document_generator, alias: 'bill' }

    Enhavo\Bundle\ShopBundle\Document\Generator\PackingSlipGenerator:
        arguments:
            - '@enhavo_media.factory.file'
            - '@Enhavo\Bundle\FormBundle\Formatter\CurrencyFormatter'
            - '%enhavo_shop.document.packing_slip.background_image%'
        tags:
            - { name: enhavo_shop.document_generator, alias: 'packing_slip' }

    Enhavo\Bundle\ShopBundle\Product\ProductVariantResolverInterface:
        alias: enhavo_shop.product_variant_resolver

    enhavo_shop.product_variant_resolver:
        alias: Enhavo\Bundle\ShopBundle\Product\SlugProductVariantResolver

    Enhavo\Bundle\ShopBundle\Product\SlugProductVariantResolver:

    Enhavo\Bundle\ShopBundle\Routing\ProductVariantStrategy:
        public: true
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: 'enhavo_route.strategy', alias: 'product_variant' }

    Enhavo\Bundle\ShopBundle\Validator\Constraints\OrderAddressingValidator:
        arguments:
            - '@validator'
        tags:
            - { name: 'validator.constraint_validator', alias: 'order_addressing' }

    enhavo_shop.factory.user_factory:
        class:  Enhavo\Bundle\ShopBundle\Factory\UserAddressFactory
        arguments:
            - '%enhavo_shop.model.user_address.class%'
            - '@sylius.factory.address'

    Enhavo\Bundle\ShopBundle\Order\OrderItemTransfer:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@sylius.order_modifier'
            - '@sylius.factory.add_to_cart_command'
            - '@sylius.order_item_quantity_modifier'
            - '@sylius.factory.order_item'

    Enhavo\Bundle\ShopBundle\Distributor\IntegerDistributor:

    Enhavo\Bundle\ShopBundle\Distributor\ProportionalIntegerDistributor:

    Sylius\Calendar\Provider\DateTimeProviderInterface:
        class: Sylius\Calendar\Provider\Calendar