doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\UserBundle\Model\UserInterface: Enhavo\Bundle\UserBundle\Entity\User
            Enhavo\Bundle\UserBundle\Model\GroupInterface: Enhavo\Bundle\UserBundle\Entity\Group

enhavo_user:
    config:
        theme:
            register:
                template: theme/security/registration/register.html.twig
                email_template: mail/security/registration.html.twig
                email_subject: ''
                translation_domain: 'EnhavoUserBundle'
                form:
                    class:
                    options: ~
            confirm:
                template: theme/security/registration/confirm.html.twig
                email_template: mail/security/confirm.html.twig
                email_subject: ''
                translation_domain: 'EnhavoUserBundle'
            reset_password:
                template: theme/security/reset-password/reset.html.twig
                email_template: mail/security/reset-password.html.twig
                email_subject: ''
                translation_domain: 'EnhavoUserBundle'
        admin:
            reset_password:
                template: admin/security/reset-password/reset.html.twig
                email_template: mail/security/reset-password.html.twig
                email_subject: ''
                translation_domain: 'EnhavoUserBundle'
    from_email:
        address: '%env(string:MAILER_FROM)%'
        sender_name: '%env(string:MAILER_NAME)%'
    firewall_name: main

enhavo_app:
    template_paths:
        enhavo_user:
            path: '@EnhavoUserBundle/Resources/views'
            priority: 10
    roles:
        enhavo_user_user_index:
            role: ROLE_ENHAVO_USER_USER_INDEX
            label: user.role.label.index
            translation_domain: EnhavoUserBundle
        enhavo_user_user_create:
            role: ROLE_ENHAVO_USER_USER_CREATE
            label: user.role.label.create
            translation_domain: EnhavoUserBundle
        enhavo_user_user_update:
            role: ROLE_ENHAVO_USER_USER_UPDATE
            label: user.role.label.update
            translation_domain: EnhavoUserBundle
        enhavo_user_user_delete:
            role: ROLE_ENHAVO_USER_USER_DELETE
            label: user.role.label.delete
            translation_domain: EnhavoUserBundle
        enhavo_user_group_index:
            role: ROLE_ENHAVO_USER_GROUP_INDEX
            label: group.role.label.index
            translation_domain: EnhavoUserBundle
        enhavo_user_group_create:
            role: ROLE_ENHAVO_USER_GROUP_CREATE
            label: group.role.label.create
            translation_domain: EnhavoUserBundle
        enhavo_user_group_update:
            role: ROLE_ENHAVO_USER_GROUP_UPDATE
            label: group.role.label.update
            translation_domain: EnhavoUserBundle
        enhavo_user_group_delete:
            role: ROLE_ENHAVO_USER_GROUP_DELETE
            label: group.role.label.delete
            translation_domain: EnhavoUserBundle
    toolbar_widget:
        secondary:
            user_menu:
                type: quick_menu
                icon: person
                menu:
                    logout:
                        route: enhavo_user_security_logout
                        label: label.logout
                        translation_domain: EnhavoAppBundle
                        target: _self
                    change_password:
                        route: enhavo_user_change_password_change
                        label: label.change_password
                        translation_domain: EnhavoAppBundle
                        target: _view
                    open_homepage:
                        url: /
                        label: label.open_homepage
                        translation_domain: EnhavoAppBundle
                        target: _blank
