enhavo_user:
    mail:
        from: '%env(string:MAILER_FROM)%'
        sender_name: '%env(string:MAILER_NAME)%'

    config:
        theme:
            registration_register:
                template: theme/security/registration/register.html.twig
                redirect_route: enhavo_user_theme_registration_check
                confirmation_route: enhavo_user_theme_registration_confirm
                mail_template: mail/security/registration.html.twig
                mail_subject: registration.mail.subject
                translation_domain: 'EnhavoUserBundle'
                form:
                    class: Enhavo\Bundle\UserBundle\Form\Type\RegistrationType
                    options: []

            registration_check:
                template: theme/security/registration/check.html.twig

            registration_confirm:
                template: 'theme/security/registration/confirm.html.twig'
                mail_template: 'mail/security/confirmation.html.twig'
                mail_subject: 'confirmation.mail.subject'
                translation_domain: 'EnhavoUserBundle'
                redirect_route: 'enhavo_user_theme_registration_finish'

            registration_finish:
                template: 'theme/security/registration/finish.html.twig'

            profile:
                template: theme/resource/user/profile.html.twig

            reset_password_request:
                template: theme/security/reset-password/request.html.twig
                mail_template: mail/security/reset-password.html.twig
                mail_subject: reset_password.mail.subject
                translation_domain: EnhavoUserBundle
                redirect_route: enhavo_user_theme_reset_password_check
                confirmation_route: enhavo_user_theme_reset_password_confirm

            reset_password_check:
                template: 'theme/security/reset-password/check.html.twig'

            reset_password_confirm:
                auto_login: true
                template: 'theme/security/reset-password/confirm.html.twig'
                redirect_route: 'enhavo_user_theme_reset_password_finish'

            reset_password_finish:
                template: 'theme/security/reset-password/finish.html.twig'

            change_email_request:
                template: theme/security/change-email/request.html.twig
                mail_template: mail/security/change-email.html.twig
                mail_subject: change_email.mail.subject
                translation_domain: EnhavoUserBundle
                redirect_route: enhavo_user_theme_change_email_check
                confirmation_route: enhavo_user_theme_change_email_confirm

            change_email_check:
                template: theme/security/change-email/check.html.twig

            change_email_confirm:
                template: theme/security/change-email/confirm.html.twig
                mail_template: mail/security/change-email-confirm.html.twig
                mail_subject: change_email_confirm.mail.subject
                translation_domain: EnhavoUserBundle
                redirect_route: enhavo_user_theme_change_email_finish
                confirmation_route: enhavo_user_theme_registration_confirm

            change_email_finish:
                template: theme/security/change-email/finish.html.twig

            login:
                template: theme/security/login.html.twig
                redirect_route: enhavo_user_theme_user_profile
                route: enhavo_user_theme_security_login

            change_password:
                template: theme/security/change-password/change.html.twig

        admin:
            reset_password_request:
                template: admin/security/reset-password/request.html.twig
                mail_template: mail/security/reset-password.html.twig
                mail_subject: reset_password.mail.subject
                translation_domain: EnhavoUserBundle
                confirmation_route: enhavo_user_reset_password_confirm
                form:
                     class: Enhavo\Bundle\UserBundle\Form\Type\ResetPasswordRequestType
                     options: []

            reset_password_confirm:
                template: admin/security/reset-password/confirm.html.twig
                auto_login: true
                redirect_route: enhavo_app_index
                form:
                     class: Enhavo\Bundle\UserBundle\Form\Type\ResetPasswordType
                     options: []

            login:
                template: admin/security/login/login.html.twig
                redirect_route: enhavo_app_index
                route: enhavo_user_security_login

            change_password:

doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\UserBundle\Model\UserInterface: Enhavo\Bundle\UserBundle\Model\User
            Enhavo\Bundle\UserBundle\Model\GroupInterface: Enhavo\Bundle\UserBundle\Model\Group
        mappings:
            EnhavoUserBundle:
                type: xml
                dir: Resources/config/doctrine
                is_bundle: true
                prefix: Enhavo\Bundle\UserBundle\Model

enhavo_app:
    template_paths:
        enhavo_user:
            path: '@EnhavoUserBundle/Resources/views'
            priority: 10
    roles:
        enhavo_user_user_index:
            role: ROLE_ENHAVO_USER_USER_INDEX
            label: user.role.label.index
            translation_domain: EnhavoUserBundle
        enhavo_user_user_create:
            role: ROLE_ENHAVO_USER_USER_CREATE
            label: user.role.label.create
            translation_domain: EnhavoUserBundle
        enhavo_user_user_update:
            role: ROLE_ENHAVO_USER_USER_UPDATE
            label: user.role.label.update
            translation_domain: EnhavoUserBundle
        enhavo_user_user_delete:
            role: ROLE_ENHAVO_USER_USER_DELETE
            label: user.role.label.delete
            translation_domain: EnhavoUserBundle
        enhavo_user_group_index:
            role: ROLE_ENHAVO_USER_GROUP_INDEX
            label: group.role.label.index
            translation_domain: EnhavoUserBundle
        enhavo_user_group_create:
            role: ROLE_ENHAVO_USER_GROUP_CREATE
            label: group.role.label.create
            translation_domain: EnhavoUserBundle
        enhavo_user_group_update:
            role: ROLE_ENHAVO_USER_GROUP_UPDATE
            label: group.role.label.update
            translation_domain: EnhavoUserBundle
        enhavo_user_group_delete:
            role: ROLE_ENHAVO_USER_GROUP_DELETE
            label: group.role.label.delete
            translation_domain: EnhavoUserBundle
    toolbar_widget:
        secondary:
            user_menu:
                type: quick_menu
                icon: person
                menu:
                    logout:
                        route: enhavo_user_security_logout
                        label: label.logout
                        translation_domain: EnhavoAppBundle
                        target: _self
                    change_password:
                        route: enhavo_user_change_password_change
                        label: label.change_password
                        translation_domain: EnhavoAppBundle
                        target: _view
                    open_homepage:
                        url: /
                        label: label.open_homepage
                        translation_domain: EnhavoAppBundle
                        target: _blank
