/* upload Form */

.uploadForm .imagePreview { width: 82px; }
.uploadForm .imagePreview.multiple { width: 100%; }

.uploadForm .bar {height: 5px;background: #49a4e5;}
.uploadForm .progress {position:absolute;top:0;left:0;right:0;}

.uploadForm .dropzone {
    width: 82px;
    min-height: 82px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.uploadForm .multiple .dropzone {
    width: 100%;
}

.uploadForm .dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

.uploadForm .dropzone.hover {
    background: #49a4e5;
}

.uploadForm .dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
    background: #f3f3f3;
    width: 100%;
    display: block;
}

.uploadForm .list .imgContainer {
    float:left;
    padding:4px;
    position:relative;
    border: 1px solid transparent;
}

.uploadForm .list .imgContainer .imgdelete {z-index: 20;position: absolute;top:-10px;right:-10px;color:#fff;background:#d87676;display:none;cursor:pointer;width:24px;height:24px;text-align:center;line-height:36px; border-radius: 50%}
.uploadForm .list .imgContainer .imgdelete i {font-size: 16px;position: relative;top: -6px;text-align: center;}
.uploadForm .list .imgContainer:hover .imgdelete {display:block;}
.uploadForm .list .imgContainer .uploadForm-image-container { background: #e8e8e8;width:72px;height:72px; position: relative; }
.uploadForm .list .imgContainer .uploadForm-image-container .file-thumb { position: absolute; z-index: 10; left: 0; }
.uploadForm .list .imgContainer .uploadForm-image-container .file-icon { position: relative; z-index: 5; font-size: 40px; line-height: 70px; color: #0090ba; }
.uploadForm .list .imgContainer .uploadForm-image-overlay { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(255,255,255,0.8); z-index: 15; cursor: pointer; }
.uploadForm .list .imgContainer .uploadForm-image-overlay i { font-size: 22px; color: #808080; line-height: 72px; cursor: pointer; }
.uploadForm .list .imgContainer:hover .uploadForm-image-overlay { display: block; }
.uploadForm .list .imgContainer.selected { background-color: #ddd; }
.uploadForm .list .imgContainer.selected .uploadForm-image-container { background: #ddd; }
.uploadForm .fileupload-fields { background-color: #ddd; padding: 5px; }
.uploadForm .fileupload-fields .fileupload-field { padding: 5px; }
.uploadForm .fileupload-fields .fileupload-field .fileupload-field-label-container { padding-top: 4px; }
.uploadForm .fileupload-fields.disabled .fileupload-field .fileupload-field-label-container .fileupload-field-label { color: #a9a9a9 }
.uploadForm .fileupload-fields .fileupload-field .fileupload-field-input-container .fileupload-field-slug { padding: 5px 6px; font: 13px/1.6em "Open Sans"; color: #000; display: block; }
.uploadForm .fileupload-actions { padding: 5px; }
.uploadForm .fileupload-actions .fileupload-action-button { display: block; background-color: #f3f3f3; text-align: center; padding: 3px 5px; font-weight: 600; }

.icheckbox-esperanto, .iradio-esperanto{
    margin: 0 7px 0px 20px;
}

.image-crop-modal-overlay-wrapper { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: transparent; z-index: 200; display: none; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay-background { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.2; z-index: 201; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow-y:auto; z-index: 202; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal { width: 900px; margin: 80px auto 0 auto; padding: 20px; background-color: #fff; border-radius: 2px; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background { position: relative; background-color: #eee; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background .image-crop-modal-loading-icon { position: absolute; left: 50%; top: 50%; color: #999; font-size: 64px; margin-left: -45px; margin-top: -32px; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background .image-crop-modal-canvas-wrapper { height: 600px; position: relative; opacity: 1; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background .image-crop-modal-canvas-wrapper.loading { opacity: 0; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background .image-crop-modal-canvas-wrapper .image-crop-canvas { max-width: 100%; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-canvas-row .image-crop-modal-canvas-col .image-crop-modal-canvas-background .image-crop-modal-canvas-wrapper .cropper-container.loading { opacity: 0.5; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-actions-row { margin-top: 20px; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-side-actions .image-cropper-action-button { border: 1px solid #0090ba; border-radius: 3px; background-color: transparent; color: #0090ba; margin: 1px 1px 3px 1px; width: 100%; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-side-actions .image-cropper-action-button:hover { background-color: #eeeeee; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-side-actions .image-cropper-action-button.selected { background-color: #e0e0e0; }
.image-crop-modal-overlay-wrapper .image-crop-modal-overlay .image-crop-modal .image-crop-modal-side-actions .image-cropper-action-button.bottom-space { margin-bottom: 12px; }
