<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavotheme/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/enhavoblock/css/items.css') }}">

<h1>{{ data.title }}</h1>
<div>
    {{ container_render(data.container) }}
</div>