html { font-size:$baseFontSize;}
body { color:$black; font-family:$fontFamily; line-height:$lineHeight;}
.btn { padding:15px 60px; border:1px solid $black; text-align:center; font-family:$serifFontFamily; display:inline-block;color:$black; text-decoration:none;}
.container { max-width:$containerWidth;}
.main-menu { padding:75px 15px;
  ul { display:flex;justify-content: flex-end;
    li {
      a { font-size:$fontSize2; font-weight:$medium; text-decoration:none; color:$black;}
      +li { margin-left:25px;}
      &.active {
        a {font-weight:$bold;}
      }
    }
  }
  .logo {font-size:$fontSize5; font-family:$serifFontFamily;color:$black; text-decoration:none; float:left;font-weight:$bold; letter-spacing:0.1em; text-transform:uppercase;}
}