h1, h2, h3, .title {@extend %title}
.small-title {@extend %smallTitle}

@media all and(max-width:1025px) {
  h1, h2, h3, .title { margin-bottom:10px;}
}

@media all and(max-width:767px) {
  h1, h2, h3, .title { margin-bottom:5px;}
}