$fontFamily:'Source Sans Pro', sans-serif;
$serifFontFamily:'Cormorant Garamond', serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$baseFontSize: 24px;

$fontSize1:0.7rem; //14px
$fontSize2:0.8rem; //16px
$fontSize3:0.9rem; //18px
$fontSize4:1.2rem; //24p
$fontSize5:1.8rem; //36px
$fontSize6:2rem; //40px
$fontSize7:2.3rem; //46px
$fontSize8:3.25rem; //65px

$italic: italic;

$lineHeight: 1.35em;

$black: #1a1a1a;