$fontFamily:'Source Sans Pro', sans-serif;
$serifFontFamily:'Cormorant Garamond', serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$baseFontSize: 24px;
$fontSize1:0.7rem;
$fontSize2:0.8rem;
$fontSize3:0.9rem;
$fontSize4:1.2rem;
$fontSize5:1.8rem;
$fontSize6:2rem;
$fontSize7:2.3rem;
$fontSize8:2.8rem;
$fontSize9:4rem;

$italic: italic;
$lineHeight: 1.35em;

$black: #1a1a1a;
$spotColor: #ffad8f;

$columnSpacing: 25px;
$containerWidth: 1350px;