.product-item {
  .product-image { margin-bottom:15px;}
  .product-title { font-family:$serifFontFamily; font-size:$fontSize4; font-weight:$medium;}
  .product-vendor { font-size:$fontSize2; font-weight:$semibold;}
  .product-teaser { font-size:$fontSize2; margin-top:15px; line-height:$lineHeight;}
  .product-meta { margin-top:15px;}
  .product-in-stock { font-size:$fontSize2; margin-bottom:15px;
    &:before { width:12px; height:12px;border-radius:50%; display:inline-block;content:''; margin-right:8px;}
    &.in-stock {
      &:before { background: lightgreen;}
    }
  }
  .product-price {line-height:$lineHeight*.8;
    .default-price { display:inline-block;font-size:$fontSize3; font-weight:$semibold;}
    .reduced-price { display:inline-block; text-decoration:line-through;font-size:$fontSize1;}
    .unit { display:inline-block; font-size:$fontSize1;}
  }
}