{% extends 'EnhavoDemoBundle:Theme:base.html.twig' %}

{% block bodyclass %}light{% endblock %}

{% block main %}
    <div class="clearfix page-wrap about-container">
        <section>
            <article class="container">
                <h2>Shop</h2>
                <div class="row shop-grid">
                    {{ widget_render('shop_product_list', {
                        template: 'EnhavoDemoBundle:Theme/Widget:product-list.html.twig'
                    }) }}
                </div>
            </article>
        </section>
    </div>
{% endblock %}