{% extends viewer.theme %}

{% trans_default_domain "EnhavoAppBundle" %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initBlocks();
            admin.initActions();
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="cat">Seitentitel</h1>
    {% block topButtons %}
        <div class="row action-row" data-action-row>
            <div class="col-sm-3">
                {% for action in actions %}
                    <button data-action data-action-type="{{ action.type }}" data-action-route="{{ action.route }}" class="btn create col-sm-12"> {{ action.label|trans }}</button>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% for block in blocks %}
        {{ block_render(block.type, block.parameters) }}
    {% endfor %}
{% endblock %}
