<div class="window" data-window>
    <div class="window-navigation-menu" data-window>
        <div class="window">
            <div class="window-content-full" data-application-window>
                <div class="navigation"></div>
            </div>
        </div>
    </div>

    <div class="window-navigation-content">
        <div class="window">
            <div class="window-overlay" data-window>
                <div class="window">

                </div>
            </div>


            <div class="window-bar" data-application-window>
                <div class="bar"></div>
            </div>

            <div class="window-bar-content" data-application-window>
                <div class="window">
                    <div class="window-content-full" data-application-window>
                        <div class="window">
                            <div class="window-content-full" data-application-window>
                                <div class="content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="window-hidden" data-application-window>
                        <div class="window-content-full" data-application-window>
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>