@media all and (max-width:2000px) {
  #hero {
    .slider-img {
      .hero-container { left: 320px;width: calc(100% - 320px);position: absolute;}
    }
    .slick-slider {
      .slick-dots {left: 320px; padding-left:$columnSpacing;}
    }
  }
}


@media all and (max-width:1450px) {
  .container {width: 1250px;}
  #article-feed {
    .articles {
      article {
        .article-photo { width:32%; padding-bottom:32%;}
      }
    }
  }
  #hero {
    .slider-img {
      .hero-caption { width:80%;}
    }
  }
}

@media all and (max-width:1350px) {
  [class*=col-sm-], [class*=col-md-], [class*=col-xs-], [class*=col-lg-] {
    padding-left: $smallerColumnSpacing;padding-right: $smallerColumnSpacing;
    &.npam { padding:0;}
  }
  .row { margin-right:-$smallerColumnSpacing;margin-left:-$smallerColumnSpacing;}
  .container {width: 100%; padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
  nav {
    .shopping-cart { right:$smallerColumnSpacing;}
    ul {
      .nav-container { padding:0 $smallerColumnSpacing;}
    }
  }
  #hero {
    #secondary {
      padding-right:$smallerColumnSpacing;padding-left:$smallerColumnSpacing;
      .socialmedia { left:$smallerColumnSpacing;}
      .logo { width:100%; height:100%; -webkit-background-size:100%;background-size:100%;}
    }
    .slider-img {
      .hero-caption { left:$smallerColumnSpacing;}
    }
    .slick-slider {
      .slick-dots { padding-left:$smallerColumnSpacing;}
    }
  }
  .switch-language {right:$smallerColumnSpacing;}
  .page-wrap {
    #categories {
      .category {
        .cat-image {height:180px;}
      }
    }
  }
  #article-feed {
    .articles {
      .load-articles {padding: 50px 0;}
    }
  }
  #image-text{
    .image {
      .stoerer {
        width:220px; height:220px;
        p{padding-top: 40px; font-size:39px;}
      }
    }
  }
  #categories {
    .category {
      .text-bottom {padding: 50px 35px 45px 35px;}
      .cat-image {
        height:255px;
        .over {
          .cat-name {padding: 50px 35px 0 35px;}
        }
      }
    }
  }
  footer {
    .socialmedia {
      .social-icons {
        li { width:33.333%; padding-bottom:33.333%;}
      }
    }
  }
  #contact {
    form {
      input { padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
    }
  }
}


@media all and (max-width:1250px) {
  #article-feed {
    .articles {
      article {
        .article-photo { width:34%; padding-bottom:34%;}
        .article-content {width: calc(66% - 125px);}
      }
    }
  }
}

@media all and (max-width:1150px) {
  #article-feed {
    .articles {
      article {
        .article-photo { width:37%; padding-bottom:37%;}
        .article-content {width: calc(63% - 125px);}
      }
    }
  }
  #image-text {
    padding:0;
    .image {
      padding-left:$smallerColumnSpacing;
      img { top:-30px;}
      .stoerer {
        width: 160px;height: 160px;
        p {padding-top: 23px;font-size: 33px;}
      }
    }
  }
  #categories {
    .category {
      .text-bottom {
        .article-excerpt { padding-top:20px;}
      }
      .cat-image {height:220px;}
    }
  }
}

@media all and (max-width:1024px) {
  .mobile-app{ display:none;}
  .container {
    &.article-container {
      padding:0;
    }
  }
  #article-feed {
    padding-bottom:0;
    .articles {
      article {
        .article-photo { width:160px; padding-bottom:160px;}
        .article-content {
          width: calc(100% - 160px);padding: 60px $smallerColumnSpacing;
          .date { right:initial; left:$smallerColumnSpacing; top:20px;}
          .category {padding-bottom: 10px;}
        }
      }
    }
  }
  #hero {
    height:auto; padding-bottom:70px;
    .blurred-bg{ display:none;}
    #secondary {
      background:none; position:relative; height:auto; float:none; padding-top:70px;
      .socialmedia { display:none;}
      .logo{width: 140px; height:140px; margin:0;}

    }
    .slider-img {
      .hero-caption {bottom:60px; top:initial;left:0;padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing; width:100%;}
      .hero-container {
        left:0; width:100%;
        .slide-title { padding-bottom:0;}
      }
    }
    .slick-slider {
      .slick-dots { left:$smallerColumnSpacing; top:230px; padding:0;}
    }
    .switch-language {top: 70px;}
  }
}

@media all and (max-width:991px) {
  footer {
    .socialmedia { clear:both; }
  }
}

@media all and (max-width:767px) {
  #hero{
    .slider-img {
      .hero-caption {
        bottom:$smallerColumnSpacing;
        .slider-title { font-size:24px; }
      }
    }
    .slick-slider {
      .slick-dots { top: 160px;}
    }
    #secondary {
      padding: $smallerColumnSpacing;
      .logo {width: 100px;height: 100px;}
    }
    .switch-language {top: $smallerColumnSpacing;}
  }
  #article-feed {
    .articles {
      article {
        .readmore-btn { display:none;}
        .article-photo {width: 22%;padding-bottom: 22%;}
        .article-content {
          padding: 60px $smallerColumnSpacing 40px $smallerColumnSpacing; width:78%;
          .date { left:25px; top:30px;}
          .category {padding-bottom: 20px;}
          .title {padding-bottom: 5px;}
        }
      }
    }
  }
  #image-text {
    .image img {top: -100px;pointer-events:none;}
    .text { padding-left:$smallerColumnSpacing;padding-top: 4%;}
  }
  #contact {
    form {
      input {
        padding-top: 12px;padding-bottom: 12px;
        &::-webkit-input-placeholder { color:$mediumlight; font-size:22px; }
        &:-moz-placeholder { color:$mediumlight; font-size:22px; }
        &::-moz-placeholder { color:$mediumlight; font-size:22px; }
        &:-ms-input-placeholder { color:$mediumlight; font-size:22px;}
      }
      button{width: 100%;}
    }
  }
  .newsletter-widget {
    input {
      padding-top:12px; padding-bottom:12px;
      &::-webkit-input-placeholder { color:$mediumlight; font-size:22px; }
      &:-moz-placeholder { color:$mediumlight; font-size:22px; }
      &::-moz-placeholder { color:$mediumlight; font-size:22px; }
      &:-ms-input-placeholder { color:$mediumlight; font-size:22px;}
    }
    button { height:67px; width:67px;}
  }
  .page-wrap {padding-top:40px;}
}

@media all and (max-width:600px) {
  #hero {
    .hero-caption {
      padding-bottom:$smallerColumnSpacing;
      .article-category {padding-bottom: 20px;}
      .article-title {padding-bottom:15px;}
      .article-desc {font-size:21px;}
    }
  }
  #image-text {
    .image { height:300px;
      img {top: -40px;width: 100%;}
      .stoerer {
        width:150px; height:150px;left: 50%;top: 120px;margin-left: -75px;
        p{padding-top: 29px;font-size: 26px;}
      }
    }
  }
  #article-feed {
    .articles {
      article {
        width:50%; float:left; background:$softwhite;border-bottom:1px solid #FFF;height: 425px;
        &:nth-child(2n) { border-left:1px solid #FFF;}
        .article-content {
          width:100%; left:0; position:initial;height: auto; padding-top:30px;
          .date{color:#FFF;}
          .desc { text-align:left;}
        }
        .article-photo {
          width:100%; padding-bottom:0; height:160px;
          img{height: auto;width: 100%; top:0;}
        }
      }
      .load-articles {clear: both; padding:30px 0; border-top:0;}
    }
  }
}

@media all and (max-width:479px) {
  #hero {
    .slider-img {
      .hero-caption {bottom: 0;}

    }
  }
  #image-text {
    .image img {top: 0;width: 150%;position: relative;left: 50%;@include transform(translateX(-50%));}
  }
  #article-feed {
    .articles {
      article { width:100%; background:#FFF;}
    }
  }
}