@media all and (max-width:1350px) {
  h1 {font-size: 67px;}
  nav {
    ul {
      .nav-container { padding-left:$smallerColumnSpacing; padding-right:$smallerColumnSpacing;}
    }
    .search-widget { right:90px;}
  }
}

@media all and (max-width:1150px) {
  .container {
    padding: 60px $smallerColumnSpacing;
    &.npam { padding:0;}
  }
  [class*=col-sm-] {
    padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;
    &.npam { padding:0;}
  }
  [class*=col-xs-] {
    padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;
    &.npam { padding:0;}
  }
  .row {
    margin-right:-$smallerColumnSpacing; margin-left:-$smallerColumnSpacing;
    &.npam { margin:0;}
  }
  footer {
    .bottom-bar { padding:18px $smallerColumnSpacing;}
    .socialmedia {padding-top: 55px;}
    .approach {padding-top: 55px;}
    .about {padding-top: 55px;}
  }
}

@media all and (max-width:1024px) {
  nav {
    ul {
      li {
        &:first-child {
          a { padding-left:0;}
        }
      }
    }
  }
}

@media all and (max-width:991px) {
  .payment-services { padding-bottom:$smallerColumnSpacing;}
  footer {
    .socialmedia {
      .social-icons {
        li { width:16.666%; padding-bottom:16.666%;}
      }
    }
  }
}

@media all and (max-width:767px) {
  h1 {font-size: 47px;}
  h3 {font-size: 28px;line-height: 1.2em;}
  .container {
    &.npam-responsive {
      padding:0; margin:0;
      > h1, h2, h3 {
        padding-left:$smallerColumnSpacing;
      }
    }
  }
  .btn { display:block; width:100%;}
  form {
    .styled-checkbox {
      label { margin-top:12px; display:block; margin-left:0;}
    }
    label { margin-top:20px;}
  }
  .enhavo_grid {
    + .enhavo_grid { padding-top:45px;}
  }
  [class*=col-sm-] {
    &.npam-responsive { padding:0;}
  }
  h2 { font-size:40px;padding-bottom: 20px;}
  footer {
    .socialmedia {
      border-top-width:6px; padding-left:0; padding-right:0;
      h4, p { padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;}
      .social-icons {
        padding-left:$smallerColumnSpacing;padding-right:$smallerColumnSpacing;
        li { width:16.66666%; padding-bottom:16.66666%;}
      }
    }
    .approach {padding-bottom:40px;border-top-width:6px;}
    .about {padding-bottom:40px;border-top-width:6px;}
    h4 { padding-bottom:20px;}
    .bottom-bar { margin-top:1px;}
  }
  nav {
    .menu-btn {display:block;}
    ul {
      padding-left:0;
      &.open {
        li{ display:block;@include animation(fadeIn 1s);}
      }
      li {
        display:none; float:none; width:100%;
        &:nth-child(2n){ background:$softwhite;}
        a{padding:18px 0 18px $smallerColumnSpacing;}
        &:first-child {
          a { padding-left:$smallerColumnSpacing;}
        }
      }
      .nav-container { padding-left:0; padding-right:0;}
    }
    .search-widget{
      top:-48px; right:80px;
      + li {
        a { padding-left:$smallerColumnSpacing;}
      }
      input {
        padding: 8px 20px 8px 20px; width:40px; height:40px;
        &:focus { width:150px;}
      }
      button {right: 1px;top: 8px;}
    }
    .shopping-cart {top: -35px;}
  }
  #contact {
    form {height:285px;}
  }
}

@media all and (max-width:600px) {
  h1 {font-size: 39px;}
  h2 {font-size: 36px;}
}

@media all and (max-width:479px) {
  h2 {font-size: 30px;}
  .container {padding-top:30px; padding-bottom:30px;}
  footer {
    .socialmedia {
      .social-icons {
        li {width:33.33333%; padding-bottom:33.33333%;}
      }
    }
    .bottom-bar{
      p{ float:none; display:block; font-size:14px;}
      .links {
        float:none; display:block; padding-top:10px;
        a {font-size:14px;}
      }
    }
  }
}
