@import 'res-start';
@import 'res-base';

@media all and (max-width:767px) {
  #about-us {
    article { padding-bottom:0;}
    .site-image {border-left:0}
  }
  #article {
    .enhavo_grid .title { padding-bottom:20px;}
    .article-head {padding-bottom: 25px;}
    .container {padding: 10px 35px;}
  }
}
