<div class="col-sm-4 socialmedia">
    <h4>Socialmedia</h4>
    <ul class="social-icons">
        <li><a href=""><span class="hover-square"></span><i class="icon-facebook"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-twitter"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-pinterest"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-digg"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-youtube"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-google"></i></a></li>
    </ul>
</div>