@forward "@enhavo/app/assets/styles/import/variables";

$color1:#28434b;
$color2:#1c353b;
$color3:#9da9ad;
$color4:#00b1db;
$color5:#0097c7;
$color6:#fd516b;
$color7:#32de81;

$fontFamily:"IBM Plex Sans";

$lineHeight:1.4em;