<div class="row p1 head-row">
    <div class="span2">Datei</div>
</div>

<div class="row-container">
    {% for item in data %}
        <div class="row mb1 entry-row p1" data-id="{{ item.id }}">
            <div class="span5">{{ item.title }}</div>
        </div>
    {% else %}
        {{ 'table.empty'|trans }}
    {% endfor %}
</div>
