{% extends '::admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initPagination('esperanto_slider_slide_table');
            admin.initTable();
            admin.initTopButton('.action .btn.create', {}, 'esperanto_slider_slide_create');
            admin.initAfterSaveHandler();
            admin.initTopButton('.action .btn.sort', {}, 'esperanto_slider_slider_edit', {id: 1});
        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
        <div class="row mb3 action">
            <div class="col-md-3">
                <button class="btn create col-md-12"><i class="icon-plus-sign"></i> {{ 'button.add_slide'|trans }}</button>
            </div>
            <div class="col-md-3">
                <button class="btn sort col-md-12"><i class="icon-sort"></i> {{ 'button.label.slide_sort'|trans }}</button>
            </div>
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-headline">Slides</div>
        <div class="table-container" data-edit-route="esperanto_slider_slide_edit" data-refresh-route="esperanto_slider_slide_table">
            {% include 'esperantoSliderBundle:Slide:table.html.twig' %}
        </div>
    {% endblock %}

    {{ pagination_render(data) }}
{% endblock %}

