<article class="block">
    <div class="block-video">
        {% if block.title %}
            {{ block.title|headline('title') }}
        {% endif %}
        <div class="video-container">
            {% if video %}
                <iframe src="{{ video.embedUrl }}"></iframe>
            {% endif %}
        </div>
    </div>
</article>
