<div class="row p1 head-row">
    <div class="span3">Termin</div>
    <div class="span3">Datum</div>
</div>

<div class="row-container">
    {% for item in data %}
        <div class="row mb1 entry-row p1" data-id="{{ item.id }}">
            <div class="span3">{{ item.title }}</div>
            <div class="span3">{{ item.date|date("d.m.Y") }}</div>
        </div>
    {% else %}
        {{ 'table.empty'|trans }}
    {% endfor %}
</div>
