#menu-main li a.menu-icon-slider {
    background-image: url(../img/layers.png);
}

.row-container.sort-container {
    width: 425px;
    margin-left: 20px;
}

.row-container.sort-container .entry-row {
    cursor: default;
    position: relative;

}

.sort-up, .sort-down, .sort-handle {
    position: absolute;
    width: 25px;
    text-align: center;
}

.sort-up {
    right: 45px;
    cursor: pointer;
}

.sort-down {
    right: 25px;
    cursor: pointer;
}
.sort-handle {
    right: 5px;
    cursor: move;
}