{% extends '@EnhavoContent/theme/base.html.twig' %}

{% block header_inner %}
    {{ parent() }}

    {% if page_path_exists('imprint') %}
        <a href="{{ page_path('imprint') }}">Imprint</a>
    {% endif %}

    {% if app.user %}
        <a href="{{ path('enhavo_user_theme_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('enhavo_user_theme_login') }}">Login</a>
    {% endif %}
{% endblock %}
