Enhavo\Bundle\UserBundle\Model\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: username
            groups: [create, default]
    properties:
        email:
            - Email:
                message: The email "{{ value }}" is not a valid email.
                checkMX: true
                groups: [create, default]
            - NotBlank: { groups: [create, default] }
        plainPassword:
            - NotBlank: { groups: [create, reset] }

Enhavo\Bundle\UserBundle\Model\Group:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: name
            groups: [create, default]
    properties:
        name:
            - NotBlank: { groups: [create, default] }
