Enhavo\Bundle\UserBundle\Model\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: email
            groups: [register]
    properties:
        username:
            - NotBlank: ~
        email:
            - Email:
                message: The email "{{ value }}" is not a valid email.
                checkMX: true
                groups: [register]
            - NotBlank:
                groups: [register]
        plainPassword:
            - NotBlank:
                groups: [register, reset]

Enhavo\Bundle\UserBundle\Model\Group:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: name
    properties:
        name:
            - NotBlank: ~

Enhavo\Bundle\UserBundle\Form\Data\ResetPassword:
    properties:
        username:
            - Enhavo\Bundle\UserBundle\Validator\Constraints\UserExists:
                  groups: [exists]
            - NotBlank:
                  groups: [exists]
