<div class="row enhavo_grid">
    <div class="enhavo_grid_contact">
        <div class="contact_left">
            {% for file in data.files %}
                <img class="enhavo_grid_img" src="{{ media_url(file, 'enhavoGridFull') }}">
            {% endfor %}
        </div>
        <div class="contact_right">
            <div class="enhavo_grid_text">
                {% if data.title %}
                    <h2>{{ data.title }}</h2>
                {% endif %}
                {% if data.text %}
                    {{ data.text|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</div>