<div class="enhavo_content enhavo_content_picture">
    {% if data.title %}
        <h2>{{ data.title|raw }}</h2>
    {% endif %}
    {% for file in data.files %}
        {% if loop.first %}
        <img class="enhavo_content_img" src="{{ media_url(file,960) }}">
        {% endif %}
        {% if data.caption %}
            <p class="picture_caption">{{ data.caption }}</p>
        {% endif %}
    {% endfor %}
</div>
