<div class="user-data-container mb3 enhavo_content_text enhavo_content">
    {% if data.title %}
        <h2>{{ data.title|raw }}</h2>
    {% endif %}
    {% if data.text %}
        {{ data.text|raw }}
    {% endif %}
</div>
