<div class="user-data-container mb3 enhavo_grid_text enhavo_grid">
    {% if data.title %}
        <h2 class="title">{{ data.title|raw }}</h2>
    {% endif %}
    {% if data.text %}
        {{ data.text|raw }}
    {% endif %}
</div>
