<div class="user-data-container grid-type-video enhavo_grid">
    <div class="container enhavo_grid_video">
        {% if data.title %}
            <h2 class="title">{{ data.title|raw }}</h2>
        {% endif %}
        <div class="video-container">
            <iframe src="{{ data.url }}"></iframe>
        </div>
    </div>
</div>