services:
    Enhavo\Bundle\AppBundle\Controller\LoginController:
        arguments:
            - '@router'
            - '%enhavo_app.login.route%'
            - '%enhavo_app.login.route_parameters%'
        tags:
            - { name: controller.service_arguments }

    Enhavo\Bundle\AppBundle\Controller\MainController:
        arguments:
            - '@enhavo_app.menu.manager'
            - '@Enhavo\Bundle\AppBundle\Toolbar\ToolbarManager'
            - '%kernel.project_dir%'
            - '%enhavo_app.branding%'
            - '%enhavo_app.toolbar_widget.primary%'
            - '%enhavo_app.toolbar_widget.secondary%'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: controller.service_arguments }

    Enhavo\Bundle\AppBundle\Controller\AbstractViewController:
        abstract: true
        arguments:
            - '@Enhavo\Component\Type\FactoryInterface[View]'
        calls:
            - [setContainer, ['@service_container']]

    enhavo_app.controller.modal:
        public: true
        alias: Enhavo\Bundle\AppBundle\Controller\ModalController

    Enhavo\Bundle\AppBundle\Controller\ModalController:
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: controller.service_arguments }
