services:
    Enhavo\Bundle\AppBundle\Controller\LoginController:
        arguments:
            - '@router'
            - '%enhavo_app.login.route%'
            - '%enhavo_app.login.route_parameters%'
        tags:
            - { name: controller.service_arguments }

    Enhavo\Bundle\AppBundle\Controller\MainController:
        arguments:
            - '@enhavo_app.menu.manager'
            - '%kernel.project_dir%'
            - '%enhavo_app.branding%'
            - '%enhavo_app.toolbar_widget.primary%'
            - '%enhavo_app.toolbar_widget.secondary%'
        tags:
            - { name: controller.service_arguments }

    Enhavo\Bundle\AppBundle\Controller\AbstractViewController:
        abstract: true
        arguments:
            - '@view.factory'
            - '@fos_rest.view_handler'
        calls:
            - [setContainer, ['@service_container']]

    Enhavo\Bundle\AppBundle\Controller\ModalController:
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: controller.service_arguments }

    enhavo_app.controller.modal:
        public: true
        alias: Enhavo\Bundle\AppBundle\Controller\ModalController