services:
    Enhavo\Bundle\AppBundle\Maker\Test\InsideBundleTestClassResolver:
        arguments:
            - '%kernel.project_dir%'

    enhavo_app.maker.util:
        class: Enhavo\Bundle\AppBundle\Maker\MakerUtil
        arguments:
            - '@kernel'

    Enhavo\Bundle\AppBundle\Maker\MakeRouting:
        arguments:
            - '@enhavo_app.maker.util'
        tags:
            - { name: 'maker.command' }

    Enhavo\Bundle\AppBundle\Maker\MakeTest:
        arguments:
            - '@enhavo_app.maker.util'
            - '@Enhavo\Bundle\AppBundle\Maker\Test\InsideBundleTestClassResolver'
        tags:
            - { name: 'maker.command' }


    Enhavo\Bundle\AppBundle\Maker\MakeMenu:
        arguments:
            - '@enhavo_app.maker.util'
        tags:
            - { name: 'maker.command' }
