services:
    Enhavo\Bundle\AppBundle\Menu\MenuManager:
        arguments:
            - '@security.authorization_checker'
            - '@Enhavo\Component\Type\FactoryInterface[Menu]'

    Enhavo\Bundle\AppBundle\Menu\Type\BaseMenuType:
        arguments:
          - '@translator'
          - '@router'
        tags:
            - { name: enhavo_app.menu }

    Enhavo\Bundle\AppBundle\Menu\Type\DropdownMenuType:
        arguments:
            - '@translator'
        tags:
            - { name: enhavo_app.menu }

    Enhavo\Bundle\AppBundle\Menu\Type\ListMenuType:
        arguments:
            - '@translator'
            - '@Enhavo\Bundle\AppBundle\Menu\MenuManager'
        tags:
            - { name: enhavo_app.menu }