services:
    security.roles.provider:
        class: Enhavo\Bundle\AppBundle\Security\Roles\ChainRolesProvider
        calls:
            - [addProvider, ['@Enhavo\Bundle\AppBundle\Security\Roles\AdminRolesProvider']]

    Enhavo\Bundle\AppBundle\Security\Roles\AdminRolesProvider:
        arguments:
            - '%enhavo_app.roles%'
            - '@translator'

    security.authentication.voter.super_admin:
        class: Enhavo\Bundle\AppBundle\Security\Authentication\Voter\SuperAdminVoter
        tags:
            - { name: security.voter }

    enhavo.sorting_manager:
        class: Enhavo\Bundle\AppBundle\Controller\SortingManager
        arguments:
            - '@doctrine.orm.entity_manager'

    enhavo_app.factory.duplicate_resource_factory:
        class: Enhavo\Bundle\AppBundle\Controller\DuplicateResourceFactory

    enhavo_app.security.default_authorization_checker:
        class: Enhavo\Bundle\AppBundle\Security\AuthorizationChecker\SymfonyAuthorizationChecker
        arguments:
            - '@security.authorization_checker'

    enhavo_app.util.secure_url_token_generator:
        class: Enhavo\Bundle\AppBundle\Util\SecureUrlTokenGenerator

    enhavo_app.translation.translation_dumper:
        public: true
        class: Enhavo\Bundle\AppBundle\Translation\TranslationDumper
        arguments:
            - []

    Enhavo\Bundle\AppBundle\Util\TokenGeneratorInterface:
        alias: enhavo_app.util.secure_url_token_generator


    Enhavo\Bundle\AppBundle\Template\TemplateResolver:
        arguments:
            - '@kernel'
            - '@filesystem'
            - '@enhavo_app.template.config_webpack_build_resolver'
            - '%enhavo_app.template_paths%'
            - '%twig.default_path%'
            - '%kernel.project_dir%/assets/theme'

    enhavo_app.template.config_webpack_build_resolver:
        class: Enhavo\Bundle\AppBundle\Template\ConfigWebpackBuildResolver
        arguments:
            - '%enhavo_app.webpack_build%'

    Enhavo\Bundle\AppBundle\Controller\ArgumentResolver:
        arguments:
            - '@argument_metadata_factory'

    Enhavo\Bundle\AppBundle\Security\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 300 }

    enhavo.error_handler.html:
        class: Enhavo\Bundle\AppBundle\ErrorRenderer\EnhavoErrorRenderer
        decorates: twig.error_renderer.html
        arguments:
            - '@twig'
            - '%kernel.project_dir%'
            - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
            - '@enhavo.error_handler.html.inner'
            - '@request_stack'
            - '%kernel.debug%'

    Enhavo\Bundle\AppBundle\Mailer\MailerManager:
        public: true
        arguments:
            - '@mailer.mailer'
            - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
            - '@twig'
            - '%enhavo_app.mailer.defaults%'
            - '%enhavo_app.mailer.mails%'
            - '%enhavo_app.mailer.model%'
            - '@translator'

    enhavo_app.manager.resource:
        alias: Enhavo\Bundle\AppBundle\Resource\ResourceManager

    Enhavo\Bundle\AppBundle\Resource\ResourceManager:
        arguments:
            - '@event_dispatcher'
            - '@doctrine.orm.entity_manager'
            - '@sylius.resource_registry'
            - '@sm.factory'
        calls:
            - [setContainer, ['@service_container']]

    Enhavo\Bundle\AppBundle\EventListener\ComponentSubscriber:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\AppBundle\EventListener\TimestampableSubscriber:
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\AppBundle\Endpoint\Type\ViewEndpointType:
        arguments:
            - '@twig'
            - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
        tags:
            - { name: enhavo_api.endpoint }

    Enhavo\Bundle\AppBundle\Endpoint\Type\TemplateEndpointType:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Endpoint\Loader'
        tags:
            - { name: enhavo_api.endpoint }

    Enhavo\Bundle\AppBundle\Endpoint\Type\TemplateFileEndpointType:
        arguments:
            - '%kernel.project_dir%/data/media'
            - '@enhavo_media_library.factory.file'
            - '@filesystem'
        tags:
            - { name: enhavo_api.endpoint }

    Enhavo\Bundle\AppBundle\Endpoint\Extension\RouterEndpointExtensionType:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Twig\TwigRouter'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: enhavo_api.endpoint_extension }
            - { name: container.service_subscriber }

    Enhavo\Bundle\AppBundle\Endpoint\Type\AreaEndpointType:
        arguments:
            - '@twig'
            - '@Enhavo\Bundle\AppBundle\Routing\RouteCollectorInterface'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: enhavo_api.endpoint }
            - { name: container.service_subscriber }

    Enhavo\Bundle\AppBundle\Endpoint\Loader:
        arguments:
            - '%kernel.project_dir%/data'

    Enhavo\Bundle\AppBundle\Endpoint\TemplateEndpointCollector:
        arguments:
            - '@router'

    Enhavo\Bundle\AppBundle\Command\DebugEndpointTemplate:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Endpoint\TemplateEndpointCollector'
        tags:
            - { name: console.command }

    Enhavo\Bundle\AppBundle\Normalizer\FormDataNormalizer:
        arguments:
            - '@Enhavo\Bundle\VueFormBundle\Form\VueForm'
        tags:
            - { name: enhavo_api.data_normalizer }

    Enhavo\Bundle\AppBundle\Routing\ExposeRouteCollector:
        arguments:
            - '@router'

    Enhavo\Bundle\AppBundle\Routing\RouteCollectorInterface:
        alias: Enhavo\Bundle\AppBundle\Routing\ExposeRouteCollector