{% extends template('dialog') %}

{% trans_default_domain "EnhavoAppBundle" %}
{% form_theme form 'EnhavoAppBundle:Form:fields.html.twig' %}

{% block content %}
    <form method="POST" action="{{ path(form_action, form_action_parameters) }}">
        {% block form %}
            {% include form_template %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    {% for button in buttons %}
        {{ button_render(button.type, button, data) }}
    {% endfor %}
{% endblock %}