{% use 'EnhavoAppBundle::block.html.twig' %}

{% trans_default_domain "EnhavoAppBundle" %}
<div class="container form-container small-dialog ">
    {% block content %}
        <form method="POST" action="{% block form_action %}{{ path(view.getParameter('manage_route'), { id: data.id }) }}{% endblock %}">
            <div class="row mb1em">
                {% block form %}
                   {{ form(form) }}
                {% endblock %}
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn col-xs-12 close"><i class="fa fa-times"></i> {{ 'label.cancel'|trans }}</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn col-xs-12 save" type="button"><i class="fa fa-check"></i> {{ 'label.save'|trans }}</button>
                </div>
            </div>
        </form>
    {% endblock %}
</div>