doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\MediaBundle\Model\FileInterface: Enhavo\Bundle\MediaBundle\Entity\File

twig:
    form_themes: ['@EnhavoMedia/theme/form.html.twig']

enhavo_app:
    form_themes:
        - '@EnhavoMedia/admin/form/media/media.html.twig'
        - '@EnhavoMedia/admin/form/media/image-cropper.html.twig'
        - '@EnhavoMedia/admin/form/media/download.html.twig'
    template_paths:
        enhavo_media:
            path: '@EnhavoMediaBundle/Resources/views'
            alias: EnhavoMedia
            priority: 10
    apps:
        - 'media/Adapter/EnhavoAdapter'
        - 'media/Extension/ImageCropper'
        - 'media/Extension/MediaLibrary'
    roles:
        enhavo_media_library_index:
            role: ROLE_ENHAVO_MEDIA_LIBRARY_INDEX
            label: library.role.label.index
            translation_domain: EnhavoMediaBundle
        enhavo_media_library_create:
            role: ROLE_ENHAVO_MEDIA_LIBRARY_CREATE
            label: library.role.label.create
            translation_domain: EnhavoMediaBundle
        enhavo_media_library_update:
            role: ROLE_ENHAVO_MEDIA_LIBRARY_UPDATE
            label: library.role.label.update
            translation_domain: EnhavoMediaBundle
        enhavo_media_library_delete:
            role: ROLE_ENHAVO_MEDIA_LIBRARY_DELETE
            label: library.role.label.delete
            translation_domain: EnhavoMediaBundle


enhavo_media:
    formats:
        enhavoTableThumb:
            type: image
            width: 60
            height: 60
        enhavoPreviewThumb:
            type: image
            width: 72
            height: 72
        enhavoMediaLibraryThumb:
            type: image
            width: 150
            height: 150
        enhavoMediaLibrary:
            type: image
            maxWidth: 640
            maxHeight: 480