doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\MediaBundle\Model\FileInterface: Enhavo\Bundle\MediaBundle\Entity\File

twig:
#    form_themes: ['@EnhavoMedia/theme/form.html.twig']

enhavo_app:
#    form_themes:
#        - '@EnhavoMedia/admin/form/media/media.html.twig'
#        - '@EnhavoMedia/admin/form/media/image-cropper.html.twig'
#        - '@EnhavoMedia/admin/form/media/download.html.twig'
    template_paths:
        enhavo_media:
            path: '@EnhavoMediaBundle/Resources/views'
            alias: EnhavoMedia
            priority: 10
    apps:
        - 'media/Adapter/EnhavoAdapter'
        - 'media/Extension/ImageCropper'

enhavo_media:
    formats:
        enhavoTableThumb:
            type: image
            width: 60
            height: 60
        enhavoPreviewThumb:
            type: image
            width: 72
            height: 72
