services:
    Enhavo\Bundle\VueFormBundle\Form\VueForm:
        public: true

    Enhavo\Bundle\VueFormBundle\Form\Extension\VueTypeExtension:
        arguments:
            - '@Enhavo\Bundle\VueFormBundle\Form\VueForm'
        tags:
            - { name: form.type_extension, priority: 300 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\BaseVueTypeExtension:
        arguments:
            - '@translator'
        tags:
            - { name: 'form.type_extension', priority: 200 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\ButtonVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 190 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\FormVueTypeExtension:
        arguments:
            - '@translator'
            - '@serializer'
        tags:
            - { name: 'form.type_extension', priority: 150 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\RadioVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 150 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\CheckboxVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\TextVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\HiddenVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\PasswordVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\TextareaVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\ChoiceVueTypeExtension:
        arguments:
            - '@translator'
        tags:
            - { name: 'form.type_extension', priority: 110 }

    Enhavo\Bundle\VueFormBundle\Form\Extension\WysiwygVueTypeExtension:
        tags:
            - { name: 'form.type_extension', priority: 110 }
