<div class="enhavo_grid">
    <div class="enhavo_grid_picture container">
        {% if data.title %}
            <h2 class="title">{{ data.title|raw }}</h2>
        {% endif %}
        {% if data.file %}
            <img class="enhavo_grid_img" src="{{ media_url(data.file, 'enhavoGridFull') }}">
        {% endif %}
        {% if data.caption %}
            <p class="picture_caption">{{ data.caption }}</p>
        {% endif %}
    </div>
</div>