<div id='calendar'></div>

<link rel='stylesheet' href={{ asset('bundles/enhavoassets/vendor/fullcalendar/dist/fullcalendar.css') }} />
<script src='{{ asset('bundles/enhavoproject/js/jquery.min.js') }}'></script>
<script src='{{ asset('bundles/enhavoassets/vendor/moment/moment.js') }}'></script>
<script src='{{ asset('bundles/enhavoassets/vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
<script type="text/javascript">
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({

            // put your options and callbacks here

            firstDay: 1,
            timeFormat: 'H:mm',
            events: '/calendar/feed'
        });
    });
</script>