<li class="selected has-dropdown ">
    <a href="#" class="icon-share" title="">
        <span>Dropdown Menü</span>
    </a>
    <ul class="dropdown">
        <li>
            <a href="#" class="icon-share">
                <span>Unterpunkt</span>
            </a>
        </li>
        <li class="selected">
            <a href="#" class="icon-share">
                <span>sehr langer Unterpunkt</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-share">
                <span>Hallo Hallo Hallo</span>
            </a>
        </li>
    </ul>
</li>