<img src="{{ admin_asset(enhavo_logo_path()) }}" alt="Enhavo CMS Logo" class="menu-logo"/>
<ul id="menu-main">
    {% for menu in menus %}
        {{ menu.render()|raw }}
    {% endfor %}

    {% if showBranding() %}
        <p class="desc" data-description-text>
            enhavo is an open source <br/>
            content-management-system <br/>
            based on symfony and sylius. <br/>
            <br/>
            Created by <a href="https://www.xq-web.de" target="_blank">xq-web.de</a> {% if showVersion() %}(v{{ version() }}){% endif %}
        </p>
    {% endif %}
</ul>
