{% extends template('theme_base') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block main %}
<form action="{{ path('enhavo_user_theme_user_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
{% endblock %}