{% block text_html %}
<p>Hello {{ resource.billingAddress.firstName }} {{ resource.billingAddress.lastName }}</p>
<p>Thank you for your order.</p>
<p>Your enhavo Team</p>
{% endblock %}

{% block text_plain %}
Hello {{ resource.billingAddress.firstName }} {{ resource.billingAddress.lastName }}
Thank you for your order.
Your enhavo Team
{% endblock %}
