{% block text_html %}
<p>Hello {{ resource.billingAddress.firstName }} {{ resource.billingAddress.lastName }}</p>
<p>Your order has been shipped.</p>
<p>Your enhavo Team</p>
{% endblock %}

{% block text_plain %}
Hello {{ resource.billingAddress.firstName }} {{ resource.billingAddress.lastName }}
Your order has been shipped.
Your enhavo Team
{% endblock %}
