<ul>
    <li><a href="{{ path('enhavo_project_demo_media') }}">MediaType</a></li>
    <li><a href="{{ path('enhavo_project_demo_grid') }}">GridType</a></li>
    <li><a href="{{ path('enhavo_project_demo_navigation') }}">NavigationType</a></li>
</ul>