@import 'compass';
@import 'items/citetext';
@import 'items/textpicture';

.enhavo_grid {padding-top: 10px; padding-bottom: 10px;}
.enhavo_grid_img {width: 100%;}
.picture_caption{font-size: 13px;margin-top: 5px}
.enhavo_grid_picturepicture {margin-left: 0px;margin-right: 0px;}
.enhavo_grid_picturepicture .left6{padding-left: 0px;}
.enhavo_grid_picturepicture .right6 {padding-right: 0px;}

.textleft label {
  color: black !important;
}
.enhavo_grid_frame{border: black;border-style: solid;}

.darkbg {background-color:#777;}