<div class="col-md-4 col-sm-6 about">
    <h4>About us</h4>
    <p>This is Enhavo's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
    <div class="payment-services">
        <h4>Payment</h4>
        <ul>
            <li><i class="icon-cc-paypal"></i></li>
            <li><i class="icon-cc-mastercard"></i></li>
            <li><i class="icon-cc-amex"></i></li>
        </ul>
    </div>
</div>