<form method="POST" action="{{ path('enhavo_shop_theme_cart_item_add', {product: product.id}) }}" data-form-cart-add class="product-configurator">
    <div class="product-id">Product ID: {{ product.id }}</div>
    <div class="product-title single-view">{{ product.title }}</div>
    <p class="product-description">
        Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat.
    </p>
    <p class="price single-view">{{ product.price }}</p>
    <div class="add-to-cart">
        <input type="text" name="quantity" value="1" />
        <a data-submit-cart-add href="javascript:return false;" class="add-to-cart-btn"><i class="icon-shopping-cart"></i></a>
    </div>
</form>