{% for product in products %}
    <a class="col-sm-4 shop-product" href="{{ resolve_theme_url(product) }}">
        {% if product.picture %}
            <div class="product-picture">
                <img src="{{ media_url(product.picture) }}" />
            </div>
        {% endif %}
        <p class="product-title">{{ product.title }}</p>
        <p class="price">{{ product.price }}</p>
    </a>
{% endfor %}