<div class="col-sm-4 socialmedia">
    <h4>Socialmedia</h4>
    <ul class="social-icons clearfix">
        <li><a href=""><span class="hover-square"></span><i class="icon-facebook"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-twitter"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-pinterest"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-digg"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-youtube"></i></a></li>
        <li><a href=""><span class="hover-square"></span><i class="icon-google"></i></a></li>
    </ul>
    <div class="newsletter-widget">
        <h4>Newsletter</h4>
        <p>
            Get the latest news and sign up to our newsletter
        </p>
        <div class="input">
            {{ subscribe_form() }}
        </div>
    </div>
</div>