enhavo_app:
    template_paths:
        enhavo_setting:
            path: '@EnhavoSettingBundle/Resources/views'
            alias: EnhavoSetting
            priority: 10
#    form_themes:
#        - '@EnhavoSetting/admin/form/setting/fields.html.twig'
    roles:
        enhavo_setting_setting_index:
            role: ROLE_ENHAVO_SETTING_SETTING_INDEX
            label: setting.role.label.index
            translation_domain: EnhavoSettingBundle
        enhavo_setting_setting_update:
            role: ROLE_ENHAVO_SETTING_SETTING_UPDATE
            label: setting.role.label.update
            translation_domain: EnhavoSettingBundle


enhavo_doctrine_extension:
    metadata:
        Enhavo\Bundle\SettingBundle\Entity\Setting:
            reference:
                value:
                    idField: valueId
                    nameField: valueClass
                    cascade: ['persist', 'remove']