@import "animation/core";

@include keyframes (fadeIn) {
  from{opacity: 0;}
  to{opacity: 1;}
}

@include keyframes (fadeDown) {
  from{
    opacity: 0;
    @include transform(translateY(-80px))
  }
  to{
    opacity: 1;
    @include transform(translateY(0))
  }
}

@include keyframes (blob) {
  from{
    opacity: 0;
    @include transform(translateY(130px) translateX(50px) scale(.4));
  }
  to{
    opacity: 1;
    @include transform(translateY(0) translateX(0) scale(1));
  }
}

@include keyframes (fadeUp) {
  from{
    opacity: 0;
    @include transform(translateY(80px))
  }
  to{
    opacity: 1;
    @include transform(translateY(0))
  }
}

@include keyframes (fadeLeft) {
  from{
    opacity: 0;
    @include transform(translateX(30px))
  }
  to{
    opacity: 1;
    @include transform(translateX(0))
  }
}

@include keyframes (fadeRight) {
  from{
    opacity: 0;
    @include transform(translateX(-150px))
  }
  to{
    opacity: 1;
    @include transform(translateX(0))
  }
}

@include keyframes (wobble) {
  from {
    @include transform(none);
  }
  15% {
    @include transform(translateX(-25px));
  }
  30% {
    @include transform(translateX(25px));
  }
  45% {
    @include transform(translateX(-25px));
  }
  60% {
    @include transform(translateX(25px));
  }
  to {
    @include transform(none);
  }
}

@include keyframes(send) {

  0% {
    opacity:1;
    @include transform(translateX(0));
  }
  100% {
    opacity:0;
    @include transform(translateX(200px));
  }

}


