<div class="container">
    <div class="product-list">
        {% for product in products %}
            {{ component('shop_product_tile', {product: product}) }}
        {% endfor %}
    </div>
</div>