{% extends template('base') %}

{% trans_default_domain "EnhavoAppBundle" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            admin.initBlocks();
            admin.initActions();
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    {% if title %}
        <h1 class="cat">{{ title|trans({}, translationDomain)|nl2br }}</h1>
    {% endif %}

    {% block topButtons %}
        <div class="row action-row" data-action-row>
            <div class="col-sm-12">
                {% for action in actions %}
                    {{ action_render(action.type, action) }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% for block in blocks %}
        {{ block_render(block.type, block) }}
    {% endfor %}
{% endblock %}
