enhavo_setting_setting_index:
    options:
        expose: true
    path: /enhavo/setting/setting/index
    methods: [GET]
    defaults:
        _controller: enhavo_setting.controller.setting::indexAction
        _sylius:
            viewer:
                title: label.setting
                translation_domain: EnhavoSettingBundle
                table_route_parameters:
                    group: $group
                actions:
                    create:
                        type: create
                        hidden: true
                        route: ~

enhavo_setting_setting_edit:
    options:
        expose: true
    path: /enhavo/setting/setting/edit
    defaults:
        _controller: enhavo_setting.controller.setting::editAction

enhavo_setting_setting_update:
    options:
        expose: true
    path: /enhavo/setting/setting/update/{id}
    methods: [GET,POST]
    defaults:
        _controller: enhavo_setting.controller.setting::updateAction
        _sylius:
            viewer:
                actions_secondary:
                    delete:
                        type: delete
                        hidden: true
                        route: ~
                tabs:
                    main:
                        label: setting.label.setting
                        translation_domain: EnhavoSettingBundle
                        template: admin/resource/setting/main.html.twig

enhavo_setting_setting_table:
    options:
        expose: true
    path: /enhavo/setting/setting/table
    defaults:
        page: 1
        _controller: enhavo_setting.controller.setting::tableAction
        _sylius:
            criteria:
                group: $group
            viewer:
                translation_domain: EnhavoSettingBundle
                columns:
                    label:
                        type: label
                        property: label
                        label: setting.label.label
                        width: 6
                    value:
                        type: setting
                        label: setting.label.value
                        width: 6
