{% block enhavo_grid_widget %}

    <div class="mb1 enhavo_gridForm" data-grid data-grid-name="{{ full_name }}">

        <div class="grid-actions">
            <div data-grid-action-collapse-all>Collapse All</div>
            <div data-grid-action-expand-all>Expand All</div>
        </div>

        <div class="menu" data-grid-menu>
            <div class="triangle-up"></div>
            <div class="triangle-down"></div>
            <ul>
                {% for item in items %}
                    <li class="addItem" data-grid-menu-item="{{ item.type }}">
                        {{ item.label|trans({}, item.translationDomain)|nl2br }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <div class="mt1em">
                <div class="item-container" data-reindexable data-grid-container>
                    <div data-grid-add-button>
                      <i class="icon-circle-with-plus btnsmall add-grid-button"></i>
                    </div>
                    {% for child in form.children %}
                        {% for item in child.children %}
                            {% set formItem = item.itemType %}
                            {% set formName = item.vars.full_name %}
                            {% set formOrder = item.vars.value.order %}
                            {% set formType = item.vars.value.type %}
                            {% set label = item.vars.label %}
                            {% include 'EnhavoGridBundle:Form:form.html.twig' %}
                            <div data-grid-add-button>
                                <i class="icon-circle-with-plus btnsmall add-grid-button"></i>
                            </div>
                        {% endfor %}
                    {% endfor %}
              </div>
            </div>
        </div>

    </div>
{% endblock %}