{% use 'enhavoAdminBundle::block.html.twig' %}

<div class="container form-container small-dialog ">
    {% block content %}
        <form method="POST" action="">

        </form>
    {% endblock %}
</div>