{% trans_default_domain "EnhavoAppBundle" %}
{% block buttons %}
    <li>
        <button class="btn close"> {{ 'label.cancel'|trans|nl2br }}</button>
    <li>
    <li>
        <button class="btn save" type="submit"> {{ 'label.save'|trans|nl2br }}</button>
    </li>

    {% if showDeleteButton is defined %}
        <li>
            <button class="btn delete"> {{ 'label.delete'|trans|nl2br }}</button>
        </li>
    {% endif %}
{%- endblock -%}

{% block buttonRow %}
    <div class="action-buttons-row">
        <ul class="action-buttons">
            {% spaceless %}
                {{ block('buttons') }}
            {% endspaceless %}
        </ul>
    </div>
{% endblock %}