{% trans_default_domain "EnhavoAppBundle" %}
{% block buttons %}
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 close"> {{ 'label.cancel'|trans }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 save" type="button"> {{ 'label.save'|trans }}</button>
    </div>

    {% if showDeleteButton is defined %}
        <div class="col-md-push-2 col-md-2">
            <button class="btn col-md-12 delete" type="button"> {{ 'label.delete'|trans }}</button>
        </div>
    {% endif %}
{%- endblock -%}

{% block buttonRow %}
    <div class="row">
        {{ block('buttons') }}
    </div>
{% endblock %}