.checkout {text-align:center;}
.checkout-form {max-width:750px; margin:45px auto 0;
  input[type="text"], input[type="email"], input[type="password"] { @extend %textInput; margin-bottom:0;
    &:focus { position:relative; z-index:1;}
  }
  fieldset { margin-left:-4px; margin-right:-4px;
    &:after {content:''; display:table;clear:both}
    input[type="text"], input[type="email"], input[type="password"] { width:50%; float:left;margin-top:-1px;
      +input[type="text"], input[type="email"], input[type="password"] { margin-left:-1px;}
    }
    +fieldset { margin-top:30px;}
  }
  .btn { margin-top:30px; border-color:$black;}
  .checkbox {@extend %checkbox; margin:30px 0;}
  .select { width:calc(100% - 1px);max-width:100%;
    select { margin-bottom:0;}
  }
}