.finish { text-align:center; margin:3em 0;
  h1 { font-family:$serifFontFamily; font-size:155px; font-weight:$bold; line-height:$lineHeight*.5;
    +p { margin-top:50px;
      a { color:$black; text-decoration:none;border-bottom:1px solid $black}
    }
  }
}