.summary {
  .summary-boxes {display:flex; flex-flow:row wrap;margin:1em -15px;}
  .summary-box { margin:0 15px; border:1px solid $black; padding:25px;flex:1; position:relative;
    ul { font-size:$fontSize2; line-height:$lineHeight;}
    .title { font-family:$serifFontFamily;}
    .edit {font-size:$fontSize1; position:absolute; right:25px; bottom:25px; text-decoration:none; color:$black; border-bottom:1px solid $black; line-height:$lineHeight;
      &:hover { color:lighten($black, 20%);border-bottom-color:lighten($black, 20%);}
    }
  }
  +.cart-list { padding-top:1em;
    .cart-action {
      .btn {align-items:flex-end}
    }
  }
}

@media all and(max-width:767px) {
  .summary { padding-top:4em;
    .cart-list {
      .cart-products {margin-top:0;}
    }
    .summary-boxes { display:block; margin:25px 0 0 0;
      .summary-box {padding: 15px 40px 15px 15px; margin:0;
        .edit { right:15px; bottom:15px;}
        +.summary-box { margin-top:15px;}
      }
    }
  }
}