.checkout {text-align:center;}
.select-list { border:1px solid lighten($black, 80%); text-align:left;
  li { height:75px; position:relative;
    .checkbox {position:absolute; height:100%;width:100%; left:0; top:0;margin:0; padding-left:0;
      input[type="radio"] { width:100%; position:absolute; left:0; top:0; height:100%;}
      span { top:50%; margin-top:-12.5px; left:24px;}
      label { position:absolute; top:50%;transform:translateY(-50%); left:65px; max-width:calc(100% - 350px); overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
      .hint { font-size:$fontSize1; position:absolute; right:25px; top:50%;transform:translateY(-50%);max-width: 250px; line-height:$lineHeight; text-align:right; color:lighten($black, 50%);}
    }
    + li { border-top:1px solid lighten($black, 80%);}
  }
}