.cart-list {
  .cart-product {
    .cart-product-image {border-color:lighten($black, 80%);}
    .cart-product-content { line-height:$lineHeight;flex:6}
    .product-vendor {font-size:$fontSize2; font-weight:$semibold;}
    .product-price {font-size:$fontSize2; text-align:right;}
    .product-title { font-family:$serifFontFamily; font-size:$fontSize4;}
    .product-detail {font-size:$fontSize2;}
    .product-amount { margin-top:8px;}
    .select { display:inline-block;width:100px; line-height:1em;
      label { text-transform:uppercase; font-size:$fontSize1*0.8;}
      select{padding: 14px 15px; font-family:$fontFamily; font-size:$fontSize1; font-weight:$medium;}
      &:after { margin-top:-1px; right:15px;}
      input[type="text"] { position:absolute; width:100%; height:100%; left:0; top:0; padding:9px 11px; background:#FFF; z-index:1;font-family:$fontFamily; font-size:$fontSize1; font-weight:$medium; display:none;}
    }
    +.cart-product { border-top:1px solid lighten($black, 80%); margin-top:15px; padding-top:15px;}
    .remove { margin-top:8px;transition:all .3s;
      &:hover { opacity:.6;transition:all .3s}
    }
  }
  .cart-action { display:flex;flex-flow:row wrap; padding-top:25px;align-content:flex-end;
    .btn { flex:1;max-width:300px; float:left;
      +.btn { margin-left:15px; float:right;}
    }
  }
  .cart-footer { display:flex;flex-flow:row wrap; margin-top:30px; padding-top:30px;}
  .cart-config {flex:1;
    .checkbox {@extend %checkbox;
      +.checkbox { margin-top:8px;}
    }
  }
  .cart-summary {flex-flow: column wrap;align-content: flex-end; display:flex; padding-right:25px;flex:1;
    .sum { margin-bottom:0.75em;font-weight:$semibold;}
    .pair { display:flex;
      .key {width:250px;
        +.value { align-items:flex-end}
      }
    }
    .additional-information { font-size:$fontSize2; line-height:$lineHeight;
      >p { font-weight:$semibold;}
    }
  }
  .voucher { margin-bottom:15px;
    label { display:block; font-size:$fontSize2;}
    .btn {min-width:150px;max-height:54px; position:relative; top:-1px; left:-7px; background:#FFF;}
  }
}

@media all and (max-width:1150px) {
  .cart-list {
    .cart-action {
      .btn {max-width:100%}
    }
    .cart-config { flex:3; padding-right:15px;
      .checkbox {
        +.checkbox { margin-top:8px;}
      }
    }
    .cart-summary { flex:2;}
    .voucher {
      .btn {min-width: auto;max-height: 49px; left:-5px;}
    }
  }
}

@media all and (max-width:1025px) {
  .cart-list { position:relative;
    .cart-action {
      .btn {width: 100%;
        + .btn { margin-left:-1px;}
      }
    }
    .cart-config { padding-right:0;}
    .cart-footer { flex-flow:column;}
    .cart-summary {align-content:flex-start; padding-right:0; margin-top:30px;
      .additional-information { width:100%;}
      .sum { margin-bottom:0;}
      .pair {
        .key { width:auto;flex:1;align-items: flex-start;}
        .value {align-items: flex-end;}
      }
    }
    .cart-products { margin-top:$columnSpacing;}
    .cart-product { display:block; position:relative;
      .product-amount { margin-top:0;}
      .cart-product-content { float:left; width:calc(100% - 160px); margin-right:0; padding-right:10px;}
      .cart-product-image { width:75px; height:75px; margin-right:12px; float:left;}
      .product-price {margin:3px 0 0 0; text-align:right;}
      .cart-product-config {width:auto;
        .select { width:75px;
          select { min-width:75px;}
        }
      }
      .remove {border-radius:50%; background:$black; left:-7px; top:-14px; position:absolute;
        &:after, &:before { background:#FFF; height:50%; top:50%; margin-top:-5px;}
      }
      +.cart-product {
        .remove { top:0;}
      }
    }
    .voucher {
      input {width:100%;}
      .btn { left:0;}
    }
  }
}

@media all and (max-width:481px) {
  .cart-list {
    .cart-action {flex-direction:column;
      .btn {
        +.btn { margin-left:0; margin-top:8px;}
      }
    }
    .cart-product {
      .cart-product-image {margin-bottom:5px;}
      .cart-product-content { float:none;clear:both; width:100%; padding-right:0;}
      .cart-product-config { position:absolute; right:0; top:0;}
      .product-price { text-align:left;}
      +.cart-product {
        .cart-product-config { top:15px;}
      }
    }
  }
}