.cart-sidebar {transition:all .2s cubic-bezier(0.075, 0.82, 0.165, 1); width:calc( (100vw - 1320px)/2 + 1320px );
  .cart-list { padding:1.5em 1em;
    .cart-action {justify-content:flex-end; padding-top:1.5em;}
  }
}
body {
  &.sidebar-visible {
    &:before {animation:fadeIn .6s cubic-bezier(0.075, 0.82, 0.165, 1);}
    .cart-sidebar {transition:all .4s cubic-bezier(0.075, 0.82, 0.165, 1);}
  }
}

@media all and(max-width:1500px) {
  .cart-sidebar { width:80%;}
}

@media all and(max-width:1150px) {
  .cart-sidebar {
    .cart-list { padding-left:0; padding-right:0;}
  }
}
@media all and(max-width:767px) {
  .cart-sidebar { width:100%;}
}