.choice-list {
    .choice-input-container {
        .choice-input-with-label {display: block; margin-bottom: 3px;}
    }
}

.choice-input-container {
    padding-top:3px;
    label {padding-right:10px;}
    .choice-input-with-label {display: inline-block;white-space:nowrap;}
}

.entity-tree-children {
    padding-left: 24px;
}

/* input container */

.formwidget-container input[type=file] {border:0;background:transparent;}
.formwidget-container label {margin-top: 8px;padding-left: 2px;}
.formwidget-container .icheckbox-enhavo {margin-top: 0px;}
.formwidget-container .select2-container {width: 100%;}
.formwidget-container .select2-container .select2-choice {border-radius: 0;}

.input-container {display:inline-block;padding:5px 6px;color: #000;background:#eee;width:100%;}
.input-container.disabled {background:#ddd;}
.input-container input,
.input-container textarea {font: 13px/1.6em "Open Sans";margin:0;background:transparent;border:0px;resize:none;width: 100%;}
.input-container textarea {margin-right: 20px;}

.overlay-content form > .row:last-of-type{padding: 20px 0;background: #f3f3f3;border-top: 1px solid #eee;border-radius: 0 0 2px 2px;}
@media all and (max-width:991px) {
    .overlay-content form > .row:last-of-type{padding: 25px 20px;}
}

.form-message-box {padding: 10px;color: #fff;}
.form-message-box.type-info { background-color: #4ab1ea;}
.form-message-box.type-warning { background-color: #da5753;}
.form-headline {font-weight: bold; margin-left: 17%; text-transform: uppercase; margin-top: 15px; display: block;}
@media all and (max-width:991px) {
    .form-headline {margin-left: 0}
}