.icheckbox-esperanto,
.iradio-esperanto {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: #eee;
  color: #454545;
  padding: 3px 3px 3px 3px;
  height: 22px;
  width: 22px;
  font-size: 15px;
  line-height: 16px;
  cursor: pointer;
  text-align:center;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  position: relative;
}

.icheckbox-esperanto {

}

.icheckbox-esperanto.checked:before {
  content: "\f00d";
}

.icheckbox-esperanto.disabled {

}

.icheckbox-esperanto.checked.disabled {

}

.iradio-esperanto {

}

.iradio-esperanto.checked:before {
  content: "\f00d";
}

.iradio-esperanto.disabled {

}

.iradio-esperanto.checked.disabled {

}