

The url "{{ app.request.uri }}" could be successfully resolved to class "{{ class }}". <br />
To add set up your own controller, to render this resource change the class in enhavo.yml. <br />

<div>
    <b>cmf_routing.dynamic.controllers_by_class.{{ class }}</b>
</div>