.block-calendar {
  .fc-toolbar {
    h2 {@extend %title; margin-bottom:7px;}
    &.fc-header-toolbar { margin-bottom:10px;}
  }
  .fc-icon { line-height:1em;font-size:25px;}
  .fc-button-primary {@extend %btn;border-radius:0; padding:10px;
    &.fc-today-button { border-width:0 0 1px 0; padding:0; display:inline-block;}
    &:disabled { opacity:0;}
    &:focus, &:active {box-shadow:none!important;}
  }
  .fc-unthemed {
    .fc-day-number { font-size:1.5em; padding:2px 10px;font-family:$serifFontFamily;}
    th { @extend %smallTitle;display:table-cell}
    td {
      &.fc-today { background:$spotColor; border-color:$black;}
    }
  }
  .fc-event, .fc-event-dot { background:#FFF;border-radius:0; border:0; border:1px solid $black; color:$black;}
  .fc-day-grid-event {margin: -1px 12px 0;padding: 1px 3px; font-family:$serifFontFamily; font-weight:$medium;}
  .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td { border-color:$black;}
  tr {
    &:first-child  {
      > td {
        > .fc-day-grid-event { margin-top:6px;}
      }
    }
  }
}

@media all and(max-width:767px) {
  .block-calendar {
    .fc-unthemed {
      th { letter-spacing:0;}
    }
    .fc-day-grid-event { margin:1px 4px 0; padding:0 3px; font-size: .7em;}
    .fc-event, .fc-event-dot { background:$black; color:#FFF; font-family:$fontFamily;}
    .fc-button-primary { padding:6px;}
    .fc-unthemed {
      .fc-day-number { font-size:1em;}
    }
    tr {
      &:first-child  {
        > td {
          > .fc-day-grid-event { margin-top:0;}
        }
      }
    }
  }
}