.block-slider { width:100%; height:75vh; position:relative;
  .bg { position:absolute; left:0; top:0; width:100%; height:100%;background-attachment: fixed;
    &:after { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); content:''; z-index:1;}
  }
  .caption { position:absolute; top:50%; left:50%;color:#FFF;transform:translate(-50%, -50%); text-align:center; z-index:2;
    .title { font-size:$fontSize9; font-family:$serifFontFamily; line-height:$lineHeight*.7;max-width:550px}
  }
  .btn { margin-top:45px;}
  .arrow { display:none !important;}
  .slick-dots {
    top:50%;transform:translateY(-50%); right:50px; left:auto; bottom:auto;
    li { display:block;
      button {background:none; border:1px solid #FFF;}
      &.slick-active {
        button {background:#FFF;}
      }
      +li { margin-left:0; margin-top:8px;}
    }
  }
}

@media all and (max-width:1025px) {
  .block-slider {
    .caption { width:100%;
      .title { margin: 0 auto;font-size:$fontSize8;}
    }
  }
}

@media all and (max-width:767px) {
  .block-slider { height:100vh;
    .btn { margin-top:15px;}
    .caption { width:100%; padding:0 25px;
      .title { font-size:$fontSize7; margin-bottom:8px;}
    }
    .slick-dots { top:auto; bottom:25px; right:auto; left:50%;transform:translateX(-50%);
      li { display:inline-block;
        +li { margin-left:8px; margin-top:0;}
      }
    }
  }
}