/* iCheck plugin enhavo skin
----------------------------------- */
.icheckbox-enhavo,
.iradio-enhavo {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: #eee;
    color: #000;
    padding: 3px 3px 3px 3px;
    height: 22px;
    width: 22px;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    text-align:center;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}

.icheckbox-enhavo {

}

.icheckbox-enhavo.checked:before {
    content: "\f00d";
}

.icheckbox-enhavo.disabled {

}

.icheckbox-enhavo.checked.disabled {

}

.iradio-enhavo {

}

.iradio-enhavo.checked:before {
    content: "\f00d";
}

.iradio-enhavo.disabled {

}

.iradio-enhavo.checked.disabled {

}
