<div class="item">
    <div class="button-container">
        <div class="button button-up"><i class="fa fa-angle-up"></i></div>
        <div class="button button-down"><i class="fa fa-angle-down"></i></div>
        <div class="button button-delete"><i class="fa fa-remove"></i></div>
    </div>

    <div>
        {% if created %}
            {{ form_widget(formItem) }}
        {% else %}
            {% for child in formItem -%}
                {% if not child.rendered %}
                    {{ form_widget(child) }}
                {% endif %}
            {%- endfor %}
        {% endif %}
    </div>

    <input type="hidden" class="orderInput" name="{{ formName }}[order]" value="{{ formOrder }}">
</div>
