@import 'user/account';
@import 'user/orders';
@import 'user/order-detail';

.user-menu { border-top:1px solid $black;border-bottom:1px solid $black;
  .container { display:flex;flex-flow:row wrap; justify-content:space-between}
  .label {font-size:$fontSize2;padding:8px 0; }
  ul { display:flex;flex-flow:row wrap; justify-content: flex-end;}
  li {
    a { color:$black; text-decoration:none; font-size:$fontSize2; padding:8px 0; display:block;}
    +li { margin-left:$columnSpacing;}
    &.active {
      a { font-weight:$bold;}
    }
  }
}

.user-content { padding-top:$columnSpacing*3;
  .checkout-form { margin-left:0; margin-right:0;}
  &.indented {max-width:750px;}
}

.user-title {margin-bottom:15px; font-size:$fontSize4; font-family:$serifFontFamily;}


@media all and(max-width:767px) {
  .user-content { padding-top:$columnSpacing*5;}
  .user-menu { top:55px; position:fixed; width:100%; background:#FFF;
    .label { display:none;}
  }
}