// Dimensions
$containerWidth:1360px;
$columnSpacing:75px;
$smallerColumnSpacing:40px;

// Font
$regularFontFamily: 'Alegreya Sans', sans-serif;
$lightFontFamily: 300;
$mediumFontFamily: 500;
$blackFontFamily: 900;
$capitalFontBold: 700;
$italic: italic;

$defaultFontSize: 18px;
$smallFontSize: 14px;
$biggerFontSize: 28px;
$bigFontSize: 20px;
$firstHeadingFontSize: 95px;
$secondHeadingFontSize: 50px;
$thirdHeadingFontSize: 36px;
$bigLineHeight: 1.45em;
$defaultLineHeight: 1.35;
$lines-to-show: 3;
$less-lines-to-show: 2;
$smallLineHeight: 1.05em;
$defaultLetterSpacing: 2px;
$smallLetterSpacing: 1px;

// Colors
// greytones
$black: #1d1d1d;
$night: #363535;
$dark: #464646;
$medium: #636363;
$mediumlight: #7b7b7d;
$light: #e5e6e6;
$lighter: #f0f0f0;
$softwhite: #f8f8f8;
// fresh colors
$citrus: #ffec48;
$aubergine: #2a465b;
$blueberry: #5c91be;