<div class="submenu {% if node.active %}active{% endif %}">
    <a href="#">{{ node.label }}</a>
    <ul>
        {% for child in node.children %}
            <li>{{ navigation_node_render(child) }}</li>
        {% endfor %}
    </ul>
</div>
