<li class="submenu {% if navigation_node_is_active(node) %}active{% endif %}">
    <a href="#">{{ node.label }}</a>
    <ul>
        {% for child in node.children %}
            <li>{{ navigation_node_render(child) }}</li>
        {% endfor %}
    </ul>
</li>
