{% use 'EnhavoAppBundle::block.html.twig' %}

{% trans_default_domain "EnhavoCategoryBundle" %}
<div class="container form-container small-dialog ">
    {% block content %}
        <form method="POST" action="{{ path(view.getParameter('manage_route'), { name: data.name }) }}">
            <div class="pl2em mb2em">
                {{ form_widget(form) }}
            </div>

            <div class="row pl2em">
                <button class="btn col-md-2 close"><i class="fa fa-remove"></i> {{ 'label.cancel'|trans({}, 'EnhavoAppBundle')|nl2br }}</button>
                <button class="btn col-md-2 save" type="button"><i class="fa fa-check"></i> {{ 'label.save'|trans({}, 'EnhavoAppBundle')|nl2br }}</button>
            </div>
        </form>
    {% endblock %}
</div>
