<section id="contact">
    <div class="container">
        <h2>Contact</h2>
        <p class="capitals">Tell us your concern</p>
    </div>
    <div class="row npam">
        <div class="col-md-8 col-sm-12 npam">
            <div class="form">
                {{ contact_form('contact') }}
                <div id="form-messages" data-response-container></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 npam">
            <div id="map"></div>
        </div>
    </div>
</section>