<div class="col-sm-4 approach">
    <h4>Contact &amp; Approach</h4>
    <ul>
        <li>ACME GmbH</li>
        <li>Liebigstraße 15</li>
        <li>82256 Fürstenfeldbruck</li>
        <li><span>P</span>0176 313 998 27</li>
        <li><span>E</span><a href="mailto:">info@livemag.de</a></li>
    </ul>
</div>