<div class="newsletter-widget">
    <h3>Newsletter</h3>
    <p>
        Get the latest news <br/>
        and sign up to our newsletter
    </p>
    <div class="input">
        <input type="text" placeholder="email address"/>
        <a class="submit-input" href="#">
            <i class="icon-add-user"></i>
        </a>
    </div>
</div>