<div class="search-widget">
    <div class="input">
        <input type="text" placeholder="Search for article"/>
        <a class="submit-input" href="#">
            <i class="icon-search"></i>
        </a>
    </div>
</div>