.enhavo {
  .media-type {
    .media-row {
      .media-edit {
        padding: 10px 0;
        .edit-parameters {
          margin-top: 10px;
        }
        .input-container {
          background-color: #fff;
          padding: 3px;
        }
      }
    }
  }
}
