<article class="block">
    <div class="block-blockquote">
        {% if block.text %}
            <blockquote>{{ block.text|raw }}</blockquote>
            <small class="blockquote-author"></small>
        {% endif %}
    </div>
</article>