<div class="enhavo_block">

    <div class="container">
        {% if data.title %}
            <h2 class="title">{{ data.title|raw }}</h2>
        {% endif %}
        {% if data.text %}
        <p>{{ data.text|raw }}</p>
        {% endif %}
    </div>
    <div class="enhavo_block_gallery">
        <div class="slider">
            {% for file in data.files %}
                <div>
                    <img src="{{ media_url(file) }}" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>