<article class="block">
    {% if block.title %}
       {#{{ block.title|headline('title') }}#}
       {{ block.title|raw }}
    {% endif %}
    {% if block.text %}
        <p>{{ block.text|raw }}</p>
    {% endif %}
    <div class="block-gallery">
        <ul class="slider">
            {% for file in block.files %}
                <li>
                    <img src="{{ media_url(file) }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
</article>