<section>
    {% if block.width == 'container' %}
    <div class="container">
    {% endif %}
        {{ block_render(block.column) }}
    {% if block.width == 'container' %}
    </div>
    {% endif %}
</section>

