<div class="enhavo_block">
    <div class="enhavo_block_picture container">
        {% if block.title %}
            <h2 class="title">{{ block.title|raw }}</h2>
        {% endif %}
        {% if block.file %}
            <img class="enhavo_block_img" src="{{ media_url(block.file, 'container_width') }}">
        {% endif %}
        {% if block.caption %}
            <p class="picture_caption">{{ block.caption }}</p>
        {% endif %}
    </div>
</div>