<article class="block">
    <div class="block-picture">
        {% if block.title %}
            {{ block.title|headline('title') }}
        {% endif %}
        <figure>
            {% if block.file %}
                <img src="{{ media_url(block.file, 'container_width') }}">
            {% endif %}
            {% if block.caption %}
                <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
        </figure>
    </div>
</article>