<article class="block">
    <div class="block-text">
        {% if block.title %}
            {{ block.title|raw }}
        {% endif %}
        {% if block.text %}
            <p>{{ block.text|raw }}</p>
        {% endif %}
    </div>
</article>
