<div class="enhavo_block">
    <div class="container enhavo_block_text">
        {% if data.title %}
            <h2 class="title">{{ data.title|raw }}</h2>
        {% endif %}
        {% if data.text %}
            {{ data.text|raw }}
        {% endif %}
    </div>
</div>
