<div class="enhavo_block">
    <div class="container enhavo_block_text">
        {% if block.title %}
            <h2 class="title">{{ block.title|raw }}</h2>
        {% endif %}
        {% if block.text %}
            {{ block.text|raw }}
        {% endif %}
    </div>
</div>
