<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ block_render(data.columnOne) }}
        </div>
        <div class="col-md-4">
            {{ block_render(data.columnTwo) }}
        </div>
        <div class="col-md-4">
            {{ block_render(data.columnThree) }}
        </div>
    </div>
</div>
