<div class="user-block-container container-type-video enhavo_block">
    <div class="container enhavo_block_video">
        {% if block.title %}
            <h2 class="title">{{ block.title|raw }}</h2>
        {% endif %}
        <div class="video-container">
            <iframe src="{{ block.url }}"></iframe>
        </div>
    </div>
</div>