<article class="block">
    <div class="block-video">
        {% if block.title %}
            {{ block.title|raw }}
        {% endif %}
        <div class="video-container">
            <iframe src="{{ block.url }}"></iframe>
        </div>
    </div>
</article>