{% extends template('theme/base.html.twig') %}

{% block main %}
    <div class="container">
        <div class="cart-list">
            {#if state loading#}
            {#<div class="state-loading" data-loading-screen>#}
                {#<div class="loading" data-loading-spinner>#}
                    {#<div></div>#}
                    {#<div></div>#}
                    {#<div></div>#}
                {#</div>#}
            {#</div>#}
            <h1 class="title">Cart</h1>
            <ul class="cart-products">
                {% for i in 0..4 %}
                    <li class="cart-product">
                        <div class="cart-product-image"></div>
                        <div class="cart-product-content">
                            <div class="product-vendor">Händler</div>
                            <div class="product-title">Produktname</div>
                            <div class="product-detail">Produktdetail (2 kg)</div>
                        </div>
                        <div class="cart-product-config">
                            <div class="product-amount">
                                <div class="select" data-select-amount>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option data-more>+</option>
                                    </select>
                                    <input type="text" data-more-amount>
                                </div>
                            </div>
                        </div>
                        <div class="product-price">980,57 €</div>
                        <a href="" class="remove"></a>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-footer">
                <div class="cart-config">
                    <div class="voucher">
                        <form action="">
                            <label>Gutschein</label>
                            <input type="text">
                            <input type="submit" class="btn" value="Einlösen">
                        </form>
                    </div>
                    <div class="checkbox">
                        <label>Ich bin mit den Datenschutzrichtlinien und den AGB einverstanden</label>
                        <input type="checkbox">
                        <span></span>
                    </div>
                    <div class="checkbox">
                        <label>Ich akzeptiere die Bestellbedingungen</label>
                        <input type="checkbox">
                        <span></span>
                    </div>
                </div>
                <div class="cart-summary">
                    <div class="sum">
                        <div class="pair">
                            <div class="key">Zwischensumme</div>
                            <div class="value">129,30 €</div>
                        </div>
                    </div>
                    <div class="additional-information">
                        <p>ergibt sich aus:</p>
                        <div class="pair">
                            <div class="key">Bestellwert:</div>
                            <div class="value">29,50 €</div>
                        </div>
                        <div class="pair">
                            <div class="key">Versandkosten:</div>
                            <div class="value">5,00 €</div>
                        </div>
                        <div class="pair">
                            <div class="key">zzgl. MwSt.:</div>
                            <div class="value">5,66 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-action">
                <a href="" class="btn">Weiter einkaufen</a>
                <a href="" class="btn">Weiter zur Kasse</a>
            </div>
        </div>
    </div>
{% endblock %}