{% extends template('theme/base.html.twig') %}

{% block main %}
    <section class="container">
        <div class="finish">
            <h1>Thank you!</h1>
            <p>
                Your order is placed and is going to be send during 3-5 Workdays. <br>
                You will be redirected, if this is not working please follow <a href="">this link.</a>
            </p>
        </div>
    </section>
{% endblock %}