{% extends template('theme/base.html.twig') %}

{% block main %}
    <section class="container">
        <div class="checkout">
            <h1 class="title">Log in</h1>
            <form action="" class="checkout-form login">
                <input type="email" placeholder="E-Mail Address">
                <input type="password" placeholder="Password">
                <fieldset>
                    <div class="forgot-pw">forgot your password? <a href="">We can help you</a></div>
                    <br>
                    <div class="checkbox">
                        <label>Remember me</label>
                        <input type="checkbox">
                        <span></span>
                    </div>
                </fieldset>
                <input type="submit" class="btn" value="Order as guest">
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </section>
{% endblock %}