{% extends template('theme/base.html.twig') %}

{% block main %}
    <section class="container">
        <div class="checkout">
            <h1 class="title">Your password has been reset.</h1>
            <p>We will redirect you to our start page. If this is not working, follow <a href="">this link.</a></p>
        </div>
    </section>
{% endblock %}