{% extends template('theme/base.html.twig') %}

{% block main %}
    <section class="container">
        <div class="checkout">
            <h1 class="title">Register</h1>
            <div class="forgot-pw">Already have an account? <a href="">Log in</a></div>
            <form action="" class="checkout-form login">
                <fieldset>
                    <div class="select">
                        <select name="" id="">
                            <option value="">Mr.</option>
                            <option value="">Mrs.</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Prename">
                    <input type="text" placeholder="Name">
                </fieldset>
                <fieldset>
                    <input type="text" placeholder="Street">
                    <input type="text" placeholder="Number">
                    <input type="text" placeholder="PLZ">
                    <input type="text" placeholder="City">
                    <input type="text" placeholder="Country">
                    <input type="text" placeholder="Company">
                </fieldset>
                <fieldset>
                    <input type="email" placeholder="E-Mail">
                    <input type="text" placeholder="Phone">
                </fieldset>
                <fieldset>
                    <div class="checkbox">
                        <label>I agree with the terms of use</label>
                        <input type="checkbox">
                        <span></span>
                    </div>
                </fieldset>

                <input type="submit" class="btn" value="register">
            </form>
        </div>
    </section>
{% endblock %}