{% extends template('theme/base.html.twig') %}

{% block main %}
    <section class="container">
        <div class="checkout">
            <h1 class="title">Shipping Options</h1>
            <form action="" class="checkout-form">
                <ul class="payment-options select-list">
                    <li>
                        <div class="checkbox">
                            <label for="">Standard (1-3 Days)</label>
                            <small class="hint">No extras needed.</small>
                            <input type="radio" name="1">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label for="">Premium (1-2 Days)</label>
                            <small class="hint">+ 1,45 €</small>
                            <input type="radio" name="1">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label for="">Overnight</label>
                            <small class="hint">+ 6,90 €</small>
                            <input type="radio" name="1">
                            <span></span>
                        </div>
                    </li>
                </ul>
                <input type="submit" class="btn" value="Next">
            </form>
        </div>
    </section>
{% endblock %}