{% extends template('theme/base.html.twig') %}

{% block main %}
    <div class="container">
        <section class="page-product">
            <div class="row">
                <div class="col-5">
                    <div class="product-gallery" data-shop-gallery>
                        <div class="stage" data-stage>
                            <img src="https://images.unsplash.com/photo-1539614835982-ca889abfc027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="" data-image-zoom="https://images.unsplash.com/photo-1539614835982-ca889abfc027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80">
                        </div>
                        <ul class="thumbs">
                            <li><img data-image src="https://images.unsplash.com/photo-1539614835982-ca889abfc027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" data-full-image="https://images.unsplash.com/photo-1539614835982-ca889abfc027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80"></li>
                            <li><img data-image src="https://images.unsplash.com/photo-1496044601873-3f373ec781b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80" data-full-image="https://images.unsplash.com/photo-1496044601873-3f373ec781b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80"></li>
                            <li><img data-image src="https://images.unsplash.com/photo-1537743708445-618780d77fbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" data-full-image="https://images.unsplash.com/photo-1537743708445-618780d77fbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></li>
                        </ul>
                    </div>
                    <div class="product-fullscreen" data-product-zoom>
                        <div class="image">
                            <img src="" alt="" data-image-zoomed>
                        </div>
                    </div>
                    <div class="product-table">
                        <div class="label">Product details</div>
                        <div class="table-body">
                            {% for i in 0..5 %}
                            <div class="table-row">
                                <div class="key">Name der sehr lang ist, vorasicht achtung </div>
                                <div class="value">Wert der sehr lang ist, vorasicht achtung</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-6 offset-1">
                    <h1 class="product-title">Produkt mit einem sehr langen namen der über mehrere Zeilen läuft, auch sowas gibt's</h1>
                    <div class="product-status">
                        <p class="in-stock">Deliverable within 2 Days</p>
                    </div>
                    <p class="product-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <div class="product-meta">
                        <div class="product-price">
                            <div class="price">
                                <span class="default-price">950,27 €</span>
                                <span class="reduced-price">600,50 €</span>
                            </div>
                            <div class="price-info">
                                <div class="price-includes">Incl. VAT plus Shipping Costs</div>
                                <div class="unit">(9,00 / Kg)</div>
                            </div>
                        </div>
                    </div>
                    <div class="label">Configurate your product</div>
                    <div class="product-variants">
                        <div class="select">
                            <select>
                                <option disabled selected>Color</option>
                                <option>Black</option>
                                <option>White</option>
                            </select>
                        </div>
                        <div class="select">
                            <select>
                                <option disabled selected>Size</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                        </div>
                    </div>

                    <div class="product-footer">
                        <div class="product-amount">
                            <div class="select" data-select-amount="">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option data-more="">+</option>
                                </select>
                                <input type="text" data-more-amount="">
                            </div>
                        </div>
                        <a href="" class="btn">Add to Cart</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}