cmf_routing:
    dynamic:
        controllers_by_class:
            Enhavo\Bundle\PageBundle\Entity\Page: enhavo_page.controller.page:showResourceAction

doctrine:
    orm:
        resolve_target_entities:
            Enhavo\Bundle\PageBundle\Model\PageInterface: Enhavo\Bundle\PageBundle\Entity\Page

enhavo_app:
    template_paths:
        enhavo_page:
            path: '@EnhavoPageBundle/Resources/views'
            alias: EnhavoPage
            priority: 10
    roles:
        page_index:
            role: ROLE_ENHAVO_PAGE_PAGE_INDEX
            label: page.role.label.index
            translation_domain: EnhavoPageBundle
        page_create:
            role: ROLE_ENHAVO_PAGE_PAGE_CREATE
            label: page.role.label.create
            translation_domain: EnhavoPageBundle
        page_update:
            role: ROLE_ENHAVO_PAGE_PAGE_UPDATE
            label: page.role.label.update
            translation_domain: EnhavoPageBundle
        page_delete:
            role: ROLE_ENHAVO_PAGE_PAGE_DELETE
            label: page.role.label.delete
            translation_domain: EnhavoPageBundle

enhavo_routing:
    classes:
        Enhavo\Bundle\PageBundle\Entity\Page:
            router:
                default:
                    type: routable
                admin:
                    type: id
                    route: enhavo_page_page_update
            generators:
                prefix:
                    type: prefix
                    properties: title
                route_name:
                    type: route_name

enhavo_content:
    sitemap:
        collectors:
            page:
                type: publish
                repository: enhavo_page.repository.page

enhavo_navigation:
    nav_items:
        page:
            type: content
            label: page.label.page
            translation_domain: EnhavoPageBundle
            content_form: Enhavo\Bundle\PageBundle\Form\Type\PageChoiceType
            template: theme/navigation/page.html.twig
