.block-table {
  .row-container {
    position: relative;
  }
  &.loading {
    display: block;
    .entry-row {
      visibility: hidden;
    }
    .row-container {
      background: #072129; opacity: 0.3;
    }
    .loading-spinner {
      height: 100px;
      width: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
      z-index: 10000;
    }
  }
}