.block-table {
  .row-container {
    position: relative;
  }
  &.loading {display: block;position:relative;
    * {@include filter(blur(1px));}
    &:after {content:"\eaa4";font-family:"enhavo-iconfont";-webkit-animation:fa-spin 2s infinite linear; animation: anim-spin 2s infinite linear;font-size:40px;z-index:11;color:#fff;position:absolute;top:calc(50% - 10px);left:50%;@include transform(translate(-50%,-50%));}
    &:before {content:" ";position:absolute;top:-5px;left:-10px;width:calc(100% + 20px);height:calc(100% + 10px);background:rgba(#000,0.7);z-index:1;}
  }
}