body {font-family:"Open Sans", Arial, sans-serif;font-size:12px;line-height:1.42em;
  p {margin:0 0 1em 0;}
  ul {padding-left:23px;margin-bottom:1em;
  	li {
	  + li {margin-top:3px;}
	}
  }
}
img {
	max-width:100%;
}