html, body{
    overflow-x:hidden;
}

[class*="span"].nomargin {margin-left:0;}

a:focus,*:focus {outline:none;text-decoration: none;}
a {color:#4395d1;text-decoration:none;}
a:hover {color:#777;text-decoration:none}

b {font-weight:700;}
body {font: 14px/1.6em "Open Sans";background:#f3f3f3;color: #454545}
img {max-width:100%;}

#content-container {float:left; padding: 60px 0 60px 110px;margin-left: 200px;}
.entry-row:nth-child(2n){background-color: #fbfbfb;}

.formwidget-container .enhavo_gridForm .menu li {padding: 10px 100px 10px 20px;margin-top: 0px;background-color:#f3f3f3;}
.formwidget-container .enhavo_gridForm .menu li:last-child {border-radius:0 0 2px 2px;}
.formwidget-container .enhavo_gridForm .menu li:first-child {border-radius:2px 2px 0 0;}
.enhavo_gridForm .menu li:nth-child(2n) {background:#FFF;}
.formwidget-container .enhavo_gridForm .menu {margin-top: 10px;margin-left: -78px;background-color:transparent;}
.formwidget-container .enhavo_gridForm .menu .triangle-up{border-bottom-color:#f3f3f3;top:-9px;left: 50%;margin-left: -10px;}
.formwidget-container .enhavo_gridForm .menu .triangle-down {bottom:-9px;border-top-color:#f3f3f3;left: 50%;margin-left: -10px;}
.formwidget-container .enhavo_gridForm .item .button-container {line-height: 31px;background-color: #eee;border-bottom: 1px solid #eee;}
.formwidget-container .enhavo_gridForm .item {border-color:#eee;}
.formwidget-container .uploadForm .fileupload-fields { background-color:#F3F3F3;}
.formwidget-container .uploadForm .fileupload-fields .input-container{ background-color:#FFF;}
.formwidget-container label { text-transform:uppercase;letter-spacing:0.02em; font-size:11px; font-weight:700;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.formwidget-container .uploadForm .list .imgContainer.selected { background-color:#F3F3F3;}
.icheckbox-esperanto, .iradio-esperanto {background: #f3f3f3;}
.uploadForm {padding: 10px 0 15px 0;border-bottom: 1px solid #f3f3f3;}
.form-error {background-color: #ffcccc;}
.form-error .label-container label:after {content: '*'; color: #ff0000;}
.form-error-tab span:after {content: '*'; color: #ff0000;}

#iframeContainer {position:fixed;top:0;left:50%;width:1080px;margin-left:-540px;height:100%;z-index:101;display:none;background-color:#fff}
#iframeContainer .close {box-sizing:border-box;padding-left:6px;font-size: 40px;z-index:102;cursor:pointer;position:absolute;top:0;right:-45px;width:45px;height:45px;background:#333;color:#fff;}
#iframeContainer .close:hover {background:#fff;color:#333}
#iframeContainer iframe {border:0;width:100%;height:100%;min-height:500px;}

h1.cat{font-size: 36px;color: #454545;font-weight: lighter;padding: 30px 0px;margin-left: -10px;text-align: left;}

#menu-main{width: 230px;height: auto;}
#menu-main-container .desc {font-size: 12px;line-height: 1.45em;color: #737677;padding: 0 0 0 15px; margin-top:25px;}
#menu-main-container .desc a{color: #FFF;}
#menu-main-container .menu-logo{width: 155px;position: relative;left: 50%;margin-left: -85px;margin-bottom: 15px;margin-top: 40px;}

#menu-main li a {text-transform: uppercase;font-weight: 600;letter-spacing: 1px;display:block;padding: 10px 40px 10px 40px;background-position:156px 10px;background-repeat:no-repeat;color:#a8b2b4;text-align:left;font-size: 12px;}
#menu-main li.selected{background: #20383f;}
#menu-main li a:hover,
#menu-main li.selected a {color:#fff;;filter:none;}
#menu-main-container {position: absolute;background:#072129;height: auto;min-height:100%;}
#menu-main li a:before{font-size: 16px;color:#a8b2b4;font-family: "enhavo-iconfont";font-weight: normal;padding-right: 10px;}
.menu-icon-logout:before{content: '\e9d7';}

#user-menu {position:fixed;padding-top:12px;right:0; top:0; background:transparent; width:100%; height:55px;}
#user-menu.background {transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;-ms-transition:all .4s;background:#FBFBFB;}
#user-menu ul{ position:absolute; right:0;}
#user-menu .btn{color:#a7b1b3;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;-ms-transition:all .2s;right:20px; position:absolute;white-space:nowrap}
#user-menu .menu-btn {padding-top:5px;width:auto;}
#user-menu ul li{float:left; margin-right:20px;}
#user-menu ul li:last-of-type{margin-right:40px;}
#user-menu ul li:not(.menu-btn){ display:none;}
#user-menu ul li a{color:#a7b1b3; padding-top:6px; display:inline-block; font-weight:600;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;-ms-transition:all .2s;}
#user-menu ul li a:hover{ color:#737677;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;-ms-transition:all .2s;}

#overlay {position:fixed;top:0;left:0;width:100%;height:100%;background:#072129;opacity:0.8;z-index:99;display:none;}
#overlayContent {position:fixed;top:0;left:0;width:100%;height:100%;overflow-y:auto;z-index:100;display:none;}
#overlayContent .container {margin: 50px auto 0 auto;padding-top:10px;padding-bottom:10px;border-radius: 2px;}
#overlayMessage {position:fixed;top:0;left:50%;width:30%;margin-left:-15%;padding:10px;color:#fff;opacity:0.9;z-index:1001;display:none;box-shadow:0px 0px 6px #333;}
#overlayMessage.info {background:#0099dd;}
#overlayMessage.success {background:#90dd66;}
#overlayMessage.error {background:#dd6666;}
#overlayMessage.loginMessage {position: absolute;bottom: -42px;height: 42px;left: 0;width: 100%;margin-left: 0;border-radius: 0 0 2px 2px;padding: 10px;color: #fff;opacity: 1;z-index: 1001;display: none;text-align:center;box-shadow: 0px 0px 6px #333;}
#loginBox #overlayMessage.loginMessage { top:initial;}

#background{width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.no-data {padding: 10px 40px;}

#overlayContent .category-list .choice-input-with-label { margin-bottom:12px;}

#search_form { position:relative;}
#search {padding: 10px 50px;width: 100%;border: 1px solid #eee;}
#search_form:before {content:'\e94b';font-family: "enhavo-iconfont"; display:inline-block;color:#FFF; background:#0090bc;border-radius:50%; width:25px; height:25px; position:absolute;left: 12px;top: 9px;padding: 1px 6px;}
#submit_search { position: absolute;right: 0;top: 0;background: #fbfbfb;border-width: 1px 1px 1px 0;border-style:solid;border-color:#eee;padding: 10px 19px;}
#submit_search:after {content:'\e9f0';font-family: "enhavo-iconfont";color:#3d3d3d}
#search::-webkit-input-placeholder { color:#d3d3d3;text-transform: none;letter-spacing: 0px;font-size: 14px;font-weight: 600;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search::-moz-placeholder { color:#d3d3d3;text-transform: none;letter-spacing: 0px;font-size: 14px;font-weight: 600;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search::-ms-input-placeholder { color:#d3d3d3;text-transform: none;letter-spacing: 0px;font-size: 14px;font-weight: 600;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search input:-moz-placeholder { color:#d3d3d3;text-transform: none;letter-spacing: 0px;font-size: 14px;font-weight: 600;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search:focus::-webkit-input-placeholder { opacity:0;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search:focus::-moz-placeholder { opacity:0;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search:focus::-ms-input-placeholder { opacity:0;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search:focus input:-moz-placeholder { opacity:0;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
#search-results h3 { font-size:11px; letter-spacing:4px; text-transform:uppercase; font-weight:700; margin-top:25px;letter-spacing: 0.02em;}

#search-results .entry-row:first-child {border-radius:2px 2px 0 0}
#search-results .entry-row:last-child {border-radius:0 0 2px 2px}
.entry-row:nth-child(2) { background-color:#fbfbfd;}
#search-results .entry-row{padding: 10px 14px;}
#search-results .entry-row h1{ font-weight:700;}
.search-result-type { text-align:right;}

@media all and (min-width: 1351px) {
    #background{ background: url(../img/enhavo_forest_bg_low.jpg) no-repeat;-webkit-background-size: cover;background-size: cover;}
}

@media all and (max-width: 1350px) {
    #background{ background: url(../img/enhavo_forest_bg_high.jpg) no-repeat;-webkit-background-size: cover;background-size: cover;}
}


#loginBox {background-color: #072129;width: 650px;position: absolute;left: 50%;margin-left: -325px;top: 50%;border-radius: 2px;-webkit-box-shadow: 0 1px 18px rgba(0,0,0,0.47);-moz-box-shadow: 0 1px 18px rgba(0,0,0,0.47);box-shadow: 0 1px 18px rgba(0,0,0,0.47);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
#loginBox .logo{width: 245px;margin: 0 auto;padding: 50px 0;}
#loginBox p{color: #82888b;padding: 40px 40px 20px 40px;line-height: 1.45em;font-size: 11px;}
#loginBox p a {font-size: 11px;font-weight: 700;}
#loginBox label{color: #82888b;font-size: 14px;padding-left: 10px;}
#loginBox a:hover{color: #FFF;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
#loginBox a{color: #82888b;font-size: 14px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
#loginBox .input-container{padding: 17px 20px;background: #FFF;border-radius: 2px;}
#loginBox .col-md-7 {float: none;margin: 3px auto;}
#loginBox .btn { display:block; width:100%;background: #0090ba;text-align: center;color:#FFF;border-radius: 2px;padding: 17px 10px;margin-top: 35px;font-size: 14px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
#loginBox .btn:hover {-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
.reset{padding-left: 0;}
.reset a{float: right;margin-top: 8px; text-align:right;}
#loginBox .ribbon {position: absolute;right: 43px;width: 48px;height: 55px;top: -1px;z-index: 5;background: url(../img/ribbon.png) no-repeat center center;-webkit-background-size: 100%;background-size: 100%;}
#loginBox .ribbon span{position: absolute;left: 11px;top: 13px;color: #FFF;font-size: 11px;}
.loginContainer {width: 58.33333333%; margin:0 auto;}
#loginBox .resetButton { background:#82888b;margin-top: 15px;}
#loginBox .resetButton a{ float:none;text-align:center;color:#FFF; font-weight:800;}
#loginBox .confirmation { padding-top:0;font-size:16px;color:#FFF; text-align:center;}
#loginBox .confirmation i{ color:#40cf19; padding-right:10px;}

input[type="checkbox"]{
    opacity:0;
    padding: 0;
    cursor: pointer;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

input[type="checkbox"] + span{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: -15px;
    position: relative;
    top: 5px;
    border-radius: 2px;
    background: url("../img/checkbox.png") left top no-repeat;
    z-index: -1;
}

input[type="checkbox"]:checked  + span{background: url("../img/checkbox.png") -23px top no-repeat !important;}

/* all */
::-webkit-input-placeholder { color:#d3d3d3;text-transform: uppercase;letter-spacing: 2px;font-size: 14px;font-weight: 600;}
::-moz-placeholder { color:#d3d3d3;text-transform: uppercase;letter-spacing: 2px;font-size: 14px;font-weight: 600;}
:-ms-input-placeholder { color:#d3d3d3;text-transform: uppercase;letter-spacing: 2px;font-size: 14px;font-weight: 600;}
input:-moz-placeholder { color:#d3d3d3;text-transform: uppercase;letter-spacing: 2px;font-size: 14px;font-weight: 600;}


.action-row {margin-bottom:45px;}
.action-row [class*=col-]:first-child {padding-left:0;}
.btnsmall {display: inline-block;padding: 10px 0 0 0;text-align:center;vertical-align: middle;cursor:pointer;font-size: 28px;color:#4395d1;font-weight:700;border:none;}
.btnsmall[class*="fa-"] {font-weight:normal;}
.btn i {position:relative;top:-1px;}
.btn.create{background: none;color: #0090ba;text-align: left;font-size: 14px; padding-right:15px;}
.btn.create:before{content: '\e834';font-family: "enhavo-iconfont";font-size:28px;display:inline-block;margin: 0 6px 0 0;position: relative;top: 4px;}
.btn.dropdown{background: none;color: #a7b1b3;text-align: left;font-size: 14px;}
.btn.dropdown:before{font-family: "enhavo-iconfont";position: relative;border-radius: 50%;background: #a7b1b3;width: 23px;height: 23px;margin-right: 5px;content: '\e8d8';display: inline-block;font-size: 16px;font-weight: 700;text-align: center;color: #fbfbfb;}
.btn.dropdown.clicked:before{font-family: "enhavo-iconfont";position: relative;border-radius: 50%;background: #a7b1b3;width: 23px;height: 23px;margin-right: 5px;content: '\e8d9';display: inline-block;font-size: 16px;font-weight: 700;text-align: center;color: #fbfbfb;}
.btn{
    border: 0;
    font-weight: 700;
    background: none;
    color: #0090ba;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    transition:all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}

.btn:hover{
    color: #4ea2e0;
    transition:all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}


.btn:before{
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    font-weight: normal;
}

#overlayContent form > .row:last-of-type .col-md-2 .btn.save:before{
    font-family: "enhavo-iconfont";
    font-size: 22px;
    vertical-align: text-bottom;
    position: relative;
    top: 4px;
}

.btn .button-icon {
    font-family: "enhavo-iconfont";
    font-size: 22px;
    vertical-align: text-bottom;
    position: relative;
    top: 1px;
}



.btn.upload-button:before{
    content: '\e817';
    font-family: "enhavo-iconfont";
    font-size: 26px;
    position: relative;
    top: 4px;
    display:inline-block;
    margin-right:5px;
}

.bullList {list-style:disc;padding-left:20px;}

.container {width: 980px;}

.head-row > div[class*="col-"] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.entry-row {background:#fff;cursor:pointer;padding-top:10px;padding-bottom:10px;position:relative;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
.entry-row:hover {background-color:#4395d1;color:#fff;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;}
.head-row {font-weight:700;margin-bottom:5px;letter-spacing: 0.02em;text-transform: uppercase;font-size: 11px;}
.layer {background:#fff;color:#333;}
.layer.dark {background:#777;color:#fff;}
.label-container {padding:0px 10px 2px 10px;margin-top:5px; text-transform:uppercase; font-size:11px; letter-spacing:0.02em; font-weight:700;}
.head-row.has-batch-actions {padding-left:42px;}
.row-container .entry-row.has-batch-actions {padding-left:42px;}
.row-container .entry-row.marked {background-color: #ddd;}
.row-container .entry-row.marked:hover {background-color: #4395d1;}
.batch-checkbox-wrapper {position:absolute;left:0;top:0;padding:10px 12px;}
.entry-row.has-batch-actions.batch-checkbox-wrapper:hover {background-color:#3d88be;}
.batch-checkbox-wrapper .icheckbox-esperanto {margin:0;width:21px;height:21px;line-height:12px;border-radius:50%;}
.batch-checkbox-wrapper .icheckbox-esperanto:before {content: '';font-family: 'enhavo-iconfont';color:#ccc;padding: 2px 0;display: block;}
.batch-checkbox-wrapper .icheckbox-esperanto.checked:before {content:"\e847";color:#0090ba;}
.choice-input-container .icheckbox-esperanto.checked:before {content: '\e847';font-family: 'enhavo-iconfont';color:#0090ba;}
.select2-search input {padding: 0px 19px 0 5px;border-color:#eee}
.row-container .entry-row:first-child{border-radius:2px 2px 0 0}
.row-container .entry-row:last-child{border-radius:0 0 2px 2px}

.batch-actions-wrapper {margin-top:15px;background-color:#fff;position:relative;padding:6px 21px 6px 42px;line-height:30px;float:left;border-radius:2px}
.batch-actions-wrapper .batch-checkbox-wrapper {padding:6px 12px;}
.batch-actions-select-wrapper {float:left;padding:0 10px;}
.batch-actions-submit-wrapper {float:left;padding:0 10px;}
.select2-drop {border-radius: 0 0 2px 2px;}
.batch-actions-submit-wrapper i { font-size:26px;top: 4px;}
.batch-actions-submit-wrapper .btn {line-height: 0;}

#overlayContent .dialog {margin:200px auto 0 auto;padding:10px;border-radius:2px;width:360px;background-color:#fff;}
#overlayContent .dialog .dialog-content {text-align: center;padding-left:50px;position:relative;}
#overlayContent .dialog .dialog-content .dialog-icon {position:absolute;left:0;top:0;font-size:40px;}
#overlayContent .dialog .dialog-content .dialog-icon.dialog-icon-warning {color:#d87676;}
#overlayContent .dialog .dialog-content .dialog-icon.dialog-icon-error {color:#d87676;}
#overlayContent .dialog .dialog-buttons::after {clear:both;content:" ";display:table;}
#overlayContent .dialog .dialog-buttons {margin-top:10px;}
#overlayContent .dialog .dialog-buttons .btn {float:right;margin-left:30px;width:auto;}

#confirmDialog {display: none}
#alertDialog {display: none}


.col-position {padding: 0;}
.sortable-button {display:block;margin:-10px 0;padding:10px 0;width:100%;text-align:center;cursor:move;}
.sortable-button:hover {background-color:#fff;color:#000;}

#page { width:100%; height:100%; position:relative;min-height: 100vh;}

.pagination{margin-left: -10px;margin-right:-10px; margin-top:22px;}
.pagination a {display: inline-block;margin: 8px 2px;border-radius: 50%;padding: 3px;width: 25px;height: 25px;line-height: 18px;cursor: pointer;background: #FFF;border: 0;box-shadow: 0;text-align: center;color: #454545;}
.pagination a:hover,
.pagination a.selected {color:#fff;background-color:#4395d1;}
.sortable-droptarget {border: 1px solid transparent;}
.sortable-droptarget.drag-active {border: 1px dashed #4395d1;}
.pagination a.drag-active{border-radius: 0;}
.pagination a.drag-active.drag-over{background: #85cbff;}

.small-dialog {width: 465px;}
.table-headline {color:#fff;margin-top:20px;margin-bottom:10px;}

.tabContainer{margin-top: -10px;}
.tabContainer .container-fluid{padding: 0;border-radius: 2px;}
.tabContainer a { position:relative;border-right: 1px solid #FFF;width: auto;float:left;display:block;background:#f3f3f3;color:#a9a9a9;letter-spacing: 0.04em;text-transform: uppercase;text-decoration:none;font-size: 12px;font-weight:700;height: 40px;}
.tabContainer a:after {border-radius: 0 2px 0 0;z-index:9;border-right:1px solid #FFF;width: 50px;height: 40px;background: #f3f3f3;float: right;content: "";transform: skew(40deg);-webkit-transform: skew(30deg);-moz-transform: skew(30deg);-ms-transform: skew(30deg);-o-transform: skew(30deg); position:absolute; right:-15px;}
.tabContainer a span{ position:relative; z-index:10;padding: 10px 35px;display: inline-block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.tabContainer a:last-child {margin-right:0;}
.tabContainer a:first-child {border-radius: 2px 0 0 0;}
.tabContainer a.selected {background-color:#FFF;z-index: 10;position: relative;}
.tabContainer a.selected:after {background-color:#FFF;}
.tabContainer a:hover {opacity: 1;color:#4395d1;}
.tabContainer a:hover:after {opacity: 1;}
.tabContentContainer {padding-bottom: 50px;padding-top: 50px;background:#fefefe;border-radius:0 2px 0 0}
.tabContentContainer .choice-input-with-label:first-child .icheckbox-esperanto { margin-left:0;}
.tabContentContainer .choice-input-with-label .icheckbox-esperanto { border-radius:50%; margin-left:0;}

#list-fields .listElement{ padding-bottom:45px;}
.tabContentContainer #list-fields .button-container { height:33px;line-height: 31px;background-color: #eee;border-bottom: 1px solid #eee;}
.tabContentContainer #list-fields .button-container .button:hover i { color:#FFF}
.tabContentContainer #list-fields .button-container .button:hover { background:#4395d1;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete { height:32px;padding: 5px 2px 5px 5px;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete:hover {  background:#4395d1;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete:hover i {color:#FFF}
.tabContentContainer #list-fields.sortable-border-delete .listElement .input-container { margin-left:0;}

.tabContentContainer #list-fields .button-container { height:33px;line-height: 31px;background-color: #eee;border-bottom: 1px solid #eee;}
.tabContentContainer #list-fields .button-container .button:hover i { color:#FFF}
.tabContentContainer #list-fields .button-container .button:hover { background:#4395d1;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete { height:32px;padding: 5px 2px 5px 5px;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete:hover {  background:#4395d1;}
.tabContentContainer #list-fields.sortable-border-delete .button-delete:hover i {color:#FFF}
.tabContentContainer #list-fields.sortable-border-delete .listElement .input-container { margin-left:0;}

.error {color:#d87676;}
.hintBox {padding:1em;background:#d7f3ff;}
.success {color:#76d878;}

.posrel {position:relative;}

.loading-overlay {background-color:#072129;opacity:0;position:fixed;left:0;top:0;width:100%;height:100%;z-index:9001;text-align:center;}
.loading-overlay .loading-icon {font-size:60px;position:relative;top:40%;color:#fff;cursor:default;}

/* general */

.cwhite {color:#fff;}
.clickable {cursor:pointer;}
.hidden {display: none;}
.mb05em {margin-bottom:0.5em;}
.mb1 {margin-bottom:15px;}
.mb1em {margin-bottom:1em;}
.mb2em {margin-bottom:2em;}
.mb3 {margin-bottom:30px;}
.mr1em {margin-right:1em;}
.mt1 {margin-top:10px;}
.mt1em {margin-top:1em;}
.mt3 {margin-top:30px;}
.nlh {line-height:0;}
.pt5px {padding-top:5px;}
.p1 {padding:5px;}
.pl1em {padding-left:1em;}
.pl2em {padding-left:2em;}
.pt05em {padding-top:0.5em;}
.pt1em {padding-top:1em;}
.pt2em {padding-top:2em;}
.pv1em {padding-top:1em;padding-bottom:1em;}
.pt1 {padding-top:4px;}
.pt2 {padding-top:6px;}
.pt5px {padding-top:5px;}
.pt05em {padding-top:0.5em;}
.pt1em {padding-top:1em;}
.pt2em {padding-top:2em;}
.pull-left {float:left;}
.pull-right {float:right;}
.text-right {text-align:right;}
.ml0 {margin-left: 0}

.text-right {text-align:right;}
.text-left {text-align:left;}
.text-center {text-align:center;}


@media all and (max-width:1250px){
    #menu-main-container{width: 20%;min-width: 160px;}
    #menu-main{width: 100%;}
    #content-container{width: 80%;padding: 60px 30px;margin-left: 20%;}
}

@media all and (max-width:1024px) {
    #menu-main-container {width: 25%;}
    #content-container{width: 75%;margin-left: 25%;}
    .container{width: 100%}
    #overlayContent .container {padding: 0 60px 10px 60px;}
    .tabContentContainer {padding: 50px 20px 50px 20px;}
    .batch-actions-wrapper { width:100%;}
    .tabContainer a span{padding: 10px 25px;display: inline-block;}
}

@media all and (max-width:991px) {
    #menu-main li a{padding: 10px 40px 10px 20px;}
    #menu-main-container .menu-logo { left:13px; margin-left:0;}
    #overlayContent .form-container form > .row:last-of-type{padding: 25px 20px;}
    .formwidget-container .enhavo_gridForm .menu { margin-left:0;}
    .formwidget-container .enhavo_gridForm .menu .triangle-up { margin-left:0; left:9px;}
    .formwidget-container .enhavo_gridForm .menu .triangle-down { margin-left:0; left:9px;}
    #overlayContent .btn{ padding:0 0 18px 0;}
}

@media all and (max-width:767px) {
    #menu-main-container {width: 200px;margin-left: -200px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
    #content-container{width: 100%;margin-left: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}

    .responsive-menu-btn{cursor: pointer;z-index: 1;position: absolute;left: 20px;padding: 19px 0;}
    .responsive-menu-btn:after{content:"Menu";color: #4395d1;font-size: 14px;padding: 0 7px;display: inline-block;font-weight: 700;font-size: 14px;}

    .responsive-menu-btn{display: block;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
    .responsive-menu-btn:before{content: '\e9cc';padding: 1px 6px 0 6px; display:inline-block;font-family: "enhavo-iconfont";border-radius:50%; color:#f3f3f3;background:#4395d1; position:relative; top:-2px; width:23px; height:23px; font-size:13px;}
    .responsive-menu-btn.push:before {content: '\e847';padding: 1px 5px 0 5px;}

    #user-menu { position:absolute; height:100%; right:-200px; width:200px;transition:all .2s}
    #user-menu.push-left {right:0;transition:all .2s;}
    #user-menu ul{width: 100%;top: 0;}
    #user-menu .menu-btn {height: 55px;background:transparent;display: block;width: 100%;border-bottom: 1px solid #f3f3f3;}
    #user-menu .menu-btn .btn {padding: 13px 20px 13px 0; text-align:right;float: right; right:200px;}
    #user-menu ul li { margin-right:0; float:none;background: #FFF;}
    #user-menu ul li a{display: block;text-align: right;padding: 10px 20px;border-bottom: 1px solid #f3f3f3;}
    #user-menu ul li:last-of-type { margin-right:0;}
    #user-menu.background { background:#FFF;}

    #menu-main-container.active{margin-left: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
    #content-container.push, .responsive-menu-btn.push{margin-left: 200px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
    .btn{width:100%;}
    .label-container {padding: 0px 5px 2px 5px;}
    .label-container label {margin-left: 5px;display: inline-block;}
    .tabContainer a:after{position: relative;}
    .tabContainer a {padding-left: 17px;}
    #overlayContent .btn{ padding:12px 0;}

    #overlayContent .container { padding:0 30px;}

    #loginBox {width: 90%;margin-left: -45%;}
    .loginContainer {width: 80%;}
    .reset {padding-left: 0;}
    .reset a {float:none;margin-left: 10px; text-align:left;display: block; margin-top:15px;}
    .reset a:before {content: '\ea7a'; display:inline-block;font-family: "enhavo-iconfont"; margin-right:17px; margin-left:5px; }
    #loginBox .resetButton a { margin-top:0;}
}

@media all and (max-width:600px) {
    #menu-main-container { width:100%;margin-left: -100%;}
    #menu-main-container.active { margin-left:0; }
    #content-container.push { margin-left:100%; }
    .responsive-menu-btn.push { margin-left:0;}
    #user-menu { background:#FFF;}
    #menu-main-container .menu-logo { left:10px; margin-left:0;margin-top: 70px;}
    .responsive-menu-btn.push:before {color:#072129}
    #user-menu{ width:100%; right:-100%;}
    #user-menu .menu-btn .btn{ right: 100% !important; padding-right:15px;}
    #user-menu.push-left .menu-btn .btn{ right:0 !important; padding-right:15px;}
    #user-menu ul li a {padding: 10px 15px;}
    #content-container.push-left {margin-left: -100%;}
    .tabContentContainer {padding: 30px 0;}
    #overlay { position:relative;}
    #overlayContent { position:absolute;overflow-y: initial;}
    #overlayContent .container {padding: 0; margin-top:0; background:#FFF;}
    #overlayContent .container form{padding: 0 20px;}
    .tabContainer a{text-align:center; width:auto; height:60px; padding-left:0;}
    .tabContainer a span{padding: 26px;}
    .tabContainer a:after{ display:none;}
    #loginBox { border-radius:0;width:100%;height: 100%;margin:0;position:relative; left:0; top:0; -webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
    .loginContainer {width: 91%;}
    #loginBox .input-container {padding: 11px 15px;}
    #loginBox .ribbon {right: 4.5%;}
    #loginBox .btn{padding: 11px 10px;margin-top: 16px;width: 100%; position:relative;}
    #loginBox p {padding: 20px 4.5%;width: 100%;position: relative;background: #072129;}
    #loginBox .logo {padding:50px 0 20px 0;}
    #background { background:none;}
    input[type="checkbox"]{transform: none; display:block;}
    input[type="checkbox"] + span { margin-left:0;}
    #loginBox .resetButton a{ margin:0;}
    .tabContainer .container-fluid { background:#f9f9f9;}
    #loginBox #overlayMessage.loginMessage {top:0;border-radius:0;bottom:initial;padding: 12px; height:47px;box-shadow:none}
}
