framework:
    translator: { fallback: "%locale%" }
    validation:
        enabled: true
    session:
        cookie_lifetime: 25920000

doctrine:
    dbal:
        mapping_types:
            enum: string
            json: string
            json_array: string

stof_doctrine_extensions:
    default_locale: "%locale%"
    orm:
        default:
            sluggable: true
            timestampable: true

sylius_resource:
    authorization_checker: enhavo_app.security.default_authorization_checker

jms_serializer:
    metadata:
        auto_detection: false

enhavo_app:
    locale: "%locale%"
    template_paths:
        enhavo_app:
            path: '@EnhavoAppBundle/Resources/views'
            alias: 'EnhavoApp'
            priority: 10
