<article class="block">
    <div class="block-slider" data-hero-slider>
        {% for slide in slides %}
            <div class="slide">
                <div class="bg" style="background:url({{ media_url(slide.image) }}) no-repeat center bottom/cover;"></div>
                <div class="caption">
                    <div class="title">{{ slide.title }}</div>
                    <div class="text">{{ slide.text }}</div>
                    <a href="{{ slide.url }}" class="btn white">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</article>

