Enhavo\Bundle\NewsletterBundle\Entity\Group:
    type: entity
    table: newsletter_group
    repositoryClass: Enhavo\Bundle\NewsletterBundle\Repository\GroupRepository

    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: text
            nullable: false
        code:
            type: string
            nullable: false

    manyToMany:
        subscriber:
            targetEntity: Enhavo\Bundle\NewsletterBundle\Model\SubscriberInterface
            mappedBy: group

    oneToMany:
        newsletters:
            targetEntity: Enhavo\Bundle\NewsletterBundle\Model\NewsletterInterface
            mappedBy: newsletters