services:
    Enhavo\Bundle\UserBundle\Form\Type\RegistrationType:
        arguments:
            - '%enhavo_user.model.user.class%'
        tags:
            - { name: form.type }

    Enhavo\Bundle\UserBundle\Form\Type\ResetPasswordType:
        tags:
            - { name: form.type }

    Enhavo\Bundle\UserBundle\Form\Type\RequestPasswordResetType:
        tags:
            - { name: form.type }

    Enhavo\Bundle\UserBundle\Form\Type\UserType:
        arguments:
            - '%enhavo_user.model.user.class%'
            - '@security.authorization_checker'
            - [default]
        tags:
            - { name: form.type }

    Enhavo\Bundle\UserBundle\Form\Type\ProfileType:
        arguments:
            - '%enhavo_user.model.user.class%'
        tags:
            - { name: form.type, alias: 'enhavo_user_profile' }

    Enhavo\Bundle\UserBundle\Form\Type\GroupType:
        tags:
            - { name: form.type, alias: 'enhavo_user_group' }
        arguments:
            - '%enhavo_user.model.group.class%'
            - [default]

    Enhavo\Bundle\UserBundle\Form\Type\PermissionType:
        tags:
            - { name: form.type, alias: 'enhavo_user_permission' }
        arguments:
            - '@security.roles.provider'

    Enhavo\Bundle\UserBundle\Form\Type\UserAutoCompleteEntityType:
        tags:
            - { name: form.type }
        arguments:
            - '%enhavo_user.model.user.class%'

    Enhavo\Bundle\UserBundle\Form\Type\LoginType:
        tags:
            - { name: form.type }
        arguments:
            - '@Enhavo\Bundle\UserBundle\Form\EventListener\CredentialsEventSubscriber'

    Enhavo\Bundle\UserBundle\Form\EventListener\CredentialsEventSubscriber:
        arguments:
            - '@session'
            - '@security.csrf.token_manager'