services:
    Enhavo\Bundle\UserBundle\User\UserManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Enhavo\Bundle\AppBundle\Mailer\MailerManager'
            - '@enhavo_user.repository.user'
            - '@Enhavo\Bundle\UserBundle\Mapper\UserMapper'
            - '@enhavo_app.util.secure_url_token_generator'
            - '@translator'
            - '@form.factory'
            - '@security.encoder_factory.generic'
            - '@router'
            - '@event_dispatcher'
            - '@security.token_storage'
            - '@request_stack'
            - '@security.authentication.session_strategy.main'
            - '@security.user_checker.main'
            - ~
            - '%enhavo_user.config%'
            - '%enhavo_user.mail%'
            - '%enhavo_user.parameters%'

    Enhavo\Bundle\UserBundle\EventListener\SaveUserSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\Security\Authentication\Voter\GroupRoleVoter:
        public: false
        tags:
            - { name: security.voter }

    Enhavo\Bundle\UserBundle\Widget\LoginWidgetType:
        public: true
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@request_stack'
            - '@security.csrf.token_manager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.widget, alias: login }

    Enhavo\Bundle\UserBundle\Security\Authentication\FormLoginAuthenticator:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@router'
            - '@security.csrf.token_manager'
            - '@security.user_password_encoder.generic'
            - '@Enhavo\Bundle\UserBundle\Mapper\UserMapper'
            - '@event_dispatcher'
            - '%enhavo_user.model.user.class%'

    Enhavo\Bundle\UserBundle\Security\UserChecker: ~

    Enhavo\Bundle\UserBundle\Mapper\UserMapper:
        arguments:
            - '%enhavo_user.mapper%'
