services:
    Enhavo\Bundle\UserBundle\User\UserManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Enhavo\Bundle\AppBundle\Mailer\MailerManager'
            - '@Enhavo\Bundle\UserBundle\Mapper\UserMapper'
            - '@enhavo_app.util.secure_url_token_generator'
            - '@translator'
            - '@security.encoder_factory.generic'
            - '@router'
            - '@event_dispatcher'
            - '@security.token_storage'
            - '@request_stack'
            - '@security.authentication.session_strategy.main'
            - '@security.user_checker.main'
            - '%enhavo_user.default_firewall%'

    Enhavo\Bundle\UserBundle\EventListener\UserAuthenticationSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
            - '@request_stack'
            - '@router'
            - '@translator'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\SaveUserSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\Security\EntryPoint\FormAuthenticationEntryPoint:
        decoration_priority: 1
        decoration_on_invalid: exception
        decoration_inner_name: security.authentication.form_entry_point.admin.inner
        decorates: security.authentication.form_entry_point.admin
        arguments: ['@security.authentication.form_entry_point.admin.inner']

    Enhavo\Bundle\UserBundle\Security\Authentication\Voter\GroupRoleVoter:
        public: false
        tags:
            - { name: security.voter }

    Enhavo\Bundle\UserBundle\Widget\LoginWidgetType:
        public: true
        arguments:
            - '@request_stack'
            - '@security.csrf.token_manager'
        calls:
            - [setContainer, ['@service_container']]
        tags:
            - { name: enhavo.widget, alias: login }

    Enhavo\Bundle\UserBundle\Security\Authentication\FormLoginAuthenticator:
        arguments:
            - '@enhavo_user.user.manager'
            - '@enhavo_user.repository.user'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
            - '@router'
            - '@security.csrf.token_manager'
            - '@security.user_password_encoder.generic'
            - '@Enhavo\Bundle\UserBundle\Mapper\UserMapper'
            - '@event_dispatcher'
            - '%enhavo_user.model.user.class%'

    Enhavo\Bundle\UserBundle\Security\UserChecker: ~

    Enhavo\Bundle\UserBundle\Mapper\UserMapper:
        arguments:
            - '%enhavo_user.mapper%'

    Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider:
        arguments:
            - '%enhavo_user.config%'

    Enhavo\Bundle\UserBundle\Validator\Constraints\UserExistsValidator:
        arguments:
            - '@enhavo_user.repository.user'
        tags:
            - { name: validator.constraint_validator }

    Enhavo\Bundle\UserBundle\Validator\Constraints\EmailNotExistsValidator:
        arguments:
            - '@enhavo_user.repository.user'
        tags:
            - { name: validator.constraint_validator }

    Enhavo\Bundle\UserBundle\Validator\Constraints\UserEmailValidator:
        arguments:
            - '@security.token_storage'
        tags:
            - { name: validator.constraint_validator }

    Enhavo\Bundle\UserBundle\Twig\TwigExtension:
        arguments:
            - '@security.csrf.token_manager'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
            - '@router'
        tags:
            - { name: twig.extension }
