services:
    Enhavo\Bundle\UserBundle\EventListener\PasswordExpiredSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\NotEnabledSubscriber:
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\TooManyLoginAttemptsSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\VerificationRequiredListenerSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
            - '@Enhavo\Bundle\UserBundle\Configuration\ConfigurationProvider'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\LastLoginSubscriber:
        arguments:
            - '@Enhavo\Bundle\UserBundle\User\UserManager'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\TokenInvalidSubscriber:
        arguments:
            - '@Enhavo\Bundle\AppBundle\Template\TemplateResolverInterface'
            - '@twig'
        tags:
            - { name: kernel.event_subscriber }

    Enhavo\Bundle\UserBundle\EventListener\CsrfDisableSubscriber:
        arguments:
            - '@Enhavo\Bundle\ResourceBundle\Security\CsrfChecker'
        tags:
            - { name: kernel.event_subscriber }
