{% extends template('theme/base.html.twig') %}

{% block main %}
    <div class="exception exception-{{ status_code }}">
        <div class="container">
            <h1 class="exception-headline">{{ 'exception.default.title'|trans({}, 'EnhavoAppBundle') }}</h1>
            <div class="exception-message">
                {{ 'exception.default.text'|trans({}, 'EnhavoAppBundle')|raw }}
            </div>
            <a class="exception-link" href="/">{{ 'exception.default.link_homepage'|trans({}, 'EnhavoAppBundle') }}</a>
        </div>
    </div>
{% endblock %}
