.download {
  padding-bottom:0;
  li{
    background:$softwhite;border-bottom:0;
    &:nth-child(2n) {
      background:#FFF;
      .download-btn{ background:$softwhite;}
    }
    a {
      color:$aubergine;
      .download-btn{
        background:$light;
        i{color:$mediumlight;}
      }
      .download-desc {color:$medium;}
      .download-btn {border-radius:0; width:68px; height:68px;padding: 24px 22px; margin-top:0;}
      .download-title {padding: 22px 0 22px 35px;}
    }
    &:hover {
      background:$light;
      a {
        .download-title{color: $medium;}
        .download-desc{color: $mediumlight;}
        .download-btn{
          background:$blueberry;
          i{
            color:#FFF; top:150px;
            &.hover {top:50%;@include transform(translateY(-50%));}
          }
        }
      }
    }
  }
}

@media all and (max-width:1150px) {
  .download {
    li {
      a {
        .download-desc { padding:22px $smallerColumnSpacing;}
      }
    }
  }
}

@media all and (max-width:767px) {
  .download {
    padding-bottom:0;
    li {
      a {
        .download-title { float:none;padding: 24px 0 0 20px; width:calc(100% - 88px);}
        .download-desc { float:none;padding: 6px 30px 12px 30px; width:calc(100% - 88px); text-align:left;}
        .download-btn {width: 68px;height: 68px;padding: 24px 22px;}
      }
    }
  }
}

@media all and (max-width:479px) {
  .download {
    li {
      a {
        .download-title { font-size:$smallFontSize;}
        .download-desc { font-size:$smallFontSize;}
      }
    }
  }
}